# Python
__pycache__/
*.pyc
*.pyo
*.pyd

build.sh

/.github/

# Django
db.sqlite3
/media/
staticfiles/

# Celery
celerybeat-schedule*
celerybeat.pid

# Caches
.ruff_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Env files
.env

# Backup files
*.bak

# Node (if any frontend)
node_modules/
dist/
build/

recipes/__pycache__/