{% load static %}

{% load hitcount_tags %}

{% load i18n %}

{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base theme</title>
</head>

{% if user.is_authenticated %}

    {% if user.userprofile.theme == 'Dark theme' or user.userprofile.theme == 'default_dark_theme' or user.userprofile.theme == 'dark_theme1' %}
        <style>
            .accordion-body:not(.all-recipes-cards){
            background: rgba(25, 25, 25, 0.605);
            }

            .appearance-tab-content form button,
            .appearance-tab-content form button:hover,
            .appearance-tab-content form button:focus,
            #dark_buttons:active {
                background: #B2B2B2;
            }
        </style>

    {% else %}
        <style>
            .accordion-body:not(.all-recipes-cards){
            background: var(--neutral_secondary);
            }
        </style>
            
    {% endif %}

    {% if request.path == generate_recipe %}

        <style>

            .navrail-icons-active{
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
                color: #0d3b66;
            }

            .generate-recipe-link:hover .navrail-icons{
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
                font-variation-settings:
                'FILL' 1,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48
            }

            .generate-recipe-link:hover{
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
            }

            .offcanvas-body-links li:nth-child(7) a.active {
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
                color: #0d3b66;
            }

            body,.navbar,.primary-wrapper,.dynamic-recipes h1 {
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #FCE4EC 0%, #FFF8E1 25%, #E1F5FE 50%, #E8F5E9 75%, #F3E5F5 100%);
                background-size: 200% 100%;
                animation: gradientShift 10s linear infinite;
            }

            @keyframes gradientShift {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .generate-recipe-form input,.generate-recipe-form input:focus {
                background: #FCE4EC;
            }

            .navrail,.logout-wrapper {
                background: transparent;
            }
            
        </style>

    {% else %}

        <style>
            .generate-recipe-link:hover .navrail-icons{
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
                font-variation-settings:
                'FILL' 1,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48
            }

            .generate-recipe-link:hover{
                background-color: #74EBD5;
                background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
            }
        </style>

    {% endif %}

{% else %}
    <style>
        body,.navbar,.navrail,.primary-wrapper,.dynamic-recipes h1,.explore-tab,.tabcontent h5{
            background: #F0ECE3;
        }

        .navbar,.navrail{
            background: transparent;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        }
    </style>
    

    {% if request.path == landingpg %}
    <style>
        body,.navbar,.navrail,.primary-wrapper,.dynamic-recipes h1,.explore-tab,.tabcontent h5{
            background: transparent;
        }

        .navbar,.navrail{
            background: transparent;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        }
    </style>
    {% endif %}

{% endif %}


{% if user.is_authenticated %}

    {% if request.path == landingpg %}

    <style>
        .navrail,.navbar,.logout-wrapper{
            background: transparent;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        }
    </style>
    
    {% endif %}

{% endif %}

{# primary background color #}
<script>
       $(document).ready(function() {
        $('#color-form').on('submit', function(e) {
            e.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "appearance" %}', 
                data: $(this).serialize(),
                success: function(response) {
                
                var dcpprimaryColor = $('#primary_color').val();
                var dcpneutralPrimary = $('#neutral_primary').val();
                var dcpneutralSecondary = $('#neutral_secondary').val();

                var style = `
                    /* Primary Color */
                    #nb-rightimg-dropmenu, #offcanvasExample, #logoutcontainer,
                    .logoutmodal, .footerbtn, .logoutmodal .modal-body a, .alert-notification, .notification-footer button,
                    #dropmenudetailslinks, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                    #reset-colors, #reset-colors2, #externalButton,.filter-form select, .filter-form input,.nav-tabs button,.autocomplete-items div::before,
                    .footer-waveline, .nav-tabs .tab.active {
                        background-color: ${dcpprimaryColor};
                    }

                    .logoutmodal .modal-body a, .footerbtn, .filter-form select, .filter-form input, #nav-tab {
                        border-color: ${dcpprimaryColor};
                    }

                    #logoutlink, .logout-container .logout-btn, .filter-form-button button, .toast {
                        background-color: ${dcpneutralPrimary};
                    }

                    .search-svg-path {
                        fill: ${dcpneutralPrimary};
                    }

                    #nav-tabContent, .footer-brand-logo, .additional-option, .alert-notification, .rightside-searchbar .notification-badge {
                        background-color: ${dcpneutralSecondary};
                    }

                    .navbar-circle-svg-path {
                        fill: ${dcpneutralSecondary};
                    }
                `;
                $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);
            },
                error: function(xhr, status, error) {
                    
                }
            });
        });
    });
</script>

{# secondary background color #}
<script>
    $(document).ready(function() {
        $('#color-form2').on('submit', function(e) {
            e.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "appearance" %}', 
                data: $(this).serialize(),
                success: function(response) {

                    var dcpsecondaryColor = $('#secondary_color').val();
                    var dcpactivelinkColor = $('#active_link_color').val();
                    var dcphoverColor = $('#hover_color').val();
                    
                    var style = `
                        /* Secondary Color */
                        #body-color, #navbar, #navrail, #navoffcanvasbody, #logoutwrapper, #primary-wrapper, #dyn-recipes-h1, #sidebar-header, #history-card, #nb-dropmenu-content,
                        #dropmenu-details-wrapper1, #nav-tab, #dropmenu-details-wrapper2, .modal-body, .modal-body-footer,.logoutmodal .modal-body, .logoutmodal .modal-body-footer, .notification-offcanvas, .searchmodal, .pages-options-autocomplete, 
                        .history-options-autocomplete, .filter-form select, .filter-form input, .autocomplete-items {
                            background-color: ${dcpsecondaryColor};
                        }

                        .logoutmodal .modal-body a {
                            border-color: ${dcpsecondaryColor};
                        }

                        /* Active Link Color */
                        #dropmenu-child-active1, #dropmenu-child-active2, #listactive, #offcanvaslisttext11,
                        #navrailiconactive1, #navrailiconactive2, #navrailiconactive3, #navrailiconactive4, #navrailiconactive5, #navrailiconactive6, #navrailiconactive7, #navrailiconactive8, #navrailiconactive9, #navrailiconactive10,
                        #navrailiconactive11, #navrailiconactive12, #navrailiconactive13, #navrailiconactive14, #navrailiconactive15, #navrailiconactive16, #navrailiconactive17, #navrailiconactive18 {
                            background-color: ${dcpactivelinkColor};
                        }

                        .nav_link_btn::before,.year_recipe_badge, .nav-tabs .tab.active {
                            background-color: ${dcpactivelinkColor};
                        }

                        /* Hover Color */
                        .offcanvas-close-btn:hover,.navbar .navbar-offcanvas-btn:hover,.logout-container .logout-btn:hover,.navrail-links:hover .navrail-icons,.navbar-offcanvas-btn:hover,.offcanvas-body-list ul li:hover,
                        .dropmenu-details-wrapper p:hover:not(.det-wrap-1 p),.body-detail-dropdown-list .dropdown-first-child .dropdown-links:hover,.body-detail-dropdown-list .dropdown-links:hover,.logout-link.clicked,.logout-link:focus,
                        .logout-link::after,.top-nb-dropmenu-content a:hover,.logout-link:active,.dropmenu-details-links a:hover,.rightside-searchbar h5:hover:not(.weather-widget),.filter-form-button button:hover,
                        .nav-tabs button:hover,.offcanvas-notification .offcanvas-noti-icon:hover,.additional-option:hover,.autocomplete-items div:hover, .logoutmodal .modal-body a:hover {
                            background-color: ${dcphoverColor};
                        }

                        .top-nb-dropmenu-content a:hover, .filter-form select:hover, .filter-form input:hover{
                            border: 1.5px solid ${dcphoverColor};
                        }
                    `;
                    $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);

                },
                error: function(xhr, status, error) {
                    
                }
            });
        });
    });
</script>

{# tertiary color (text color) #}
<script>
    $(document).ready(function() {
        $('#color-form3').on('submit', function(e) {
            e.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "appearance" %}', 
                data: $(this).serialize(),
                success: function(response) {
                    var dcptertiaryColor = $('#tertiary_color').val();

                    var style = `
                        /* Tertiary Color */
                        #offcanvaslisttext1, #offcanvaslisttext2, #offcanvaslisttext3, #offcanvaslisttext4, #offcanvaslisttext5, #offcanvaslisttext6, #offcanvaslisttext7, #offcanvaslisttext8, #offcanvaslisttext9, #offcanvaslisttext10,
                        #offcanvaslisttext11, #offcanvaslisttext12, #offcanvaslinkicons1, #offcanvaslinkicons2, #offcanvaslinkicons3, #offcanvaslinkicons4, #offcanvaslinkicons5, #offcanvaslinkicons6, #offcanvaslinkicons7, #offcanvaslinkicons8,
                        #offcanvaslinkicons9, #offcanvaslinkicons10, #offcanvaslinkicons11, #bodylinkssecond, #bodylinksthird, #line-sep1, #line-sep2, #dyn-recipes-h1, #subheading, #sidebar-heading-h1,
                        #navbar-brand-name, #navrail-text-active, #logouticon, #dropmenudetailslinks, .noti-alert-close-icon, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                        #nb-dropmenu-content, #dropmenu-details-wrapper1, #dropmenu-details-wrapper2, #back-btn-icon, .themetext, #reset-colors, #reset-colors2, #externalButton, #activelink_color_heading, #sidebar-subheading,
                        #navrailicon1, #navrailicon2, #navrailicon3, #navrailicon4, #navrailicon5, #navrailicon6, #navrailicon7, #navrailicon8, #navrailicon9, #navrailicon10,
                        #navrailicon11, #navrailicon12, #navrailicon13, #navrailicon14, #navrailtext1, #navrailtext2, #navrailtext3, #navrailtext4, #navrailtext5, #navrailtext6,
                        #navrailtext7, #navrailtext8, #navrailtext9, #navrailtext10, #navrailtext11, #navrailtext12, #navrailtext13, #navrailtext14,
                        
                        #offcanvasclosebtnicon, #offcanvasbrandname, .navicons, #footer, .footerlinks, .nav_link_btn, .top-nb-dropmenu-content, .navbar-offcanvas-btn,.rightside-searchicon,
                        .top-nb-dropmenu-content-links, #ai_theme_label, .modal-header, .logoutmodal .modal-body h2,.logoutmodal .modal-body p, .logoutmodal .modal-body button, .modal-logout-btn, .navbar .navbar-offcanvas-btn:hover, 
                        .alert-notification, .notification-footer button, .notification-title, .no-notifications, #idquery, .autocomplete-items .autocomplete-option,.top-nb-dropmenu-content a,
                        .weathermodal .modal-body form input::placeholder, .search-modal-container .search-icon button, .md-top-closeicon, .autocomplete-pages-heading, .logout-container .logout-btn,
                        .additional-option, .searchmodal .modal-header h5, .search-modal-input, .notification-badge, .modal-search form input::placeholder, .filter-form select, .filter-form input,
                        .trending-searches-container::before, .ranked_recipes_color, .generate-theme-label, .ai-theme-form-content input::placeholder,.ai-theme-form-content input:focus,.nav-tabs button:hover,
                        .ai-theme-form-content input, .gen-theme-warning-text, .filter-form input::placeholder, .filter-form-button button,.nav-tabs button,.footer-container .column ul li a:not(.landingpg-footer .column ul li a),
                        .rightside-searchbar .notification-badge, .toast .toast-body, .nav-tabs .tab.active, .appearance-theme-nav .nav-link.active, .logoutmodal .modal-body button:hover,.logoutmodal .modal-body a:hover {
                            color: ${dcptertiaryColor};
                        }

                        .top-nb-dropmenu-content a, #ai_theme_label, .modal-header, .footerbtn {
                            border-color: ${dcptertiaryColor};
                        }
                `;
                    $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);
                },
                error: function(xhr, status, error) {
                    
                }
            });
        });
    });
</script>

{# Default color palettes color's #}
<script>

    // Default/reset form
    $(document).ready(function () {
        $('#default_theme_form').on('submit', function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            setTimeout(function () {
                $.ajax({
                    type: 'POST',
                    url: '{% url "reset_colors" %}', 
                    data: formData,
                    success: function (response) {

                        var dcpprimaryColor = $('#default_primary_color').val();
                        var dcpsecondaryColor = $('#default_secondary_color').val();
                        var dcptertiaryColor = $('#default_tertiary_color').val();
                        var dcpactivelinkColor = $('#default_activelink_color').val();
                        var dcphoverColor = $('#default_hover_color').val();
                        var dcpneutralPrimary = $('#default_neutral_primary').val();
                        var dcpneutralSecondary = $('#default_neutral_secondary').val();

                        $('#dynamic-theme-styles').remove();

                        var style = `
                            /* Primary Color */
                            #nb-rightimg-dropmenu, #offcanvasExample, #logoutcontainer,
                            .logoutmodal, .footerbtn, .logoutmodal .modal-body a, .alert-notification, .notification-footer button,
                            #dropmenudetailslinks, #nav-tab, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                            #reset-colors, #reset-colors2, #externalButton,.filter-form select, .filter-form input,.nav-tabs button,.autocomplete-items div::before,
                            .footer-waveline {
                                background-color: ${dcpprimaryColor};
                            }

                            .logoutmodal .modal-body a, .footerbtn, .filter-form select, .filter-form input, #nav-tab {
                                border-color: ${dcpprimaryColor};
                            }

                            #logoutlink, .logout-container .logout-btn, .filter-form-button button, .toast {
                                background-color: ${dcpneutralPrimary};
                            }

                            .search-svg-path {
                                fill: ${dcpneutralPrimary};
                            }

                            #nav-tabContent, .footer-brand-logo, .additional-option, .alert-notification, .rightside-searchbar .notification-badge {
                                background-color: ${dcpneutralSecondary};
                            }

                            .navbar-circle-svg-path {
                                fill: ${dcpneutralSecondary};
                            }

                            /* Secondary Color */
                            #body-color, #navbar, #navrail, #navoffcanvasbody, #logoutwrapper, #primary-wrapper, #dyn-recipes-h1, #sidebar-header, #history-card, #nb-dropmenu-content,
                            #dropmenu-details-wrapper1, #nav-tab, #dropmenu-details-wrapper2, .modal-body, .modal-body-footer,.logoutmodal .modal-body, .logoutmodal .modal-body-footer, .notification-offcanvas, .searchmodal, .pages-options-autocomplete, 
                            .history-options-autocomplete, .filter-form select, .filter-form input, .autocomplete-items {
                                background-color: ${dcpsecondaryColor};
                            }

                            .logoutmodal .modal-body a {
                                border-color: ${dcpsecondaryColor};
                            }

                            /* Tertiary Color */
                            #offcanvaslisttext1, #offcanvaslisttext2, #offcanvaslisttext3, #offcanvaslisttext4, #offcanvaslisttext5, #offcanvaslisttext6, #offcanvaslisttext7, #offcanvaslisttext8, #offcanvaslisttext9, #offcanvaslisttext10,
                            #offcanvaslisttext11, #offcanvaslisttext12, #offcanvaslinkicons1, #offcanvaslinkicons2, #offcanvaslinkicons3, #offcanvaslinkicons4, #offcanvaslinkicons5, #offcanvaslinkicons6, #offcanvaslinkicons7, #offcanvaslinkicons8,
                            #offcanvaslinkicons9, #offcanvaslinkicons10, #offcanvaslinkicons11, #bodylinkssecond, #bodylinksthird, #line-sep1, #line-sep2, #dyn-recipes-h1, #subheading, #sidebar-heading-h1,
                            #navbar-brand-name, #navrail-text-active, #logouticon, #dropmenudetailslinks, .noti-alert-close-icon, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                            #nb-dropmenu-content, #dropmenu-details-wrapper1, #dropmenu-details-wrapper2, #back-btn-icon, .themetext, #reset-colors, #reset-colors2, #externalButton, #activelink_color_heading, #sidebar-subheading,
                            #navrailicon1, #navrailicon2, #navrailicon3, #navrailicon4, #navrailicon5, #navrailicon6, #navrailicon7, #navrailicon8, #navrailicon9, #navrailicon10,
                            #navrailicon11, #navrailicon12, #navrailicon13, #navrailicon14, #navrailtext1, #navrailtext2, #navrailtext3, #navrailtext4, #navrailtext5, #navrailtext6,
                            #navrailtext7, #navrailtext8, #navrailtext9, #navrailtext10, #navrailtext11, #navrailtext12, #navrailtext13, #navrailtext14,
                            
                            #offcanvasclosebtnicon, #offcanvasbrandname, .navicons, #footer, .footerlinks, .nav_link_btn, .top-nb-dropmenu-content, .navbar-offcanvas-btn,.rightside-searchicon,
                            .top-nb-dropmenu-content-links, #ai_theme_label, .modal-header, .logoutmodal .modal-body h2,.logoutmodal .modal-body p, .logoutmodal .modal-body button, .modal-logout-btn, .navbar .navbar-offcanvas-btn:hover, 
                            .alert-notification, .notification-footer button, .notification-title, .no-notifications, #idquery, .autocomplete-items .autocomplete-option,.top-nb-dropmenu-content a,
                            .weathermodal .modal-body form input::placeholder, .search-modal-container .search-icon button, .md-top-closeicon, .autocomplete-pages-heading, .logout-container .logout-btn,
                            .additional-option, .searchmodal .modal-header h5, .search-modal-input, .notification-badge, .modal-search form input::placeholder, .filter-form select, .filter-form input,
                            .trending-searches-container::before, .ranked_recipes_color, .generate-theme-label, .ai-theme-form-content input::placeholder,.ai-theme-form-content input:focus,.nav-tabs button:hover,
                            .ai-theme-form-content input, .gen-theme-warning-text, .filter-form input::placeholder, .filter-form-button button,.nav-tabs button,.footer-container .column ul li a:not(.landingpg-footer .column ul li a),
                            .rightside-searchbar .notification-badge, .toast .toast-body, .nav-tabs .tab.active, .appearance-theme-nav .nav-link.active, .logoutmodal .modal-body button:hover,.logoutmodal .modal-body a:hover {
                                color: ${dcptertiaryColor};
                            }

                            .top-nb-dropmenu-content a, #ai_theme_label, .modal-header, .footerbtn {
                                border-color: ${dcptertiaryColor};
                            }

                            /* Active Link Color */
                            #dropmenu-child-active1, #dropmenu-child-active2, #listactive, #offcanvaslisttext11,
                            #navrailiconactive1, #navrailiconactive2, #navrailiconactive3, #navrailiconactive4, #navrailiconactive5, #navrailiconactive6, #navrailiconactive7, #navrailiconactive8, #navrailiconactive9, #navrailiconactive10,
                            #navrailiconactive11, #navrailiconactive12, #navrailiconactive13, #navrailiconactive14, #navrailiconactive15, #navrailiconactive16, #navrailiconactive17, #navrailiconactive18 {
                                background-color: ${dcpactivelinkColor};
                            }

                            .nav_link_btn::before,.year_recipe_badge, .nav-tabs .tab.active {
                                background-color: ${dcpactivelinkColor};
                            }

                            /* Hover Color */
                            .offcanvas-close-btn:hover,.navbar .navbar-offcanvas-btn:hover,.logout-container .logout-btn:hover,.navrail-links:hover .navrail-icons,.navbar-offcanvas-btn:hover,.offcanvas-body-list ul li:hover,
                            .dropmenu-details-wrapper p:hover:not(.det-wrap-1 p),.body-detail-dropdown-list .dropdown-first-child .dropdown-links:hover,.body-detail-dropdown-list .dropdown-links:hover,.logout-link.clicked,.logout-link:focus,
                            .logout-link::after,.top-nb-dropmenu-content a:hover,.logout-link:active,.dropmenu-details-links a:hover,.rightside-searchbar h5:hover:not(.weather-widget),.filter-form-button button:hover,
                            .nav-tabs button:hover,.offcanvas-notification .offcanvas-noti-icon:hover,.additional-option:hover,.autocomplete-items div:hover, .logoutmodal .modal-body a:hover {
                                background-color: ${dcphoverColor};
                            }

                            .top-nb-dropmenu-content a:hover, .filter-form select:hover, .filter-form input:hover{
                                border: 1.5px solid ${dcphoverColor};
                            }
                        `;

                        $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);
                    }
                });
            }, 500);
        });
    });

    // Default dark theme form
    $(document).ready(function() {
        $('#default_dark_theme_form').on('submit', function(e) {
            e.preventDefault(); 
            
            var formData = $(this).serialize();

            setTimeout(function() {
            $.ajax({
                type: 'POST',
                url: '{% url "reset_dark" %}', 
                data: formData,
                success: function(response) {
                
                var dcpprimaryColor = $('#def_dark_primary_color').val();
                var dcpsecondaryColor = $('#def_dark_secondary_color').val();
                var dcptertiaryColor = $('#def_dark_tertiary_color').val();
                var dcpactivelinkColor = $('#def_dark_activelink_color').val();
                var dcphoverColor = $('#def_dark_hover_color').val();
                var dcpneutralPrimary = $('#def_dark_neutral_primary').val();
                var dcpneutralSecondary = $('#def_dark_neutral_secondary').val();


                $('#dynamic-theme-styles').remove();

                var style = `
                    /* Primary Color */
                    #nb-rightimg-dropmenu, #offcanvasExample, #logoutcontainer,
                    .logoutmodal, .footerbtn, .logoutmodal .modal-body a, .alert-notification, .notification-footer button,
                    #dropmenudetailslinks, #nav-tab, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                    #reset-colors, #reset-colors2, #externalButton,.filter-form select, .filter-form input,.nav-tabs button,.autocomplete-items div::before,
                    .footer-waveline, .nav-tabs .tab.active {
                        background-color: ${dcpprimaryColor};
                    }

                    .logoutmodal .modal-body a, .footerbtn, .filter-form select, .filter-form input, #nav-tab {
                        border-color: ${dcpprimaryColor};
                    }

                    #logoutlink, .logout-container .logout-btn, .filter-form-button button, .toast {
                        background-color: ${dcpneutralPrimary};
                    }

                    .search-svg-path {
                        fill: ${dcpneutralPrimary};
                    }

                    #nav-tabContent, .footer-brand-logo, .additional-option, .alert-notification, .rightside-searchbar .notification-badge {
                        background-color: ${dcpneutralSecondary};
                    }

                    .navbar-circle-svg-path {
                        fill: ${dcpneutralSecondary};
                    }

                    /* Secondary Color */
                    #body-color, #navbar, #navrail, #navoffcanvasbody, #logoutwrapper, #primary-wrapper, #dyn-recipes-h1, #sidebar-header, #history-card, #nb-dropmenu-content,
                    #dropmenu-details-wrapper1, #nav-tab, #dropmenu-details-wrapper2, .modal-body, .modal-body-footer,.logoutmodal .modal-body, .logoutmodal .modal-body-footer, .notification-offcanvas, .searchmodal, .pages-options-autocomplete, 
                    .history-options-autocomplete, .filter-form select, .filter-form input, .autocomplete-items {
                        background-color: ${dcpsecondaryColor};
                    }

                    .logoutmodal .modal-body a {
                        border-color: ${dcpsecondaryColor};
                    }

                    /* Tertiary Color */
                    #offcanvaslisttext1, #offcanvaslisttext2, #offcanvaslisttext3, #offcanvaslisttext4, #offcanvaslisttext5, #offcanvaslisttext6, #offcanvaslisttext7, #offcanvaslisttext8, #offcanvaslisttext9, #offcanvaslisttext10,
                    #offcanvaslisttext11, #offcanvaslisttext12, #offcanvaslinkicons1, #offcanvaslinkicons2, #offcanvaslinkicons3, #offcanvaslinkicons4, #offcanvaslinkicons5, #offcanvaslinkicons6, #offcanvaslinkicons7, #offcanvaslinkicons8,
                    #offcanvaslinkicons9, #offcanvaslinkicons10, #offcanvaslinkicons11, #bodylinkssecond, #bodylinksthird, #line-sep1, #line-sep2, #dyn-recipes-h1, #subheading, #sidebar-heading-h1,
                    #navbar-brand-name, #navrail-text-active, #logouticon, #dropmenudetailslinks, .noti-alert-close-icon, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                    #nb-dropmenu-content, #dropmenu-details-wrapper1, #dropmenu-details-wrapper2, #back-btn-icon, .themetext, #reset-colors, #reset-colors2, #externalButton, #activelink_color_heading, #sidebar-subheading,
                    #navrailicon1, #navrailicon2, #navrailicon3, #navrailicon4, #navrailicon5, #navrailicon6, #navrailicon7, #navrailicon8, #navrailicon9, #navrailicon10,
                    #navrailicon11, #navrailicon12, #navrailicon13, #navrailicon14, #navrailtext1, #navrailtext2, #navrailtext3, #navrailtext4, #navrailtext5, #navrailtext6,
                    #navrailtext7, #navrailtext8, #navrailtext9, #navrailtext10, #navrailtext11, #navrailtext12, #navrailtext13, #navrailtext14,
                    
                    #offcanvasclosebtnicon, #offcanvasbrandname, .navicons, #footer, .footerlinks, .nav_link_btn, .top-nb-dropmenu-content, .navbar-offcanvas-btn,.rightside-searchicon,
                    .top-nb-dropmenu-content-links, #ai_theme_label, .modal-header, .logoutmodal .modal-body h2,.logoutmodal .modal-body p, .logoutmodal .modal-body button, .modal-logout-btn, .navbar .navbar-offcanvas-btn:hover, 
                    .alert-notification, .notification-footer button, .notification-title, .no-notifications, #idquery, .autocomplete-items .autocomplete-option,.top-nb-dropmenu-content a,
                    .weathermodal .modal-body form input::placeholder, .search-modal-container .search-icon button, .md-top-closeicon, .autocomplete-pages-heading, .logout-container .logout-btn,
                    .additional-option, .searchmodal .modal-header h5, .search-modal-input, .notification-badge, .modal-search form input::placeholder, .filter-form select, .filter-form input,
                    .trending-searches-container::before, .ranked_recipes_color, .generate-theme-label, .ai-theme-form-content input::placeholder,.ai-theme-form-content input:focus,.nav-tabs button:hover,
                    .ai-theme-form-content input, .gen-theme-warning-text, .filter-form input::placeholder, .filter-form-button button,.nav-tabs button,.footer-container .column ul li a:not(.landingpg-footer .column ul li a),
                    .rightside-searchbar .notification-badge, .toast .toast-body, .nav-tabs .tab.active, .appearance-theme-nav .nav-link.active, .logoutmodal .modal-body button:hover,.logoutmodal .modal-body a:hover {
                        color: ${dcptertiaryColor};
                    }

                    .top-nb-dropmenu-content a, #ai_theme_label, .modal-header, .footerbtn {
                        border-color: ${dcptertiaryColor};
                    }

                    /* Active Link Color */
                    #dropmenu-child-active1, #dropmenu-child-active2, #listactive, #offcanvaslisttext11,
                    #navrailiconactive1, #navrailiconactive2, #navrailiconactive3, #navrailiconactive4, #navrailiconactive5, #navrailiconactive6, #navrailiconactive7, #navrailiconactive8, #navrailiconactive9, #navrailiconactive10,
                    #navrailiconactive11, #navrailiconactive12, #navrailiconactive13, #navrailiconactive14, #navrailiconactive15, #navrailiconactive16, #navrailiconactive17, #navrailiconactive18 {
                        background-color: ${dcpactivelinkColor};
                    }

                    .nav_link_btn::before,.year_recipe_badge, .nav-tabs .tab.active {
                        background-color: ${dcpactivelinkColor};
                    }

                    /* Hover Color */
                    .offcanvas-close-btn:hover,.navbar .navbar-offcanvas-btn:hover,.logout-container .logout-btn:hover,.navrail-links:hover .navrail-icons,.navbar-offcanvas-btn:hover,.offcanvas-body-list ul li:hover,
                    .dropmenu-details-wrapper p:hover:not(.det-wrap-1 p),.body-detail-dropdown-list .dropdown-first-child .dropdown-links:hover,.body-detail-dropdown-list .dropdown-links:hover,.logout-link.clicked,.logout-link:focus,
                    .logout-link::after,.top-nb-dropmenu-content a:hover,.logout-link:active,.dropmenu-details-links a:hover,.rightside-searchbar h5:hover:not(.weather-widget),.filter-form-button button:hover,
                    .nav-tabs button:hover,.offcanvas-notification .offcanvas-noti-icon:hover,.additional-option:hover,.autocomplete-items div:hover, .logoutmodal .modal-body a:hover {
                        background-color: ${dcphoverColor};
                    }

                    .top-nb-dropmenu-content a:hover, .filter-form select:hover, .filter-form input:hover{
                        border: 1.5px solid ${dcphoverColor};
                    }
                `;

                $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);
            },
                error: function(xhr, status, error) {
                    
                }
            });
            }, 1200); 
        });
    });

    // AI form function (extracting the color from generated form's input & applying to elements whichever form is submitted)
    function applyColorsFromForm(formNumber){
        
        var dcpprimaryColor = $('#aiform' + formNumber + ' input[name="ai_color1"]').val();
        var dcpsecondaryColor = $('#aiform' + formNumber + ' input[name="ai_color2"]').val();
        var dcptertiaryColor = $('#aiform' + formNumber + ' input[name="ai_color3"]').val();
        var dcpactivelinkColor = $('#aiform' + formNumber + ' input[name="ai_color4"]').val();
        var dcphoverColor = $('#aiform' + formNumber + ' input[name="ai_color5"]').val();
        var dcpneutralPrimary = $('#aiform' + formNumber + ' input[name="ai_color6"]').val();
        var dcpneutralSecondary = $('#aiform' + formNumber + ' input[name="ai_color7"]').val();

        // Primary color
        var dcpprimaryColorStyle = `
            #nb-rightimg-dropmenu, #offcanvasExample, #logoutcontainer,
            .logoutmodal, .footerbtn, .logoutmodal .modal-body a, .alert-notification, .notification-footer button,
            #dropmenudetailslinks, #nav-tab, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
            #reset-colors, #reset-colors2, #externalButton,.filter-form select, .filter-form input,.nav-tabs button,.autocomplete-items div::before,
            .footer-waveline, .nav-tabs .tab.active {
                background-color: ${dcpprimaryColor};
            }

            .logoutmodal .modal-body a, .footerbtn, .filter-form select, .filter-form input, #nav-tab {
                border-color: ${dcpprimaryColor};
            }
        `;

        var dcpneutralPrimaryStyle = `
            #logoutlink, .logout-container .logout-btn, .filter-form-button button, .toast {
                background-color: ${dcpneutralPrimary};
            }

            .search-svg-path {
                fill: ${dcpneutralPrimary};
            }
        `;

        var dcpneutralSecondaryStyle = `
            #nav-tabContent, .footer-brand-logo, .additional-option, .alert-notification, .rightside-searchbar .notification-badge {
                background-color: ${dcpneutralSecondary};
            }

            .navbar-circle-svg-path {
                fill: ${dcpneutralSecondary};
            }
        `;

        $("<style>" + dcpprimaryColorStyle + "</style>").appendTo("head");
        $("<style>" + dcpneutralPrimaryStyle + "</style>").appendTo("head");
        $("<style>" + dcpneutralSecondaryStyle + "</style>").appendTo("head");

        // Secondary color
        var dcpsecondaryColorStyle = `
            #body-color, #navbar, #navrail, #navoffcanvasbody, #logoutwrapper, #primary-wrapper, #dyn-recipes-h1, #sidebar-header, #history-card, #nb-dropmenu-content,
            #dropmenu-details-wrapper1, #nav-tab, #dropmenu-details-wrapper2, .modal-body, .modal-body-footer,.logoutmodal .modal-body, .logoutmodal .modal-body-footer, .notification-offcanvas, .searchmodal, .pages-options-autocomplete, 
            .history-options-autocomplete, .filter-form select, .filter-form input, .autocomplete-items {
                background-color: ${dcpsecondaryColor};
            }

            .logoutmodal .modal-body a {
                border-color: ${dcpsecondaryColor};
            }
        `;

        $("<style>" + dcpsecondaryColorStyle + "</style>").appendTo("head");

        // Tertiary color
        var dcptertiaryColorStyle = `
            #offcanvaslisttext1, #offcanvaslisttext2, #offcanvaslisttext3, #offcanvaslisttext4, #offcanvaslisttext5, #offcanvaslisttext6, #offcanvaslisttext7, #offcanvaslisttext8, #offcanvaslisttext9, #offcanvaslisttext10,
            #offcanvaslisttext11, #offcanvaslisttext12, #offcanvaslinkicons1, #offcanvaslinkicons2, #offcanvaslinkicons3, #offcanvaslinkicons4, #offcanvaslinkicons5, #offcanvaslinkicons6, #offcanvaslinkicons7, #offcanvaslinkicons8,
            #offcanvaslinkicons9, #offcanvaslinkicons10, #offcanvaslinkicons11, #bodylinkssecond, #bodylinksthird, #line-sep1, #line-sep2, #dyn-recipes-h1, #subheading, #sidebar-heading-h1,
            #navbar-brand-name, #navrail-text-active, #logouticon, #dropmenudetailslinks, .noti-alert-close-icon, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
            #nb-dropmenu-content, #dropmenu-details-wrapper1, #dropmenu-details-wrapper2, #back-btn-icon, .themetext, #reset-colors, #reset-colors2, #externalButton, #activelink_color_heading, #sidebar-subheading,
            #navrailicon1, #navrailicon2, #navrailicon3, #navrailicon4, #navrailicon5, #navrailicon6, #navrailicon7, #navrailicon8, #navrailicon9, #navrailicon10,
            #navrailicon11, #navrailicon12, #navrailicon13, #navrailicon14, #navrailtext1, #navrailtext2, #navrailtext3, #navrailtext4, #navrailtext5, #navrailtext6,
            #navrailtext7, #navrailtext8, #navrailtext9, #navrailtext10, #navrailtext11, #navrailtext12, #navrailtext13, #navrailtext14,
            
            #offcanvasclosebtnicon, #offcanvasbrandname, .navicons, #footer, .footerlinks, .nav_link_btn, .top-nb-dropmenu-content, .navbar-offcanvas-btn,.rightside-searchicon,
            .top-nb-dropmenu-content-links, #ai_theme_label, .modal-header, .logoutmodal .modal-body h2,.logoutmodal .modal-body p, .logoutmodal .modal-body button, .modal-logout-btn, .navbar .navbar-offcanvas-btn:hover, 
            .alert-notification, .notification-footer button, .notification-title, .no-notifications, #idquery, .autocomplete-items .autocomplete-option,.top-nb-dropmenu-content a,
            .weathermodal .modal-body form input::placeholder, .search-modal-container .search-icon button, .md-top-closeicon, .autocomplete-pages-heading, .logout-container .logout-btn,
            .additional-option, .searchmodal .modal-header h5, .search-modal-input, .notification-badge, .modal-search form input::placeholder, .filter-form select, .filter-form input,
            .trending-searches-container::before, .ranked_recipes_color, .generate-theme-label, .ai-theme-form-content input::placeholder,.ai-theme-form-content input:focus,.nav-tabs button:hover,
            .ai-theme-form-content input, .gen-theme-warning-text, .filter-form input::placeholder, .filter-form-button button,.nav-tabs button,.footer-container .column ul li a:not(.landingpg-footer .column ul li a),
            .rightside-searchbar .notification-badge, .toast .toast-body, .nav-tabs .tab.active, .appearance-theme-nav .nav-link.active, .logoutmodal .modal-body button:hover,.logoutmodal .modal-body a:hover {
                color: ${dcptertiaryColor};
            }

            .top-nb-dropmenu-content a, #ai_theme_label, .modal-header, .footerbtn {
                border-color: ${dcptertiaryColor};
            }
        `;

        $("<style>" + dcptertiaryColorStyle + "</style>").appendTo("head");

        // Link color
        var dcpactivelinkColorStyle = `
            #dropmenu-child-active1, #dropmenu-child-active2, #listactive, #offcanvaslisttext11,
            #navrailiconactive1, #navrailiconactive2, #navrailiconactive3, #navrailiconactive4, #navrailiconactive5, #navrailiconactive6, #navrailiconactive7, #navrailiconactive8, #navrailiconactive9, #navrailiconactive10,
            #navrailiconactive11, #navrailiconactive12, #navrailiconactive13, #navrailiconactive14, #navrailiconactive15, #navrailiconactive16, #navrailiconactive17, #navrailiconactive18 {
                background-color: ${dcpactivelinkColor};
            }

            .nav_link_btn::before,.year_recipe_badge, .nav-tabs .tab.active {
                background-color: ${dcpactivelinkColor};
            }
        `;

        $("<style>" + dcpactivelinkColorStyle + "</style>").appendTo("head");

        // Hover color
        var hoverStyle = `
            .offcanvas-close-btn:hover,.navbar .navbar-offcanvas-btn:hover,.logout-container .logout-btn:hover,.navrail-links:hover .navrail-icons,.navbar-offcanvas-btn:hover,.offcanvas-body-list ul li:hover,
            .dropmenu-details-wrapper p:hover:not(.det-wrap-1 p),.body-detail-dropdown-list .dropdown-first-child .dropdown-links:hover,.body-detail-dropdown-list .dropdown-links:hover,.logout-link.clicked,.logout-link:focus,
            .logout-link::after,.top-nb-dropmenu-content a:hover,.logout-link:active,.dropmenu-details-links a:hover,.rightside-searchbar h5:hover:not(.weather-widget),.filter-form-button button:hover,
            .nav-tabs button:hover,.offcanvas-notification .offcanvas-noti-icon:hover,.additional-option:hover,.autocomplete-items div:hover, .logoutmodal .modal-body a:hover {
                background-color: ${dcphoverColor};
            }

            .top-nb-dropmenu-content a:hover, .filter-form select:hover, .filter-form input:hover{
                border: 1.5px solid ${dcphoverColor};
            }
        `;
        $("<style>" + hoverStyle + "</style>").appendTo("head");            
    }
    
</script>

{# Saved ai form palette #}
<script>
    $(document).ready(function() {
        $('#default_ai_theme_form').on('submit', function(e) {
            e.preventDefault(); 
            
            var formData = $(this).serialize();

            setTimeout(function() {
            $.ajax({
                type: 'POST',
                url: '{% url "dcp_1" %}', 
                data: formData,
                success: function(response) {

                var dcpprimaryColor = $('#ai_primary_color').val();
                var dcpsecondaryColor = $('#ai_secondary_color').val();
                var dcptertiaryColor = $('#ai_tertiary_color').val();
                var dcpactivelinkColor = $('#ai_activelink_color').val();
                var dcphoverColor = $('#ai_hover_color').val();
                var dcpneutralPrimary = $('#ai_neutral_primary').val();
                var dcpneutralSecondary = $('#ai_neutral_secondary').val();

                $('#dynamic-theme-styles').remove();

                var style = `
                    /* Primary Color */
                    #nb-rightimg-dropmenu, #offcanvasExample, #logoutcontainer,
                    .logoutmodal, .footerbtn, .logoutmodal .modal-body a, .alert-notification, .notification-footer button,
                    #dropmenudetailslinks, #nav-tab, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                    #reset-colors, #reset-colors2, #externalButton,.filter-form select, .filter-form input,.nav-tabs button,.autocomplete-items div::before,
                    .footer-waveline {
                        background-color: ${dcpprimaryColor};
                    }

                    .logoutmodal .modal-body a, .footerbtn, .filter-form select, .filter-form input, #nav-tab {
                        border-color: ${dcpprimaryColor};
                    }

                    #logoutlink, .logout-container .logout-btn, .filter-form-button button, .toast, .nav-tabs .tab.active {
                        background-color: ${dcpneutralPrimary};
                    }

                    .search-svg-path {
                        fill: ${dcpneutralPrimary};
                    }

                    #nav-tabContent, .footer-brand-logo, .additional-option, .alert-notification, .rightside-searchbar .notification-badge {
                        background-color: ${dcpneutralSecondary};
                    }

                    .navbar-circle-svg-path {
                        fill: ${dcpneutralSecondary};
                    }

                    /* Secondary Color */
                    #body-color, #navbar, #navrail, #navoffcanvasbody, #logoutwrapper, #primary-wrapper, #dyn-recipes-h1, #sidebar-header, #history-card, #nb-dropmenu-content,
                    #dropmenu-details-wrapper1, #nav-tab, #dropmenu-details-wrapper2, .modal-body, .modal-body-footer,.logoutmodal .modal-body, .logoutmodal .modal-body-footer, .notification-offcanvas, .searchmodal, .pages-options-autocomplete, 
                    .history-options-autocomplete, .filter-form select, .filter-form input, .autocomplete-items {
                        background-color: ${dcpsecondaryColor};
                    }

                    .logoutmodal .modal-body a {
                        border-color: ${dcpsecondaryColor};
                    }

                    /* Tertiary Color */
                    #offcanvaslisttext1, #offcanvaslisttext2, #offcanvaslisttext3, #offcanvaslisttext4, #offcanvaslisttext5, #offcanvaslisttext6, #offcanvaslisttext7, #offcanvaslisttext8, #offcanvaslisttext9, #offcanvaslisttext10,
                    #offcanvaslisttext11, #offcanvaslisttext12, #offcanvaslinkicons1, #offcanvaslinkicons2, #offcanvaslinkicons3, #offcanvaslinkicons4, #offcanvaslinkicons5, #offcanvaslinkicons6, #offcanvaslinkicons7, #offcanvaslinkicons8,
                    #offcanvaslinkicons9, #offcanvaslinkicons10, #offcanvaslinkicons11, #bodylinkssecond, #bodylinksthird, #line-sep1, #line-sep2, #dyn-recipes-h1, #subheading, #sidebar-heading-h1,
                    #navbar-brand-name, #navrail-text-active, #logouticon, #dropmenudetailslinks, .noti-alert-close-icon, #primary_color_btn, #secondary_color_btn, #tertiary_color_btn, #activelink_color_btn, #hover_color_btn,
                    #nb-dropmenu-content, #dropmenu-details-wrapper1, #dropmenu-details-wrapper2, #back-btn-icon, .themetext, #reset-colors, #reset-colors2, #externalButton, #activelink_color_heading, #sidebar-subheading,
                    #navrailicon1, #navrailicon2, #navrailicon3, #navrailicon4, #navrailicon5, #navrailicon6, #navrailicon7, #navrailicon8, #navrailicon9, #navrailicon10,
                    #navrailicon11, #navrailicon12, #navrailicon13, #navrailicon14, #navrailtext1, #navrailtext2, #navrailtext3, #navrailtext4, #navrailtext5, #navrailtext6,
                    #navrailtext7, #navrailtext8, #navrailtext9, #navrailtext10, #navrailtext11, #navrailtext12, #navrailtext13, #navrailtext14,
                    
                    #offcanvasclosebtnicon, #offcanvasbrandname, .navicons, #footer, .footerlinks, .nav_link_btn, .top-nb-dropmenu-content, .navbar-offcanvas-btn,.rightside-searchicon,
                    .top-nb-dropmenu-content-links, #ai_theme_label, .modal-header, .logoutmodal .modal-body h2,.logoutmodal .modal-body p, .logoutmodal .modal-body button, .modal-logout-btn, .navbar .navbar-offcanvas-btn:hover, 
                    .alert-notification, .notification-footer button, .notification-title, .no-notifications, #idquery, .autocomplete-items .autocomplete-option,.top-nb-dropmenu-content a,
                    .weathermodal .modal-body form input::placeholder, .search-modal-container .search-icon button, .md-top-closeicon, .autocomplete-pages-heading, .logout-container .logout-btn,
                    .additional-option, .searchmodal .modal-header h5, .search-modal-input, .notification-badge, .modal-search form input::placeholder, .filter-form select, .filter-form input,
                    .trending-searches-container::before, .ranked_recipes_color, .generate-theme-label, .ai-theme-form-content input::placeholder,.ai-theme-form-content input:focus,.nav-tabs button:hover,
                    .ai-theme-form-content input, .gen-theme-warning-text, .filter-form input::placeholder, .filter-form-button button,.nav-tabs button,.footer-container .column ul li a:not(.landingpg-footer .column ul li a),
                    .rightside-searchbar .notification-badge, .toast .toast-body, .nav-tabs .tab.active, .appearance-theme-nav .nav-link.active, .logoutmodal .modal-body button:hover,.logoutmodal .modal-body a:hover {
                        color: ${dcptertiaryColor};
                    }

                    .top-nb-dropmenu-content a, #ai_theme_label, .modal-header, .footerbtn {
                        border-color: ${dcptertiaryColor};
                    }

                    /* Active Link Color */
                    #dropmenu-child-active1, #dropmenu-child-active2, #listactive, #offcanvaslisttext11,
                    #navrailiconactive1, #navrailiconactive2, #navrailiconactive3, #navrailiconactive4, #navrailiconactive5, #navrailiconactive6, #navrailiconactive7, #navrailiconactive8, #navrailiconactive9, #navrailiconactive10,
                    #navrailiconactive11, #navrailiconactive12, #navrailiconactive13, #navrailiconactive14, #navrailiconactive15, #navrailiconactive16, #navrailiconactive17, #navrailiconactive18 {
                        background-color: ${dcpactivelinkColor};
                    }

                    .nav_link_btn::before,.year_recipe_badge {
                        background-color: ${dcpactivelinkColor};
                    }

                    /* Hover Color */
                    .offcanvas-close-btn:hover,.navbar .navbar-offcanvas-btn:hover,.logout-container .logout-btn:hover,.navrail-links:hover .navrail-icons,.navbar-offcanvas-btn:hover,.offcanvas-body-list ul li:hover,
                    .dropmenu-details-wrapper p:hover:not(.det-wrap-1 p),.body-detail-dropdown-list .dropdown-first-child .dropdown-links:hover,.body-detail-dropdown-list .dropdown-links:hover,.logout-link.clicked,.logout-link:focus,
                    .logout-link::after,.top-nb-dropmenu-content a:hover,.logout-link:active,.dropmenu-details-links a:hover,.rightside-searchbar h5:hover:not(.weather-widget),.filter-form-button button:hover,
                    .nav-tabs button:hover,.offcanvas-notification .offcanvas-noti-icon:hover,.additional-option:hover,.autocomplete-items div:hover, .logoutmodal .modal-body a:hover {
                        background-color: ${dcphoverColor};
                    }

                    .top-nb-dropmenu-content a:hover, .filter-form select:hover, .filter-form input:hover{
                        border: 1.5px solid ${dcphoverColor};
                    }
                `;

                $('head').append(`<style id="dynamic-theme-styles">${style}</style>`);
                },

                error: function(xhr, status, error) {
                    
                }
            });
            }, 1200); 
        });
    });
</script>


</html>