{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% load humanize %}

{% block css %}
{% endblock %}


{% block title %}
<title>
    {% if recipe1 and recipe2 %}
        Comparing {{recipe1.title}} with {{recipe2.title}}
    {% else %}
        Compare recipes
    {% endif %}
</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}


{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

            <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                    
                <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
                {% if recipe1 and recipe2 %}
                    Comparing recieps
                {% else %}
                    Compare recipes
                {% endif %}
                </h1>

                <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">
                    
                    <div class="compare-recipes-form-container">
                        <form class="row g-5" action="{% url 'compare_recipes' %}" method="POST">
                            {% csrf_token %}

                            <div class="col-md-6">
                            <label for="recipe1" class="form-label">Recipe 1  </label>
                            <select name="recipe1" id="recipe1" class="form-select" required>
                                
                                {% if recipe1 %}
                                    <option value="{{ recipe1.id }}">{{ recipe1.title }}</option>
                                {% else %}
                                    <option selected disabled hidden>Choose...</option>
                                {% endif %}
                            
                                {% for recipe in titles %}
                                    <option value="{{ recipe.id }}">{{ recipe.title }}</option>
                                {% endfor %}
                            </select>
                            </div>

                            <div class="col-md-6">
                            <label for="recipe2" class="form-label">Recipe 2</label>
                                <select name="recipe2" id="recipe2" class="form-select" required>
                                {% if recipe2 %}
                                    <option value="{{ recipe2.id }}">{{ recipe2.title }}</option>
                                {% else %}
                                    <option selected disabled hidden>Choose...</option>
                                {% endif %}

                                {% for recipe in titles %}
                                    <option value="{{ recipe.id }}">{{ recipe.title }}</option>
                                {% endfor %}
                            </select>
                            </div>

                            <div class="col-12 gx-6 gy-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-transparent">Compare</button>
                                
                            </div>
                        </form>
                    </div>

                    <div class="compare-recipes-container">
                        
                        <div class="compare-recipes-data">
                            {% if recipe1 %}
                            <div class="compare-recipes-child">

                                <div class="compare-recipes-img-conatiner">
                                    {% if photo1 %}
                                        <img loading="lazy" src="{{ photo1.image.url }}" alt="{{ recipe1.title }} Image">
                                    {% endif %}
                                </div>

                                <div class="compare-recipes-child-heading">
                                    <h4>{{recipe1.title}}</h4>
                                </div>

                                <div class="compare-recipes-sub-info">
                                    <div>By {{recipe1.author.get_full_name}}</div>
                                </div>

                                <div class="qv-offcanvas-table-wrapper compare-recipes-table">
                                    <table class="table">

                                        <tbody class="qv-table-body">
                                            <tr>
                                                <th scope="row" colspan="2">Type</th>
                                                <td>{{recipe1.type}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Category</th>
                                                <td>{{recipe1.category}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Cuisine</th>
                                                <td>{{recipe1.cuisine|cut:" cuisine"}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Prep time</th>
                                                <td>
                                                    {% if recipe1.timing > 1 %}
                                                        {{recipe1.timing}} mins
                                                    {% else %}
                                                        {{recipe1.timing}} min
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Servings</th>
                                                <td>{{recipe1.servings}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Difficulty</th>
                                                <td>{{recipe1.difficulty}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Posted</th>
                                                <td>{{recipe1.get_date}}</td>
                                            </tr>
                                            <tr>
                                            <th scope="row" colspan="2">Updated</th>
                                            <td>
                                                {% if recipe1.get_date == recipe1.get_modified_date %}
                                                No change
                                                {% else %}
                                                {{recipe1.get_modified_date}}
                                                {% endif %}
                                            </td>
                                            </tr>
                                            </tbody>
                                    </table>
                                </div>

                                {% if nutrition_widget1|safe %}

                                    <div class="qv-offcanvas-table-wrapper compare-recipes-table compare-recipes-table1">
                                        {% if "Information is not unavailable" in nutrition_widget1 %}
                                            <div class="nutrition-error-msg">Nutritional information is currently unavailable.</div>
                                        {% else %}
                                            {{ nutrition_widget1|safe }}
                                        {% endif %}

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                            var headingsSalmon = document.querySelectorAll('.spoonacular-caption.spoonacular-salmon');
                                            var headingsBlue = document.querySelectorAll('.spoonacular-caption.spoonacular-blue');
                                            var quickviewTexts = document.querySelectorAll('.spoonacular-caption');
                                            
                                            headingsSalmon.forEach(function(heading) {
                                                heading.textContent = '';
                                            });

                                            headingsBlue.forEach(function(heading1) {
                                                heading1.textContent = 'More details';
                                            });

                                            quickviewTexts.forEach(function(caption) {
                                                caption.style.display = 'none';
                                            });
                                        });
                                        </script>
                                    </div>

                                {% endif %}

                                <div class="accordion" id="recipe1ingredients">
                                    <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#recipeOneingredients" aria-expanded="true" aria-controls="recipeOneingredients">
                                            Ingredients
                                        </button>
                                    </h2>
                                    <div id="recipeOneingredients" class="accordion-collapse collapse" data-bs-parent="#recipe1ingredients">
                                        <div class="accordion-body">
                                        {{recipe1.ingredients|safe}}
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="accordion" id="recipe1instructions">
                                    <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#recipeOne" aria-expanded="true" aria-controls="recipeOne">
                                            Instructions
                                        </button>
                                    </h2>
                                    <div id="recipeOne" class="accordion-collapse collapse" data-bs-parent="#recipe1instructions">
                                        <div class="accordion-body">
                                        {{recipe1.content|safe}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                            </div>

                            {% else %}
                            <div class="compare-recipes-child compare-recipes-placeholder">
                                <p>Select any recipe to compare</p>
                            </div>

                            {% endif %}
                        </div>
                        
                        <div class="compare-recipes-data">
                            {% if recipe2 %}
                            <div class="compare-recipes-child">

                                <div class="compare-recipes-img-conatiner">
                                    {% if photo2 %}
                                        <img loading="lazy" src="{{ photo2.image.url }}" alt="{{ recipe2.title }} Image">
                                    {% endif %}
                                </div>

                                <div class="compare-recipes-child-heading">
                                    <h4>{{recipe2.title}}</h4>
                                </div>

                                <div class="compare-recipes-sub-info">
                                    <div>By {{recipe2.author.get_full_name}}</div>
                                </div>

                                <div class="qv-offcanvas-table-wrapper compare-recipes-table">
                                    <table class="table">
                                        
                                        <tbody class="qv-table-body">
                                        <tr>
                                            <th scope="row" colspan="2">Type</th>
                                            <td>{{recipe2.type}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Category</th>
                                            <td>{{recipe2.category}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Cuisine</th>
                                            <td>{{recipe2.cuisine|cut:" cuisine"}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Prep time</th>
                                            <td>
                                                {% if recipe2.timing > 1 %}
                                                    {{recipe2.timing}} mins
                                                {% else %}
                                                    {{recipe2.timing}} min
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Servings</th>
                                            <td>{{recipe2.servings}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Difficulty</th>
                                            <td>{{recipe2.difficulty}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">Posted</th>
                                            <td>{{recipe2.get_date}}</td>
                                        </tr>
                                        <tr>
                                        <th scope="row" colspan="2">Updated</th>
                                        <td>
                                            {% if recipe2.get_date == recipe2.get_modified_date %}
                                            No change
                                            {% else %}
                                            {{recipe2.get_modified_date}}
                                            {% endif %}
                                        </td>
                                        </tr>
                                        
                                        </tbody>
                                    </table>
                                </div>

                                {% if nutrition_widget2|safe %}
                                    <div class="qv-offcanvas-table-wrapper compare-recipes-table compare-recipes-table2">
                                        {% if "Information is not unavailable" in nutrition_widget2 %}
                                            <div class="nutrition-error-msg">Nutritional information is currently unavailable.</div>
                                        {% else %}
                                            {{ nutrition_widget1|safe }}
                                        {% endif %}

                                        <script>
                                                document.addEventListener('DOMContentLoaded', function() {
                                                var headingsSalmon = document.querySelectorAll('.spoonacular-caption.spoonacular-salmon');
                                                var headingsBlue = document.querySelectorAll('.spoonacular-caption.spoonacular-blue');
                                                var quickviewTexts = document.querySelectorAll('.spoonacular-caption');
                                                
                                                headingsSalmon.forEach(function(heading) {
                                                    heading.textContent = '';
                                                });

                                                headingsBlue.forEach(function(heading1) {
                                                    heading1.textContent = 'More details';
                                                });

                                                quickviewTexts.forEach(function(caption) {
                                                    caption.style.display = 'none';
                                                });
                                            });
                                        </script>
                                    </div>

                                {% elif nutrition_info_error2 %}

                                {% endif %}

                                <div class="accordion" id="recipe2ingredients">
                                    <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#recipeTwoingredients" aria-expanded="true" aria-controls="recipeTwoingredients">
                                            Ingredients
                                        </button>
                                    </h2>
                                    <div id="recipeTwoingredients" class="accordion-collapse collapse" data-bs-parent="#recipe2ingredients">
                                        <div class="accordion-body">
                                        {{recipe1.ingredients|safe}}
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="accordion" id="recipe2instructions">
                                    <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#recipeTwo" aria-expanded="true" aria-controls="recipeTwo">
                                            Instructions
                                        </button>
                                    </h2>
                                    <div id="recipeTwo" class="accordion-collapse collapse" data-bs-parent="#recipe2instructions">
                                        <div class="accordion-body">
                                        {{recipe2.content|safe}}
                                        </div>
                                    </div>
                                    </div>
                                </div>

                            </div>

                            {% else %}
                            <div class="compare-recipes-child compare-recipes-placeholder">
                                <p>Select any recipe to compare</p>
                            </div>

                            {% endif %}
                        </div>
                            
                    </div>  
                    
                </div> 
            
            </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

<script>
    location.href = "{% url 'home' %}";
</script>
  
{% endif %}
</body>


{% if messages %}
{% for message in messages %}
{% if 'no-more-credits' in message.tags %}                            
<div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-search credit-message-modal">
    <div class="modal-content logoutmodal deletemodal messagemodal">
        <div class="modal-header">
            <h5 class="modal-title" id="messagesModalLabel">Alert</h5>
            <button type="button" class="btn btn-transparent modal-close-btn" data-bs-dismiss="modal" aria-label="Close"><span class="material-symbols-rounded md-top-closeicon">close</span></button>
        </div>
        
        <div class="modal-body">
        
        <div class="callout callout-warning">
            <h5><span class="material-symbols-rounded warning-icon" id="warning-icon">warning</span> {{ message }}</h5>
        </div>
            
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light footerbtn" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'profile' %}#credits" class="btn btn-transparent footer-btn delete-btn logout-modal-btn">View credits</a>
        </div>
    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
    $('#messagesModal').modal('show');
    });
</script>


<script>
    AOS.init();
  </script>

{% endif %}
{% endfor %}
{% endif %}


{% endblock %}