{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Credits</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}


{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header profile-heading">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Your credits
            </h1>

            <div class="grid-container credits-grid-container">
                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">account_balance_wallet</span>
                            <h4>Current balance</h4>
                        </div>
    
                        <div class="column-content">
                            {{user.profile.credits}}
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">monetization_on</span>
                            <h4>Credits earned</h4>
                        </div>

                        <div class="column-content">
                            {{user.profile.earned_credits}}
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">redeem</span>
                            <h4>Credits redeemed</h4>
                        </div>

                        <div class="column-content">
                            {{user.profile.redeemed_credits}}
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">request_quote</span>
                            <h4>Credits spent</h4>
                        </div>

                        <div class="column-content">
                            {{user.profile.credits_spent}}
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">checkbook</span>
                            <h4>Average spent</h4>
                        </div>

                        <div class="column-content">
                            {{average_credit_spent|floatformat:2}}
                        </div>
                    </div>
                </div>
                
                <div class="columns">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">payments</span>
                            <h4>Redeem credits</h4>
                        </div>

                        <div class="column-content">
                            <button type="button" class="btn btn-transparent" data-bs-toggle="modal" data-bs-target="#creditModal">
                                Redeem
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        
            <div class="table-container">
                <div class="table-column">
                    <div class="credit-data-table-column">
                        <div class="d-flex justify-content-between credit-table-header">
                            <h6>Redeemed history</h6>
                            <button type="submit" class="btn btn-transparent" id="redeemed-delete-btn">Delete Selected</button>
                        </div>
                        <div class="main-credit-table-container">
                            {% if user.profile.redeemed_credits != 0 %}
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Redeemed Cr.</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <form method="post" action="{% url 'delete_redeemed_history' %}" id="redeemed-history-form">
                                            {% csrf_token %}
                                            {% for redeemed_credit in redeemed_credits reversed %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="redeemed_history" value="{{ redeemed_credit.id }}" class="redeemed-history-checkbox">
                                                    </td>
                                                    <!-- <th>{{forloop.counter}}.</th> -->
                                                    <td>{{ redeemed_credit.amount }}</td>
                                                    <td>{{ redeemed_credit.redeemed_timestamp.date }}</td>
                                                    <td>{{ redeemed_credit.redeemed_timestamp.time }}</td>
                                                </tr>
                                            {% endfor %}
                                        </form>
                                    </tbody>
                                </table>
                        
                            {% else %}
                                <div class="empty-results">
                                    No redeemed history
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="table-column">
                    <div class="credit-data-table-column">
                        <div class="d-flex justify-content-between credit-table-header">
                            <h6>Credit earned history</h6>
                            <button type="submit" class="btn btn-transparent" id="credit-earned-delete-btn">Delete Selected</button>
                        </div>

                        <div class="main-credit-table-container">
                            {% if user.profile.earned_credits != 0 %}
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Earned</th>
                                            <th scope="col">Removed</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form method="POST" action="{% url 'delete_credit_history' %}" id="credit-earned-history-form">
                                            {% csrf_token %}
                                            {% for history in credit_history reversed %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="selected_history" value="{{ history.id }}" class="credit-earned-history-checkbox">
                                                    </td>
                                                    <!-- <th>{{forloop.counter}}.</th> -->
                                                    <td>
                                                        {% if history.credit_action == 'new_recipe' %}
                                                            New recipe 
                                                        {% elif history.credit_action == 'deleted' %}
                                                            Deleted recipe
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if history.amount == -2 %}
                                                        0
                                                        {% else %}
                                                        {{ history.amount }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if history.amount == -2 %}
                                                        {{ history.amount }}
                                                        {% else %}
                                                        0
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ history.earned_timestamp.date }}</td>
                                                    <td>{{ history.earned_timestamp.time }}</td>
                                                </tr>
                                            {% endfor %}
                                        </form>
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="empty-results">
                                    No earned history
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="table-column">
                    <div class="credit-data-table-column">
                        <div class="d-flex justify-content-between credit-table-header">
                            <h6>Spent history</h6>
                            <button type="submit" class="btn btn-transparent" id="spent-delete-btn">Delete Selected</button>
                        </div>

                        <div class="main-credit-table-container">
                            {% if user.profile.credits_spent != 0 %}
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Recipe</th>
                                        <th scope="col">Spent</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <form method="POST" action="{% url 'delete_spent_history' %}" id="spent-history-form">
                                            {% csrf_token %}
                                            {% for history in credit_spent_history reversed %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="spent_history" value="{{ history.id }}" class="spent-history-checkbox">
                                                    </td>
                                                    <!-- <th>{{forloop.counter}}.</th> -->
                                                    <td>{{ history.recipename.title }}</td>
                                                    <td>{{ history.amount }}</td>
                                                    <td>{{ history.spent_timestamp.date }}</td>
                                                    <td>{{ history.spent_timestamp.time }}</td>
                                                </tr>
                                            {% endfor %}
                                        </form>
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="empty-results">
                                    No spent history
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="table-column">
                    <div class="credit-data-table-column">
                        <div class="d-flex justify-content-between credit-table-header">
                            <h6>Monthly Credit Summary</h6>
                        </div>

                        <div class="main-credit-table-container">
                            {% if user.profile.monthly_summary_list != 0 %}
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Month</th>
                                        <th scope="col">Earned</th>
                                        <th scope="col">Spent</th>
                                        <th scope="col">Redeemed</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for summary in monthly_summary_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}.</td>
                                                <td>{{ summary.month }}</td>
                                                <td>{{ summary.earned }}</td>
                                                <td>{{ summary.spent  }}</td>
                                                <td>{{ summary.redeemed }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="empty-results">
                                    No credit activity found.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}
  
    <script>
        location.href = "{% url 'login' %}";
    </script>

{% endif %}
</body>      

<script>
    const myForm = document.getElementById('creditform');
    const submitButton = document.getElementById('creditbtn');
  
    submitButton.addEventListener('click', () => {
      myForm.submit();
    });
</script>

{# submit btn outside the form for credit earned #}
<script>
    const credit_earned_form = document.getElementById('credit-earned-history-form');
    const credit_earned_del_btn = document.getElementById('credit-earned-delete-btn');
    const credit_earned_checkboxes = document.querySelectorAll('.credit-earned-history-checkbox');

    credit_earned_del_btn.style.display = 'none';

    credit_earned_del_btn.addEventListener('click', function() {
        credit_earned_form.submit();
    });

    function updateDeleteButtonVisibility() {
        const anyChecked = Array.from(credit_earned_checkboxes).some(checkbox => checkbox.checked);
        credit_earned_del_btn.style.display = anyChecked ? 'block' : 'none';
    }

    credit_earned_checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateDeleteButtonVisibility);
    });
</script>

{# submit btn outside the form for redeemed history #}
<script>
    const redeemed_history_form = document.getElementById('redeemed-history-form');
    const redeemed_history_del_btn = document.getElementById('redeemed-delete-btn');
    const redeemed_history_checkboxes = document.querySelectorAll('.redeemed-history-checkbox');
  
    redeemed_history_del_btn.style.display = 'none';

    redeemed_history_del_btn.addEventListener('click', function() {
        redeemed_history_form.submit();
    });

    function updateDeleteButtonVisibility() {
        const anyChecked = Array.from(redeemed_history_checkboxes).some(checkbox => checkbox.checked);
        redeemed_history_del_btn.style.display = anyChecked ? 'block' : 'none';
    }

    redeemed_history_checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateDeleteButtonVisibility);
    });
</script>

{# submit btn outside the form for spent history #}
<script>
    const spent_history_form = document.getElementById('spent-history-form');
    const spent_history_del_btn = document.getElementById('spent-delete-btn');
    const spent_history_checkboxes = document.querySelectorAll('.spent-history-checkbox');
  
    spent_history_del_btn.style.display = 'none';

    spent_history_del_btn.addEventListener('click', function() {
        spent_history_form.submit();
    });

    function updateDeleteButtonVisibility() {
        const anyChecked = Array.from(spent_history_checkboxes).some(checkbox => checkbox.checked);
        spent_history_del_btn.style.display = anyChecked ? 'block' : 'none';
    }

    spent_history_checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateDeleteButtonVisibility);
    });
</script>

{% endblock %}

{% block modals %}
    <div class="modal fade Modal-logout" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content logoutmodal creditmodal weathermodal">

                <div class="modal-body">
                    <div class="modal-body-header">
                        <h2 class="modal-body-text-color">Redeem credits</h2>
                        <!-- <p class="mb-3 mx-auto">Remaining <span class="year_recipe_badge">{{user.profile.earned_credits}}</span></p> -->

                        <form method="post" id="creditform">
                            {% csrf_token %}
                            <input type="number" id="redeem_amount" name="redeem_amount" min="1" max="{{ user.profile.earned_credits }}" placeholder="Enter credits to redeem" required>
                        </form>
                    </div>

                    <div class="modal-body-footer">
                        <button type="button" class="btn btn-transparent footer-btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                        <button form="creditform" class="btn btn-light footerbtn">Redeem</button>
                    </div>
                                    
                </div>

            </div>
        </div>
    </div>
{% endblock %}