{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>{{slug}}</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}


{% block content%}

<body>

    <div class="primary-wrapper">

        <div class="secondary-wrapper">

            <div class="container container-flex container-flex-2">

                <main role="main" class="container-main">

                    <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                            
                        <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
                        {{slug}}
                        </h1>

                        <div class="dynamic-card-container explore-recipes-card-container" style="padding-top: 5px;">

                        {% if indian_cuisine %} 
                            
                            {% for post in indian_cuisine %} 
                    
                                <div class="recipe-cards all-recipes-cards">
                                    <a href="{% url 'topostlogin' post.pk %}">
                                        <div class="img-container">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                        {% endif %}
                                        {% empty %}
                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                        {% endfor %}
                                        </div>
                                        <div class="card-body recipe-info">
                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                            <p class="card-text">
                                                <ul>
                                                    <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                                    <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </a>
                                    <div class="quick-view">
                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                        </button>
                                    </div>

                                </div>

                            {% endfor %}

                        {% elif american_cuisine %} 
                            
                            {% for post in american_cuisine %} 
                    
                                <div class="recipe-cards all-recipes-cards">
                                    <a href="{% url 'topostlogin' post.pk %}">
                                        <div class="img-container">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                        {% endif %}
                                        {% empty %}
                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                        {% endfor %}
                                        </div>
                                        <div class="card-body recipe-info">
                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                            <p class="card-text">
                                                <ul>
                                                    <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                                    <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </a>
                                    <div class="quick-view">
                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                        </button>
                                    </div>

                                </div>

                            {% endfor %}

                        {% elif italian_cuisine %} 
                        
                            {% for post in italian_cuisine %} 
                    
                                <div class="recipe-cards all-recipes-cards">
                                    <a href="{% url 'topostlogin' post.pk %}">
                                        <div class="img-container">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                        {% endif %}
                                        {% empty %}
                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                        {% endfor %}
                                        </div>
                                        <div class="card-body recipe-info">
                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                            <p class="card-text">
                                                <ul>
                                                    <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                                    <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </a>
                                    <div class="quick-view">
                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                        </button>
                                    </div>

                                </div>

                            {% endfor %}

                        {% else %}

                            <p class="m-3">No recipes found :(</p>
                        
                        {% endif %}
                    
                    </div> 

                </main>

            </div>

        </div>

        <div class="footer-wrapper">
            {% include 'testingapp/footer.html' %}
        </div>

    </div>

</body>

{% endblock %}