{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Recipes</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}


{% block content%}

<body>

{% if user.is_authenticated or is_guest %}

    <div class="primary-wrapper">

        <div class="secondary-wrapper">

            <div class="container container-flex container-flex-2">

                <main role="main" class="container-main">

                <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                        
                    <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
                    {% if slug == 'veg_recipes' %}
                    Veg recipes
                    {% elif slug == 'nonveg_recipes' %}
                    Non-veg recipes
                    {% elif slug == 'new_recipes' %}
                    New recipes
                    {% elif slug == 'under_10_minutes' %}
                    Quick recipes
                    {% endif %}
                    </h1>

                    <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">
                        {% if veg_recipes %}
                            
                            {% for post in veg_recipes %} 
                    
                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                            
                            {% endfor %}

                        {% elif nonveg_recipes %}

                            {% for post in nonveg_recipes %} 
                        
                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                            
                            {% endfor %}
                            

                        {% elif new_recipes %}

                            {% for post in new_recipes %} 
                        
                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                                
                            {% endfor %}

                        {% elif under_10_minutes %}

                            {% for post in under_10_minutes %} 
                        
                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                                
                            {% endfor %}

                        {% else %}

                        <p class="sub-heading mt-3">No recipes found :(</p>

                        {% endif %}
                    </div>
                
                </div>

                </main>

            </div>

        </div>

        <div class="footer-wrapper">
            {% include 'testingapp/footer.html' %}
        </div>

    </div>

{% else %}
  
    <script>
        location.href = "{% url 'login' %}";
    </script>

{% endif %}
</body>


{% endblock %}