{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Disliked recipes</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper profile-heading">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Disliked recipes
            </h1>

            <p class="sub-heading no-subheading-animation">Dislikes on recipes</p>

            <div class="grid-container view-grid-container tab-grid-container nav mb-2">
                
                <div class="columns active" id="disliked-recipes-tab" data-bs-toggle="tab" data-bs-target="#disliked-recipes" role="tab" aria-controls="disliked-recipes" aria-selected="true">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">thumb_down</span>
                            <h4>Recipes you disliked</h4>
                        </div>
    
                        <div class="column-content">
                            {{total_dislikes}}
                        </div>
                    </div>
                </div>

                <div class="columns" id="recipes-with-dislikes-tab" data-bs-toggle="tab" data-bs-target="#recipes-with-dislikes" role="tab" aria-controls="recipes-with-dislikes" aria-selected="false">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">recommend</span>
                            <h4>Dislikes on your recipes</h4>
                        </div>
    
                        <div class="column-content">
                            {{total_recipes_with_dislikes}}
                        </div>
                    </div>
                </div>                
                     
                <div class="columns" id="top-disliked-tab" data-bs-toggle="tab" data-bs-target="#top-disliked" role="tab" aria-controls="top-disliked" aria-selected="false">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">north_east</span>
                            <h4>Top disliked recipe</h4>
                        </div>
    
                        <div class="column-content">
                            {{top_dislikes}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="dynamic-card-container all-recipes-card-container tab-content" id="nav-tabContent">
                
                <div class="tab-pane fade show active" id="disliked-recipes" role="tabpanel" aria-labelledby="disliked-recipes-tab" tabindex="0">
         
                    {% for post in all_disliked_recipes %}  
                    
                        {% if post.pk in historys_pk %}

                        <div class="recipe-cards all-recipes-cards">
                            <a href="{% url 'viewpost' post.pk %}">
                                <div class="img-container">
                                    {% for i in post.photo_set.all %}
                                    {% if forloop.counter0 == 0 %}
                                        <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                    {% endif %}
                                    {% empty %}
                                        <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                    {% endfor %}

                                    <div class="readtime-container">
                                        <p>{{ post.read_time }} min read</p>
                                    </div>
                                </div>
                                <div class="card-body recipe-info">
                                    <h4 class="card-title highlight">{{post.title}}</h4>
                                    <p class="card-text">
                                        <ul>
                                            <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                            <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                        </ul>
                                    </p>
                                </div>
                            </a>
                            <div class="quick-view">
                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                    <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                </button>
                            </div>
                            
                            <div class="favourites">
                                {% if post in user.favourite.all %}
                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                    <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                </a>
                                {% else %}
                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                    <span class="material-symbols-rounded favourite-icon">favorite</span>
                                </a>
                                {% endif %}
                            </div>  

                            <div class="cards-footer">

                            </div>
                        </div>
                        
                        {% else %}  
                        
                        <div class="recipe-cards all-recipes-cards">
                            <a href="{% url 'viewpost' post.pk %}">
                                <div class="img-container">
                                    {% for i in post.photo_set.all %}
                                    {% if forloop.counter0 == 0 %}
                                        <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                    {% endif %}
                                    {% empty %}
                                        <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                    {% endfor %}

                                    <div class="readtime-container">
                                        <p>{{ post.read_time }} min read</p>
                                    </div>
                                </div>
                                <div class="card-body recipe-info">
                                    <h4 class="card-title highlight">{{post.title}}</h4>
                                    <p class="card-text">
                                        <ul>
                                            <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                            <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                        </ul>
                                    </p>
                                </div>
                            </a>
                            <div class="quick-view">
                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                    <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                </button>
                            </div>

                            <div class="favourites">
                                {% if post in user.favourite.all %}
                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                    <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                </a>
                                {% else %}
                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                    <span class="material-symbols-rounded favourite-icon">favorite</span>
                                </a>
                                {% endif %}
                            </div>  
                        </div>

                        {% endif %}

                    {% empty %}

                        <div class="mt-3 mx-2">No recipes liked.</div>

                    {% endfor %}
                
                </div>

                <div class="tab-pane fade" id="recipes-with-dislikes" role="tabpanel" aria-labelledby="recipes-with-dislikes-tab" tabindex="0">
                    {% if recipes_with_dislikes %}
                        
                        {% for post in recipes_with_dislikes %}

                            <div class="recipe-cards all-recipes-cards">
                                <a href="{% url 'viewpost' post.pk %}">
                                    <div class="img-container">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                        {% endif %}
                                        {% empty %}
                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                        {% endfor %}

                                        <div class="readtime-container">
                                            <p>{{ post.read_time }} min read</p>
                                        </div>
                                    </div>
                                    <div class="card-body recipe-info">
                                        <h4 class="card-title highlight">{{post.title}}</h4>
                                        <p class="card-text">
                                            <ul>
                                                <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                                <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                            </ul>
                                        </p>
                                    </div>
                                </a>
                                <div class="quick-view">
                                    <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                        <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                    </button>
                                </div>

                                <div class="favourites">
                                    {% if post in user.favourite.all %}
                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                        <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                    </a>
                                    {% else %}
                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                        <span class="material-symbols-rounded favourite-icon">favorite</span>
                                    </a>
                                    {% endif %}
                                </div>  
                            </div>

                        {% endfor %}
                
                    {% else %}

                        <div class="mt-3 mx-2">No recipes.</div>

                    {% endif %}
                </div>

                <div class="tab-pane fade" id="top-disliked" role="tabpanel" aria-labelledby="top-disliked-tab" tabindex="0">
                    
                    {% if top_disliked_recipe %}
                        
                        {% for post in top_disliked_recipe %}

                            <div class="recipe-cards all-recipes-cards">
                                <a href="{% url 'viewpost' post.pk %}">
                                    <div class="img-container">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                        {% endif %}
                                        {% empty %}
                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                        {% endfor %}

                                        <div class="readtime-container">
                                            <p>{{ post.read_time }} min read</p>
                                        </div>
                                    </div>
                                    <div class="card-body recipe-info">
                                        <h4 class="card-title highlight">{{post.title}}</h4>
                                        <p class="card-text">
                                            <ul>
                                                <li><img src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                                <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                            </ul>
                                        </p>
                                    </div>
                                </a>
                                <div class="quick-view">
                                    <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                        <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                    </button>
                                </div>

                                <div class="favourites">
                                    {% if post in user.favourite.all %}
                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                        <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                    </a>
                                    {% else %}
                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                        <span class="material-symbols-rounded favourite-icon">favorite</span>
                                    </a>
                                    {% endif %}
                                </div>  
                            </div>

                        {% endfor %}
                    
                    {% else %}

                        <div class="mt-3 mx-2">No top liked recipe.</div>

                    {% endif %}

                </div>
                     
              </div> 
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

    <script>
        location.href = "{% url 'login' %}";
    </script>

{% endif %}
</body>

{% endblock %}