{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% load dictionary_values %}

{% load read_time_pluralize %}

{% block title %}
<title>Explore</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

  {% if user.is_authenticated or is_guest %}

  <div class="primary-wrapper">
    
    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button>
              Explore
            </h1>

            <div class="explore-tab">
              {% for category in types.keys %}
                <button class="tablinks" {% if forloop.first %}id="defaultOpen"{% endif %} onclick="recipes(event, '{{ category }}')"><span class="tab-btns-label">{{ category|title }}</span></button>
              {% endfor %}
            </div>

            {% for category in types %}
              <div id="{{ category }}" class="tabcontent main-tabcontent">

                <h5>
                  <span class="tab-heading">
                    {% if not category_counts|get_item:category %}
                      No recipe available !
                    {% else %}
                    <span class="tot_recipe_badge badge">{{ category_counts|get_item:category }}</span> recipes available
                    {% endif %}
                  </span>
                </h5>

                <div class="dynamic-card-container explore-recipes-card-container">
      
                  {% with posts=category_dict|get_item:category %}
                                              
                    {% if posts %}

                      {% for post in posts %}

                        {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                      
                      {% endfor %}
                    
                    {% endif %}
                    
                  {% endwith %}
                </div> 

              </div>
            {% endfor %}

          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
      {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-recipes-explore-header">
                  
            <h1>Explore</h1>

            <div class="explore-tab">
              {% for category in types.keys %}
                <button class="tablinks" {% if forloop.first %}id="defaultOpen"{% endif %} onclick="recipes(event, '{{ category }}')"><span class="tab-btns-label">{{ category|title }}</span></button>
              {% endfor %}
            </div>

            {% for category in types %}
              <div id="{{ category }}" class="tabcontent main-tabcontent">

                <h5>
                  <span class="tab-heading">
                    {% if not category_counts|get_item:category %}
                      No recipe available !
                    {% else %}
                    <span class="tot_recipe_badge badge">{{ category_counts|get_item:category }}</span> recipes available
                    {% endif %}
                  </span>
                </h5>

                <div class="dynamic-card-container explore-recipes-card-container">
      
                  {% with posts=category_dict|get_item:category %}
                                              
                    {% if posts %}
                          
                      {% for post in posts %}

                        {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                      
                      {% endfor %}
                    
                    {% endif %}
                    
                  {% endwith %}

                </div> 

              </div>
            {% endfor %}

          </div>

        </main>

      </div>

    </div>

  </div>  

{% endif %}

</body>

<script>
    function recipes(evt, tabName) {
        document.querySelectorAll('.main-tabcontent').forEach(e => e.style.display = 'none');
        document.querySelectorAll('.tablinks').forEach(e => e.classList.remove('active'));

        const targetTab = document.getElementById(tabName);
        if (targetTab) {
            targetTab.style.display = 'block';
            evt.currentTarget.classList.add('active');
        }
    }

    window.addEventListener("DOMContentLoaded", function () {
        document.getElementById("defaultOpen").click();
    });
</script>

{% endblock %}