{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Favourites</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Favourites
            </h1>

            <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary favourites-card-container">

              {% if new %}

                {% include 'testingapp/update_recipe_card.html' %}
              
              {% else %}
              
                <div class="unavailable-message">
                  <p>No favourite recipe yet!</p>
                </div>
              
              {% endif %}
            </div> 
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

  <script>
    location.href = "{% url 'login' %}";
  </script>

{% endif %}
</body>

{% endblock %}