{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% load notifications_tags %}

{% load tz %}

{% load read_time_pluralize %}

{% block title %}
<title>Home</title>
{% endblock %}


{% block weather_widget %}
    {% if not is_guest %}
        <li class="nav-item">
            {% if user.userlocation.location == '' %}
                <div class="rightside-searchbar location-icon-container">
                    <span data-bs-toggle="modal" data-bs-target="#weatherModal">
                        <h5 class=""><span class="material-symbols-rounded rightside-searchicon">add_location</span></h5>
                    </span>
                </div>

            {% else %}
                <div class="rightside-searchbar">
                    <div class="weather-data" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-title="Current weather">
                        <div class="row" data-bs-toggle="modal" data-bs-target="#weatherModal">
                            <div class="col-4 navbarIconWrapper">
                                <img class="navbarweatherIcon">
                            </div>

                            <div class="col-6 navbarTempWrapper">
                                <span class="navbartemperature"></span> <span class="temp-unit">°C</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}


{% block content%}

<body>

    {% if user.is_authenticated or is_guest %}

        <div class="primary-wrapper">
            
            <header class="main-header">
                {% for post in spotlight_list|slice:"0:1" %}

                    {% if post.date_post.day == date.day and post.date_post.month == date.month and post.date_post.year == date.year %}
        
                    {% else %}

                        <h1>Spotlight</h1>
                    {% endif %}

                {% endfor %}


                <div class="cards-wrapper">
                    {% for post in spotlight_list %}

                        {% if post.date_post.day == date.day and post.date_post.month == date.month and post.date_post.year == date.year %}
                        
                        {% else %}
                            
                            {% if 'rice' in post.title %}
    
                            {% else %}

                                <button type="button" class="btn btn-warning spotlight-btn" data-bs-toggle="modal" data-bs-target="#spotlightModal{{post.pk}}">
                                    <div class="card">
                                        <div class="spotlight-card">
                                            {% for i in post.photo_set.all %}
                                            {% if forloop.counter0 == 0 %}
                                                <img loading="lazy" src="{{ i.image.url }}" alt="{{post.title}}" class="spotlight-image">
                                            
                                                <div class="card-img-overlay">
                                                    <h3 class="card-title">{{post.whenpublished}}</h3>
                                                </div>
                                            {% endif %}
                                            {% endfor %}  
                                        </div>  
                                    </div>
                                </button> 
                            {% endif %}
                            
                        {% endif %}

                    {% endfor %}
                    
                    {# rice recipe cards #}
                    {% for post in rice_recipe_list %}
                        {% if forloop.first %}
                            <button type="button" class="btn btn-warning spotlight-btn" data-bs-toggle="modal" data-bs-target="#similarricerecipes">
                                <div class="card">
                                    <div class="spotlight-card">
                                        {% for i in post.photo_set.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <img loading="lazy" src="{{ i.image.url }}" alt="{{post.title}}" class="spotlight-image">
                                        
                                            <div class="card-img-overlay">
                                                {# <h3 class="card-title">{{post.whenpublished}}</h3> #}
                                                <h3 class="card-title">Rice recipes</h3>
                                            </div>
                                        {% endif %}
                                        {% endfor %} 
                                    </div>  
                                </div>
                            </button>    
                        {% endif %}       
                    {% endfor %}

                </div>    
                
            </header>
            
            <div class="secondary-wrapper">

                <div class="container container-flex">

                    <main role="main" class="home-main">

                        {% if not is_guest %}
                        
                            {% if recipes_preference %}

                                <div class="dynamic-recipes preference-dynamic-recipes">

                                    <h1>To your likings</h1>

                                    <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">        
                                        
                                            {% for post in recipes_preference %}
                                            
                                                <div class="recipe-cards all-recipes-cards" data-post-id="{{ post.id }}" data-bgcolor="{{ post.color_1 }}" data-hovercolor="{{ post.color_5 }}">
                                                    
                                                    <a href="{% url 'viewpost' post.pk %}">

                                                        <div class="img-container in-history">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                            {% endif %}
                                                            {% empty %}
                                                                <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time|pluralize_min }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="recipe-info" data-color="{{ post.color_7 }}">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out" data-qvcolor="{{ post.color_2 }}" data-hovercolor="{{ post.color_5 }}">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                        </button>
                                                    </div>

                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div>  
                                                    
                                                </div>

                                            {% endfor %}


                                    </div>
                                    
                                </div>

                            {% else %}

                                <div class="dynamic-recipes" id="dynamic-recipes">

                                    <h1>{{ meal_type }}
                                        <div class="scroll-btn-container">
                                            <button id="scroll-left" class="scroll-btn">
                                                <span class="material-symbols-rounded scroll-icon" onmouseover="ifdisabled(this)" onmouseout="normal(this)" id="scroll-icon-left">arrow_back_ios_new</span>
                                            </button>
                                            
                                            
                                            <button id="scroll-right" class="scroll-btn">
                                                <span class="material-symbols-rounded scroll-icon">arrow_forward_ios</span>
                                            </button>
                                        </div>
                                    </h1>

                                    {# post before = in (post=post) is the name of the variable inside #}
                                    {# post (after =) is the current loop variable from for loop #}
                                    
                                    <div class="dynamic-card-container">
                                        {% for post in meal_posts %}
                                            {% include "testingapp/recipe_card.html" with post=post extra_css_class="" %}
                                        {% endfor %}
                                    </div>
                                </div>

                            {% endif %}

                        {% else %}
                        
                            <div class="dynamic-recipes">

                                <h1>{{ meal_type }}
                                    <div class="scroll-btn-container">
                                        <button id="scroll-left" class="scroll-btn">
                                            <span class="material-symbols-rounded scroll-icon" onmouseover="ifdisabled(this)" onmouseout="normal(this)" id="scroll-icon-left">arrow_back_ios_new</span>
                                        </button>
                                        
                                        
                                        <button id="scroll-right" class="scroll-btn">
                                            <span class="material-symbols-rounded scroll-icon">arrow_forward_ios</span>
                                        </button>
                                    </div>
                                </h1>

                                <div class="dynamic-card-container">
                                    {% for post in meal_posts %}
                                        {% include "testingapp/recipe_card.html" with post=post extra_css_class="" %}
                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}
                        
                        {% if not is_guest %}
                            {# Recipes based on weather conditions #}
                            {% if not user.userlocation.location == '' %}
                                <div class="dynamic-recipes dynamic-all-recipes-card dynamic-weather-all-recipes-card" id="weather-based-recipes-suggestions">
                                    <span id="suggested-recipes-header"></span>
                                    <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary" id="suggested-recipes-container"></div>
                                </div>
                            {% endif %}
                        {% endif %}                    

                        {# popular recipe card #}
                        <div class="dynamic-recipes">
                            
                            <div class="dynamic-card-container popular-card-container">

                                {% if popular_recipe %}

                                    {% for post in popular_recipe|slice:"0:1" %}
                                        <div class="popular-recipe-card">
                                            
                                            {% for i in post.photo_set.all %}
                                            {% if forloop.counter0 == 0 %}
                                                <img loading="lazy" src="{{ i.image.url }}" alt="{{post.title}}" class="">
                                            {% endif %}
                                            {% empty %}
                                                <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="">
                                            {% endfor %}
                                            
                                            <div class="popular-card-overlay-heading">
                                                <h1>Popular this week </h1>
                                            </div>
                                            <div class="popular-card-overlay-body">
                                                    
                                                <div class="d-flex">
                                                    <div class="pop-card-body-content p-2 flex-grow-1">
                                                        <h2>{{post.title}}</h2>
                                                    </div>

                                                    <div class="p-2">
                                                        <a href="{% url 'viewpost' post.pk %}" class="article-read-more">View</a>
                                                    </div>
                                                
                                                    <div class="px-2">
                                                        <div class="quick-view popular-recipe-qv">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}

                                    {% if random_obj %}

                                        <div class="popular-recipe-card">
                                                    
                                            <img loading="lazy" src="{{ random_obj.photo_set.first.image.url }}" alt="{{random_obj.title}}" class="">
                                            
                                            <div class="popular-card-overlay-heading">
                                                <h1>Featured</h1>
                                            </div>
                                            <div class="popular-card-overlay-body">
                                                    
                                                <div class="d-flex">
                                                    <div class="pop-card-body-content p-2 flex-grow-1">
                                                        <h2>{{random_obj.title}}</h2>
                                                    </div>

                                                    <div class="p-2">
                                                        <a href="" class="article-read-more">View</a>
                                                    </div>
                                                
                                                    <div class="px-2">
                                                        <div class="quick-view popular-recipe-qv">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{random_obj.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    
                                    {% else %}
                                    
                                    {% endif %}
                                    

                                {% endif %}
                            </div>

                        </div>              
                        
                        {# For you cards #}
                        <div class="dynamic-recipes foryou-wrapper">
                            <h1>For you</h1>

                            <div class="dynamic-card-container foryou-container">
                                
                                <div class="static-info-cards">                      
                                    <a href="{% url 'custom_cards' slug='veg_recipes' %}">
                                        <div class="static-card-container">
                                            <div class="d-flex align-items-start flex-column card-info">
                                                <div class="mb-auto p-2 card-header">
                                                    <span class="material-symbols-rounded header-icon veg-icon">eco</span>
                                                </div>
                                                <div class="p-2 card-text">Veg recipes</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="static-info-cards">                 
                                    <a href="{% url 'custom_cards' slug='nonveg_recipes' %}">
                                        <div class="static-card-container">
                                            <div class="d-flex align-items-start flex-column card-info">
                                                <div class="mb-auto p-2 card-header">
                                                    <span class="material-symbols-rounded header-icon nonveg-icon">square_dot</span>
                                                </div>
                                                <div class="p-2 card-text">Non-veg recipes</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="static-info-cards">               
                                    <a href="{% url 'custom_cards' slug='new_recipes' %}">
                                        <div class="static-card-container">
                                            <div class="d-flex align-items-start flex-column card-info">
                                                <div class="mb-auto p-2 card-header">
                                                    <span class="material-symbols-rounded header-icon">award_star</span>
                                                </div>
                                                <div class="p-2 card-text">New recipes</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="static-info-cards">               
                                    <a href="{% url 'custom_cards' slug='under_10_minutes' %}">
                                        <div class="static-card-container">
                                            <div class="d-flex align-items-start flex-column card-info">
                                                <div class="mb-auto p-2 card-header">
                                                    <span class="material-symbols-rounded header-icon">timer</span>
                                                </div>
                                                <div class="p-2 card-text">>10 minutes</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                {% if date.month == 12 %}

                                <div class="static-info-cards">               
                                    <a href="{% url 'year_recap' %}">
                                        <div class="static-card-container">
                                            <div class="d-flex align-items-start flex-column card-info">
                                                <div class="mb-auto p-2 card-header">
                                                    <span class="material-symbols-rounded header-icon">fast_rewind</span>
                                                </div>
                                                <div class="p-2 card-text">Year recap</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                                {% else %}
                                
                                {% endif %}
                                
                            </div>
                        </div>

                        {# all recipe card #}
                        <div class="dynamic-recipes dynamic-all-recipes-card">
                    
                            {% if recommended_recipes %}
                                <h1>Recommended recipes</h1>
                            
                            {% else %}
                                <h1>Curated recipes</h1>

                            {% endif %}

                            <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary all-recipes-card-container-tertiary">

                                {% if recommended_recipes %}

                                    {% for post in recommended_recipes %}

                                        <div class="recipe-cards all-recipes-cards">

                                            <a href="{% url 'viewpost' post.pk %}">
                                                <div class="img-container in-history">
                                                    
                                                    {% if post.image_url %}
                                                        <img loading="lazy" src="{{ post.image_url }}" class="recipe-img" alt="{{post.title}}">
                                                    {% else %}
                                                        <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                    {% endif %}

                                                    <div class="readtime-container">
                                                        <p>{{ post.read_time|pluralize_min }}</p>
                                                    </div>
                                                </div>
                                                <div class="card-body recipe-info">
                                                    <h4 class="card-title highlight">{{post.title}}</h4>
                                                    <p class="card-text">
                                                        <ul>
                                                            <li><img loading="lazy" src="{{ post.author_profile_img }}" alt="Image"></li>
                                                            <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {{post.hit_count_value}} views</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </a>
                                            <div class="quick-view">
                                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                    <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                </button>
                                            </div>

                                            {% if not is_guest %}
                                                <div class="favourites">
                                                    {% if post in user.favourite.all %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                                    </a>
                                                    {% else %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                    </a>
                                                    {% endif %}
                                                </div>  
                                            {% endif %}

                                        </div>

                                    {% endfor %}

                                {% elif all_urecipe %}

                                    {% for post in all_urecipe %}
                                        {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}
                                    {% endfor %}

                                {% else %}

                                <div class="no-results">
                                    <div class="no-results-image">
                                        <img loading="lazy" src="{% static 'testingapp/media/empty.png' %}" class="article-image">
                                    </div>
                                    <p> No recipes available!</p>
                                </div>

                                {% endif %}
                                
                            </div> 
                        
                        </div>

                        {# Recipes from user (following) which current user follows #}
                        {% if following_user_posts %}
                            <div class="dynamic-recipes dynamic-all-recipes-card">
                                <h1>From people you follow</h1>

                                <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary all-recipes-card-container-tertiary">
                                    {% for user, posts in following_user_posts.items %}

                                        {% for post in posts %}
                                            <div class="recipe-cards all-recipes-cards">

                                                <a href="{% url 'viewpost' post.pk %}">
                                                    <div class="img-container in-history">

                                                        {% for i in post.photo_set.all %}
                                                        {% if forloop.counter0 == 0 %}
                                                            <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                        {% endif %}
                                                        {% empty %}
                                                            <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                        {% endfor %}

                                                        <div class="readtime-container">
                                                            <p>{{ post.read_time|pluralize_min }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-body recipe-info" data-color="{{ post.color_7 }}">
                                                        <h4 class="card-title highlight">{{post.title}}</h4>
                                                        <p>
                                                            <ul>
                                                                <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </a>
                                                <div class="quick-view">
                                                    <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                        <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                    </button>
                                                </div>

                                                <div class="favourites">
                                                    {% if post in user.favourite.all %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                                                    </a>
                                                    {% else %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-favcolor="{{ post.color_2 }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                    </a>
                                                    {% endif %}
                                                </div>  

                                            </div>
                                        {% endfor %}
                                        
                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}
                        
                    </main>
                    
                    
                    <aside class="sidebar home-sidebar">
                        
                        <div class="sidebar-recipes">
                            <div class="sidebar-header" id="sidebar-header-h1">
                                <h1>Trending recipes</h1>
                            </div>

                            <div class="dynamic-card-container side-recipes-card-container">
                                {% if trending_recipes %} 
                                
                                    {% for post in trending_recipes|slice:"0:10" %}

                                        {% get_hit_count for post as check %} 
        
                                        {% if check == '0' or check == '1' %}
                            
                                        {% else %}

                                            {% if post.pk in historys_pk %}
                            
                                                <div class="sidebar-cards" data-bgcolor="{{ post.color_1 }}" data-hovercolor="{{ post.color_5 }}">    
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="sidebar-img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img loading="lazy" src="{{ i.image.url }}" class="widget-image" alt="{{post.title}}">
                                                            {% endif %}
                                                            {% empty %}
                                                                <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                                                            {% endfor %}
                                                        </div>

                                                        <div class="card-body sidebar-recipe-info" data-color="{{ post.color_7 }}">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                        </div>
                                                    </a>
                                                    <div class="sidebar-cards-qv" title="Quick view" data-qvcolor="{{ post.color_2 }}" data-hovercolor="{{ post.color_5 }}">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded sidebar-recipe-read-more-icon">view_headline</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="cards-footer">
                                                        
                                                    </div>

                                                </div>

                                            {% else %}
                                            
                                                <div class="sidebar-cards" data-bgcolor="{{ post.color_1 }}" data-hovercolor="{{ post.color_5 }}">    
                                                    
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="sidebar-img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img loading="lazy" src="{{ i.image.url }}" class="widget-image" alt="{{post.title}}">
                                                            {% endif %}
                                                            {% empty %}
                                                                <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="widget-image">
                                                            {% endfor %}
                                                        </div>

                                                        <div class="card-body sidebar-recipe-info" data-color="{{ post.color_7 }}">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                        </div>
                                                    </a>
                                                    <div class="sidebar-cards-qv" title="Quick view" data-qvcolor="{{ post.color_2 }}" data-hovercolor="{{ post.color_5 }}">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded sidebar-recipe-read-more-icon">view_headline</span>
                                                        </button>
                                                    </div>

                                                </div>
                                            
                                            {% endif %}

                                        {% endif %}
                                            
                                    {% endfor %}
                                
                                {% else %}
                                    <div class="unavailable-message sidebar-unavailable-message">
                                        <p>No recipes available!</p>
                                    </div>
                                {% endif %}
                                    
                            </div>

                        </div>
                        
                    </aside>

                </div>
            
            </div>

            <div class="footer-wrapper">
                {% include 'testingapp/footer.html' %}
            </div>

        </div>
    
    {% else %}

    <script>
      location.href = "{% url 'login' %}";
    </script>

  {% endif %}
    
</body>

<!-- <script>
    function updaterecipes() {
        fetch("{% url 'refresh_recipes' %}")
        .then(res => res.json())
        .then(data => {
            document.getElementById("dynamic-recipes").innerHTML = data.html;
        })
    }

    function checktime() {
        let now = new Date();
        let hour = now.getHours();

        if (hour === 4 || hour === 12 || hour === 17 || hour === 19) {
            updaterecipes();
        }
    }

    checktime();

    setInterval(checktime, 60 * 60 * 1000);
</script> -->

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> 

{% if success_text %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <dotlottie-player src="https://lottie.host/c4123073-6711-404a-8725-078a15a5803e/4m2OD09vRe.json" background="transparent" speed="1" style="width: 350px; height: 300px;" autoplay></dotlottie-player>

    <div id="newToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex"> 
            <div class="toast-body">
                <q><b>{{ success_text }}</b></q> successfully published! 
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    var successToast = new bootstrap.Toast(document.getElementById('newToast'));
    successToast.show();
</script>
{% endif %}

{# scroll buttons #}
<script>
    const cardWrapper = document.querySelector('.dynamic-card-container');
    const scrollLeftButton = document.getElementById('scroll-left');
    const scrollRightButton = document.getElementById('scroll-right');
    
    function updateScrollButtons() {
        if (cardWrapper.scrollLeft === 0) {
            scrollLeftButton.classList.add('disabled');
        } else {
            scrollLeftButton.classList.remove('disabled');
        }
    
        if (cardWrapper.scrollLeft + cardWrapper.offsetWidth >= cardWrapper.scrollWidth) {
            scrollRightButton.classList.add('disabled');
        } else {
            scrollRightButton.classList.remove('disabled');
        }
    }
    
    
    updateScrollButtons();
    
    cardWrapper.addEventListener('scroll', updateScrollButtons);
    
    scrollLeftButton.addEventListener('click', () => {
        cardWrapper.scrollLeft -= 320;
        behavior: 'smooth'
        updateScrollButtons();
    });
    
    scrollRightButton.addEventListener('click', () => {
        cardWrapper.scrollLeft += 320;
        behavior: 'smooth'
        updateScrollButtons();
    });
</script>

<!-- {% if show_guest_modal %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const modal = new bootstrap.Modal(document.getElementById('guestUserModal'));
        modal.show();
    });
    </script>
{% endif %} -->

{% endblock %}

{% block modals %}
    {# similar day spotlight modal #}
    {% for post in spotlight_list %}
    <div class="modal fade modal-xl" id="spotlightModal{{post.pk}}" tabindex="-1" aria-labelledby="spotlightModalLabel" aria-hidden="true">
        <div class="modal-dialog spotlight-modal-dialog">
        <div class="modal-content spotlight-modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="spotlightModalLabel">{{post.get_date|date:"F j, Y"}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body spotlight-modal-body">

                <div class="modal-body-wrapper">
                    <div class="main-image">
                        
                        {% for i in post.photo_set.all %}
                        {% if forloop.counter0 == 0 %}
                            <img loading="lazy" src="{{ i.image.url }}" class="card-img" alt="{{post.title}}">
                        {% endif %}
                        {% empty %}
                            <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="card-img" alt="">
                        {% endfor %}
                        <div class="card-img-overlay">
                            <div class="d-block image-text">
                                <h2>{{post.title}}</h2>
                                {# <p>{{post.get_date|date:"F j, Y"}}</p> #}
                                </div>
                            </div>
                            <a href="{% url 'viewpost' post.pk %}" class="stretched-link"></a>
                        </div>    
                        
                    </div>
                </div>
            
            </div>

        </div>
        </div>
    </div>
    {% endfor %}

    {# similar rice recipes modal #}
    <div class="modal fade modal-xl" id="similarricerecipes" tabindex="-1" aria-labelledby="similarricerecipes" aria-hidden="true">
        <div class="modal-dialog spotlight-modal-dialog">
        <div class="modal-content spotlight-modal-content">
            <div class="modal-header">
            <h1 class="modal-title" id="similarricerecipesLabel">Similar rice recipes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body spotlight-modal-body">

                <div class="modal-body-wrapper">
                    <div class="main-image">
                        {% for post in rice_recipe_list %}
                            {% for i in post.photo_set.all %}
                            {% if forloop.counter0 == 0 %}
                                <img loading="lazy" src="{{ i.image.url }}" class="card-img" alt="{{post.title}}">
                            {% endif %}
                            {% endfor %}
                            <div class="card-img-overlay">
                                <div class="d-block image-text">
                                    <h2>{{post.title}}</h2>
                                    <p>{{post.get_date|date:"F j, Y"}}</p>
                                </div>
                            </div>
                            <a href="{% url 'viewpost' post.pk %}" class="stretched-link"></a>
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}