{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Liked recipes</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper profile-heading">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Liked recipes
            </h1>

            <p class="sub-heading no-subheading-animation">Likes on recipes</p>

            <div class="grid-container view-grid-container tab-grid-container nav mb-2">
                
                <div class="columns active" id="liked-recipes-tab" data-bs-toggle="tab" data-bs-target="#liked-recipes" role="tab" aria-controls="liked-recipes" aria-selected="true">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">thumb_up</span>
                            <h4>Recipes you liked</h4>
                        </div>
    
                        <div class="column-content">
                            {{total_likes}}
                        </div>
                    </div>
                </div>

                <div class="columns" id="recipes-with-likes-tab" data-bs-toggle="tab" data-bs-target="#recipes-with-likes" role="tab" aria-controls="recipes-with-likes" aria-selected="false">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">recommend</span>
                            <h4>Likes on your recipes</h4>
                        </div>
    
                        <div class="column-content">
                            {{total_recipes_with_likes}}
                        </div>
                    </div>
                </div>                
                     
                <div class="columns" id="top-liked-tab" data-bs-toggle="tab" data-bs-target="#top-liked" role="tab" aria-controls="top-liked" aria-selected="false">
                    <div class="column-container">
                        <div class="column-header">
                            <span class="material-symbols-rounded column-header-icon">north_east</span>
                            <h4>Top liked recipe</h4>
                        </div>
    
                        <div class="column-content">
                            {{top_likes}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="dynamic-card-container all-recipes-card-container">

                <div class="liked-disliked-card-container tab-content" id="nav-tabContent">
                
                    <div class="tab-pane fade show active" id="liked-recipes" role="tabpanel" aria-labelledby="liked-recipes-tab" tabindex="0">
            
                        {% for post in all_liked_recipes %}  
                        
                            {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}

                        {% empty %}

                            <div class="mt-3 mx-2">No recipes liked.</div>

                        {% endfor %}
                    
                    </div>

                    <div class="tab-pane fade" id="recipes-with-likes" role="tabpanel" aria-labelledby="recipes-with-likes-tab" tabindex="0">
                        {% if recipes_with_likes %}
                            
                            {% for post in recipes_with_likes %}

                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}

                            {% endfor %}
                    
                        {% else %}

                            <div class="mt-3 mx-2">No recipes.</div>

                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="top-liked" role="tabpanel" aria-labelledby="top-liked-tab" tabindex="0">
                        
                        {% if top_liked_recipe %}
                            
                            {% for post in top_liked_recipe %}

                                {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards" %}

                            {% endfor %}
                        
                        {% else %}

                            <div class="mt-3 mx-2">No top liked recipe.</div>

                        {% endif %}

                    </div>

                </div>
                     
            </div> 
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

    <script>
        location.href = "{% url 'login' %}";
    </script>

{% endif %}
</body>

{% endblock %}