{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% load socialaccount %}

{% block css %}
{% endblock %}


{% block title %}
<title>Login</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content %}


<body>

    {% if not user.is_authenticated %}
        <div class="container-fluid">
            <div class="row no-gutter">

                <div class="col-md-7 d-none d-md-flex {% if not is_guest %} bg-image {% else %} guest-login-bg-image {% endif %}"></div>
            
                    <!-- <div class="col-md-7 d-none d-md-flex guest-image">
                        <div class="blob blob1"></div>
                        <div class="blob blob2"></div>
                        <div class="blob blob3"></div>
                        <div class="blob blob4"></div>
                    </div> -->
                

                <div class="col-md-5 second-half">
                    <div class="login d-flex align-items-center py-5">

                        <div class="container login-container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    
                                    {% if request.session.existing_user_first_name %}
                                        <h3>Welcome, <span class="existing-user-name">{{ request.session.existing_user_first_name }}</span></h3>
                                    {% elif not user.is_authenticated and is_guest %}
                                        <h3>Login required</h3>
                                    {% else %}
                                        <h3>Welcome back</h3>
                                    {% endif %}
                                    
                                    <form method="POST" class="login-form">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                        {% if request.session.existing_user_email %}
                                            <input type="email" name="email" class="form-control" id="inputEmail3" value="{{ request.session.existing_user_email }}" placeholder="Email" required>
                                        {% else %}
                                            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" required>
                                        {% endif %}
                                    </div>
                                    <div class="form-group pwd-input mb-4">
                                        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                                        <div class="password-visibility">
                                            <span class="material-symbols-rounded pwd-icon" onclick="viewpassword()">visibility</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-primary" id="btnSubmit">Login</button>

                                        <a type="submit" class="btn btn-primary frgt-pwd-link" href="{% url 'password_reset' %}">Forgot password</a>
                                    </div>

                                    {% if not is_guest %}
                                        <div class="guest-login-link-container">
                                            <a href="/" data-bs-toggle="modal" data-bs-target="#guestInputModal">Login as Guest</a>
                                        </div>
                                    {% endif %}

                                    <div class="google-signup-btn google-signup-btn-login-pg">
                                        <a href="{% provider_login_url 'google' %}" class="google-signup-link" style="border-radius: 100px;">
                                          <div class="flex--item s-btn s-btn__muted s-btn__outlined s-btn__icon google-login">
                                            <svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18">
                                              <path fill="#4285F4" d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18"></path>
                                              <path fill="#34A853" d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17"></path>
                                              <path fill="#FBBC05" d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18z"></path>
                                              <path fill="#EA4335" d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.8 4.8 0 0 1 4.48-3.3"></path>
                                            </svg> Sign in with Google
                                          </div>
                                        </a>
                                    </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    {% else %}

    <script>
        location.href = "{% url 'home' %}";
      </script>

    {% endif %}

</body>

{# View password #}
<script>
    function viewpassword() {
    var viewpwd = document.getElementById("inputPassword3");
    var icon = document.querySelector(".pwd-icon")
    if (viewpwd.type === "password") {
        viewpwd.type = "text";
        icon.classList.add('icon-active')
    } else {
        viewpwd.type = "password";
        icon.classList.remove('icon-active')
    }
}
</script>

{# guestInputModal multi step content #}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const continueBtn = document.querySelector(".continue-btn");
        const backBtn = document.querySelector(".back-btn");
        const submitBtn = document.querySelector(".submit-btn");
        const slideContent = document.querySelector(".modal-slide-content");
        const guestForm = document.getElementById("guestInputForm");
        const nameField = document.getElementById("guest_user_name");
        const guestName = document.getElementById("guestname");

        continueBtn.addEventListener("click", () => {
            if (!guestForm.checkValidity()) {
            guestForm.classList.add("was-validated");
            return;
            }

            const name = nameField.value.trim();
            guestName.textContent = `Welcome, ${name}`;

            slideContent.style.transform = "translateX(-50%)";
            continueBtn.style.display = "none";
            backBtn.style.display = "inline-block";
            submitBtn.style.display = "inline-block";
        });

        backBtn.addEventListener("click", () => {
            slideContent.style.transform = "translateX(0)";
            continueBtn.style.display = "inline-block";
            backBtn.style.display = "none";
            submitBtn.style.display = "none";
        });
    });

</script>

{% endblock %}

{% block modals %}
    {% if messages %}                               
    <div class="modal fade Modal-logout" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content logoutmodal creditmodal messagemodal">
                <div class="modal-body">
                    {% for message in messages %}
                    <div class="modal-body-header">
                        <h2>Error</h2>
                        <p class="text-center">{{ message }}</p>
                    </div>
                    {% endfor %}

                    <div class="modal-body-footer">
                        <button type="button" class="btn btn-transparent footer-btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
        $('#messagesModal').modal('show');
        });
    </script>
    {% endif %}


    {# Guest user input modal #}
    <div class="modal fade Modal-logout" id="guestInputModal" tabindex="-1" aria-labelledby="guestInputModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content logoutmodal creditmodal weathermodal guestmodal">
                <div class="modal-body">
                    <input type="checkbox" id="slideToggle" class="slide-toggle" hidden>

                    <div class="modal-slide-container">
                        <div class="modal-slide-content">
                            <div class="modal-body-header slide-panel">
                                <h2 class="modal-body-text-color">Guest Login</h2>
                                <p class="del-text modal-body-text-color text-center text-muted mb-3">Proceed as Guest</p>
                                
                                <form method="post" class="needs-validation" novalidate id="guestInputForm" action="{% url 'guest_mode' %}">
                                    {% csrf_token %}
                                    <input type="text" name="guest_user_name" id="guest_user_name" placeholder="First name" maxlength="50" required="required">
                                    <div class="invalid-feedback mx-2">
                                        Name is required
                                    </div>
                                </form>
                            </div>

                            <div class="modal-body-header slide-panel limited-access-panel">
                                <h2 class="modal-body-text-color" id="guestname"></h2>
                                <p class="del-text modal-body-text-color text-center text-muted">
                                    As a guest user, some features are restricted. Consider signing up for the full experience.
                                </p>
                            </div>
                        </div>
                    </div>
             

                    <div class="modal-body-footer guest-modal-body-footer" id="logoutfooter">
                       <div class="d-flex">
                            <div class="me-auto"><button type="button" class="btn btn-transparent footer-btn cancel-btn back-btn" style="display: none;">Back</button></div>
                            <div><button type="button" class="btn btn-transparent footer-btn cancel-btn" data-bs-dismiss="modal">Cancel</button></div>
                            <div><a class="btn btn-transparent modal-logout-btn continue-btn">Next</a></div>
                            <div><button form="guestInputForm" class="btn btn-transparent modal-logout-btn submit-btn" style="display: none;">Continue</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}