{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Password reset sent</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content %}


<body>

  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-md-11 second-half">
        <div class="login d-flex align-items-center py-5">
          
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto pwd-reset-container">
                <h4>Password reset sent</h4>
                <p class="mb-3">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


</body>




{% endblock %}