{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>Set new password</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content %}


<body>

  <div class="container-fluid">
    <div class="row no-gutter">

      <!-- The content half -->
      <div class="col-md-11 second-half">
        <div class="login d-flex align-items-center py-5">
          
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto pwd-reset-container">
                <h4>Set new password</h4>
                <p class="mb-4">Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="POST" class="login-form">
                    {% csrf_token %}

                    <div class="form-group mb-4">
                        <input type="password" name="new_password1" autocomplete="new-password" class="form-control" placeholder="New password" required="" id="id_new_password1">
                    </div>

                    <div class="form-group mb-4">
                        <input type="password" name="new_password2" autocomplete="new-password" class="form-control" placeholder="Confirm password" required="" id="id_new_password2">
                    </div>

                    <div id="password-mismatch-error" class="text-danger mb-4"></div>

                    <button type="submit" class="btn btn-primary" id="btnSubmit">Change my password</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div><!-- End -->

    </div>
  </div>


</body>


<script>
  document.getElementById('btnSubmit').addEventListener('click', function (event) {
      event.preventDefault();

      var password1 = document.getElementById('id_new_password1').value;
      var password2 = document.getElementById('id_new_password2').value;

      var errorDiv = document.getElementById('password-mismatch-error');

      if (password1 !== password2) {
          // Passwords don't match, display the error message
          errorDiv.textContent = "The two password fields didn't match.";
      } else {
          // Passwords match, clear the error message and submit the form
          errorDiv.textContent = '';
          document.querySelector('.login-form').submit();
      }
  });
</script>




{% endblock %}