{% extends 'testingapp/newnavbar_navrail.html' %}



{% load hitcount_tags %}

{% load static %}

{% load i18n %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

    <div class="primary-wrapper">
        
        <div class="secondary-wrapper">

            <div class="container container-flex container-flex-2">

                <main role="main" class="home-main container-main">

                    <div class="dynamic-recipes dynamic-header profile-heading">
                        
                        <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button>
                            My profile
                        </h1>

                        <div class="dynamic-card-container">
                            
                            <div class="top-profile-card">
                                <article class="article-recent">

                                    <div class="article-recent-main top-profile-data">
                                        <div class="">
                                            <h2 class="article-title">{{ user.first_name}} {{ user.last_name}} </h2>
                                            <p>{{user.email}}</p>
                                            <p>{{user.profile.bio}}</p>
                                        </div>
                                    </div>

                                    <div class="article-recent-secondary user-profile-img">
                                        <div>
                                            <img src="{{ user.profile.profile_img.url }}" alt="profile_image">
                                        </div>
                                    </div>
                                    
                                </article>
                            </div>

                        </div>
                        
                        <div class="user-detail-heading">
                            <h2>Personal details </h2>
                        </div>

                        <div class="dynamic-card-container">
                            
                            <div class="user-detail-container">
                                
                                <div class="user-details">

                                    <div class="user-detail-table">

                                        <table class="table">
                                            
                                            <tbody>
                                            <tr>
                                                <th scope="row" colspan="2">Dob</th>
                                                
                                                <td>
                                                    {% if user.profile.dob == None %} 
                                                    <a href="{% url 'updateprofile' %}">Update dob</a>
                                                    {% else %}
                                                    {{ user.profile.dob|date:"D, M j, Y"}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Gender</th>
                                                
                                                <td>
                                                    {% if user.profile.gender == None %} 
                                                    <a href="{% url 'updateprofile' %}">Select gender</a>
                                                    {% else %}
                                                    {{ user.profile.gender}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Last login</th>
                                                
                                                <td>{{user.last_login|date:"D, M j, Y h:i a"}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="2">Joined on</th>
                                                
                                                <td>{{ user.date_joined|date:"D, M j, Y h:i a"}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                
                            </div>
                            
                        </div>

                        <div class="bottom-links">
                            <div class="link-child-1 edit-links first-link">
                                <a href="{% url 'updateprofile' %}"><span class="link-child-name">Update profile</span></a>
                            </div>
                            
                            <div class="link-child-2 edit-links">
                                <a href="{% url 'updatepassword' %}"><span class="link-child-name">Change password</span></a>
                            </div>
                        </div>


                        <div class="user-detail-heading">
                            <h2>General</h2>
                        </div>
    
                        <div class="dynamic-card-container">
                            
                            <div class="user-detail-container">
                                
                                <div class="user-details">
    
                                    <div class="profile-info-cards">

                                        <div class="static-info-cards profile-cards" id="credits">                      
                                            <a href="{% url 'credits' %}">
                                                <div class="static-card-container">
                                                    <div class="d-flex align-items-start flex-column card-info">
                                                        <div class="mb-auto p-2 card-header">
                                                            <span class="material-symbols-rounded header-icon">account_balance_wallet</span>
                                                        </div>
                                                        <div class="p-2 card-text">Credits</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="static-info-cards profile-cards">                      
                                            <a href="{% url 'account_settings' %}">
                                                <div class="static-card-container">
                                                    <div class="d-flex align-items-start flex-column card-info">
                                                        <div class="mb-auto p-2 card-header">
                                                            <span class="material-symbols-rounded header-icon">manage_accounts</span>
                                                        </div>
                                                        <div class="p-2 card-text">Account settings</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                    </div>

                </main>
                
            </div>
 
        </div>

        <div class="footer-wrapper">
            {% include 'testingapp/footer.html' %}
        </div>

    </div>
    
    
</body>


{% if pass_success %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="newToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex"> 
            <div class="toast-body">
                <b>{{ pass_success }}</b> 
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    var successToast = new bootstrap.Toast(document.getElementById('newToast'));
    successToast.show();
</script>
{% endif %}


{% endblock %}