{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}


{% block title %}
<title>{{query}}</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}


{% block content%}

<body>

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper generated-recipe-container">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Search results
            </h1>

            <p class="sub-heading">
              {% if results or profile_results %}
                <span class="sub-heading-secondary">Showing results for </span> <span class="sub-heading-modal" data-bs-toggle="modal" data-bs-target="#searchModal">'{{query}}'</span>
              {% elif recipe_description %}
                <span class="sub-heading-secondary">AI overview for </span> <span class="sub-heading-modal" data-bs-toggle="modal" data-bs-target="#searchModal">'{{query}}'</span>
              {% else %}
                <span class="sub-heading-secondary">No results found for </span> <span class="sub-heading-modal" data-bs-toggle="modal" data-bs-target="#searchModal">'{{query}}'</span>
              {% endif %}
            </p>

            <!-- {% if debug %}
<hr>
<div style="color:#0f0;padding:15px;font-family:monospace">
    <h3>Search Debug</h3>

    <strong>Query:</strong> {{ debug.query }}<br>
    <strong>Query Type:</strong> {{ debug.query_type }}<br><br>

    <strong>Extracted Filters:</strong>
    <pre>{{ debug.extracted_filters }}</pre>

    <strong>Timing Intent:</strong>
    <pre>{{ debug.timing_intent }}</pre>

    <strong>Servings Intent:</strong>
    <pre>{{ debug.servings_intent }}</pre>

    <strong>Difficulty Intent:</strong>
    <pre>{{ debug.difficulty_intent }}</pre>

    <strong>After Synonyms:</strong>
    <pre>{{ debug.after_synonyms }}</pre>

    <strong>DB Results:</strong>
    <pre>{{ debug.db_results }}</pre>

    <strong>Fallbacks:</strong>
    <pre>{{ debug.fallbacks }}</pre>
</div>
{% endif %} -->


            {% if results %}

              <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">

                {% if profile_results %}

                  <div class="container search-pg-container card-group">
                    
                    {% for profile_result in profile_results %}
                    
                      {% if profile_result.first_name == '' or profile_result.last_name == '' %}

                      {% elif not profile_result.first_name == '' or profile_result.last_name == '' %}
                        <div class="search-profile-cards">
                          <a href="{% url 'userchannelpage' first=profile_result.first_name last=profile_result.last_name pk=profile_result.pk %}" class="">
                            <div class="d-flex">
                              <div class="profile-pg-img-container">
                                <img loading="lazy" src="{{ profile_result.profile.profile_img.url }}" class="img-fluid" alt="profile-image">
                              </div>
                              <div class="search-profile-body-container">
                                <div class="card-body">
                                  <div>
                                    <h3 class="card-title">{{ profile_result.get_full_name }}</h3>
                                  </div>
                                  <div>
                                    <small>
                                      {% if profile_result.followers.count > 1 %}
                                        {{ profile_result.followers.count }} followers
                                      {% else %}
                                        {{ profile_result.followers.count }} follower
                                      {% endif %}
                                    </small>

                                    <small>
                                      {% if profile_result.post_set.count > 1 %}
                                      {{ profile_result.post_set.count }} recipes
                                    {% else %}
                                      {{ profile_result.post_set.count }} recipe
                                    {% endif %}
                                    </small>
                                  </div>
                                  
                                  <div>
                                    {% if profile_result != request.user %}
                                      {% for key, value in is_following.items %}
                                        {% if key == profile_result.username and value == False %} {# if user is not following the targeted user #}
                                          <form method="post" action="{% url 'follow_unfollow_user' profile_result.username %}">
                                            {% csrf_token %}
                                            <button type="submit">Follow</button>
                                          </form>

                                        {% elif key == profile_result.username and value == True %} {# if user is following the targeted user #}
                                          <form method="post" action="{% url 'follow_unfollow_user' profile_result.username %}">
                                            {% csrf_token %}
                                            <button type="submit">Unfollow</button>
                                          </form>
                
                                        {% endif %}
                                      {% endfor %}
                                      {% else %}
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>

                      {% else %}

                      {% endif %}
                      
                    {% endfor %}

                  </div>
                {% endif %}

              </div>

              <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">

                {% for post in recipe_results %} 

                  <div class="recipe-cards all-recipes-cards search-recipe-cards">
                    <a href="{% url 'viewpost' post.pk %}">
                        <div class="img-container">
                          {% for i in post.photo_set.all %}
                          {% if forloop.counter0 == 0 %}
                              <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="..." >
                          {% endif %}
                          {% empty %}
                              <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                          {% endfor %}

                          <div class="readtime-container">
                            <p>{{ post.read_time }} min read</p>
                          </div>
                        </div>
                        <div class="card-body recipe-info">
                            {% if query == post.title %}
                            <h4 class="card-title highlight">{{post.title}}</h4>
                            {% else %}
                            <h4 class="card-title">{{post.title}}</h4>
                            {% endif %}
                            <p class="card-text">
                                <ul>
                                    <li><img loading="lazy" src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                    <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                </ul>
                            </p>
                          </div>
                    </a>
                    <div class="quick-view">
                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                            <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                        </button>
                    </div>

                    <div class="favourites">
                      {% if post in user.favourite.all %}
                      <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                          <span class="material-symbols-rounded favourite-icon {% if post in user.favourite.all %}favourite-added{% endif %}">favorite</span>
                      </a>
                      {% else %}
                      <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                          <span class="material-symbols-rounded favourite-icon">favorite</span>
                      </a>
                      {% endif %}
                    </div>  
                  </div>

                {% endfor %}

              </div>

            {% else %}

              {% if show_google or show_kitchen_ai %}

                <div class="web-searched-result-container">
                
                  <!-- {% if recipe_image_url %}
                    <div class="searched-query-image-block">
                      <img loading="lazy" src="{{ recipe_image_url }}" alt="{{ query }}" class="recipe-cover-image" />
                    </div>
                  {% endif %}

                  <div class="searched-query-description-block">
                    {{ recipe_description|safe }}
                  </div> -->
                  
                  <div class="searched-query-links">
                    <ul>
                      <li>
                        <a href="https://www.google.com/search?q={{ query }}" target="_blank" rel="noopener noreferrer">
                          <i class="fa-brands fa-google searched-query-links-icon"></i>
                          Google "{{query}}"
                        </a>
                      </li>

                      <li>
                        <a href="{% url 'generate_recipe' %}?query={{ query|urlencode }}">
                          <i class="fa-solid fa-wand-magic-sparkles searched-query-links-icon"></i>
                          Generate this recipe
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
              {% endif %}

            {% endif %}
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
      {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper generated-recipe-container">
                  
            <h1>Search results</h1>

            <p class="sub-heading mx-1">
              {% if results or profile_results %}
                <span class="sub-heading-secondary">Showing results for</span> <span class="sub-heading-modal" data-bs-toggle="modal" data-bs-target="#searchModal">'{{query}}'</span></p>
              {% else %}
                <span class="sub-heading-secondary">No results found for</span> <span class="sub-heading-modal" data-bs-toggle="modal" data-bs-target="#searchModal">'{{query}}'</span></p>
              {% endif %}
            </p>

            {% if results %}
              <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">
                  
                  {% if profile_results %}

                    <div class="container search-pg-container card-group">
                      
                      {% for profile_result in profile_results %}
                        
                        {% if profile_result.first_name == '' or profile_result.last_name == '' %}

                        {% elif not profile_result.first_name == '' or profile_result.last_name == '' %}
                          <div class="search-profile-cards">
                            <a href="{% url 'userchannelpage' first=profile_result.first_name last=profile_result.last_name pk=profile_result.pk %}" class="">
                              <div class="d-flex">
                                <div class="profile-pg-img-container">
                                  <img loading="lazy" src="{{ profile_result.profile.profile_img.url }}" class="img-fluid" alt="profile-image">
                                </div>
                                <div class="search-profile-body-container">
                                  <div class="card-body">
                                    <div>
                                      <h3 class="card-title">{{ profile_result.get_full_name }}</h3>
                                    </div>
                                    <div>
                                      <small>
                                        {% if profile_result.followers.count > 1 %}
                                          {{ profile_result.followers.count }} followers
                                        {% else %}
                                          {{ profile_result.followers.count }} follower
                                        {% endif %}
                                      </small>

                                      <small>
                                        {% if profile_result.post_set.count > 1 %}
                                          {{ profile_result.post_set.count }} recipes
                                        {% else %}
                                          {{ profile_result.post_set.count }} recipe
                                        {% endif %}
                                      </small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        {% else %}

                        {% endif %}
                        
                      {% endfor %}

                    </div>
                
                  {% endif %}

              </div> 

              <div class="dynamic-card-container all-recipes-card-container">
            
                {% for post in recipe_results %}  
        
                  <div class="recipe-cards all-recipes-cards">
                    <a href="{% url 'viewpost' post.pk %}">
                      <div class="img-container">
                        {% for i in post.photo_set.all %}
                        {% if forloop.counter0 == 0 %}
                            <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="..." >
                        {% endif %}
                        {% empty %}
                            <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                        {% endfor %}

                        <div class="readtime-container">
                          <p>{{ post.read_time }} min read</p>
                        </div>
                      </div>
                      <div class="card-body recipe-info">
                          {% if query == post.title %}
                          <h4 class="card-title highlight">{{post.title}}</h4>
                          {% else %}
                          <h4 class="card-title">{{post.title}}</h4>
                          {% endif %}
                          <p class="card-text">
                              <ul>
                                  <li><img loading="lazy" src="{{post.author.profile.profile_img.url}}"  alt="Image"></li>
                                  <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                              </ul>
                          </p>
                      </div>
                    </a>
                    <div class="quick-view">
                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                            <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                        </button>
                    </div>
                  </div>
                
                {% endfor %}
              
              </div>

            {% else %}
                    
            {% endif %}
        
          </div>

        </main>

      </div>

    </div>

  </div>

{% endif %}
</body>

{# following toast message #}
{% if messages %}
  {% for message in messages %}
    {% if 'follow_message' in message.tags %}   
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="followToast" class="toast follow-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex"> 
                <div class="toast-body" id="toastMessage">
                    You started following <span>{{message}}</span>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              
            </div>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          $('#navbar-brand-name').text('Yummy Recipes');
        });
        var successToast = new bootstrap.Toast(document.getElementById('followToast'));
        successToast.show();
      </script>
        
    {% endif %}
  {% endfor %}
{% endif %}

{# if authenticated user tries to following itself #}
{% if messages %}
  {% for message in messages %}
    {% if 'same_user' in message.tags %}   
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="sameUserToast" class="toast follow-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex"> 
                <div class="toast-body">
                    {{message}}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          $('#navbar-brand-name').text('Yummy Recipes');
        });
        var successToast = new bootstrap.Toast(document.getElementById('sameUserToast'));
        successToast.show();
      </script>
        
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}