{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block title %}
<title>Views</title>
{% endblock %}


{% block content%}

<body>

    

{% if user.is_authenticated %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Views
            </h1>

            <p class="sub-heading">Views on recipes</p>

            <div class="explore-tab">

                <div class="d-flex justify-content-start">
                    <div class="tab-container">
                        <ul class="nav" id="myTab" role="tablist">
                            {% for year in distinct_years %}
                                <button 
                                    class="tablinks {% if forloop.first %}active{% endif %}" 
                                    id="year{{ year|date:'Y' }}-tab" 
                                    data-bs-toggle="tab" 
                                    data-bs-target="#year{{ year|date:'Y' }}" 
                                    type="button" 
                                    role="tab" 
                                    aria-controls="year{{ year|date:'Y' }}" 
                                    aria-selected="{{ forloop.first|yesno:'true,false' }}">
                                    <span class="tab-btns-label">{{ year|date:'Y' }}</span>
                                </button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            
            <div class="dynamic-card-container all-recipes-card-container dashboard-card-container history-container">
                {% if year_recipes %}

                <div class="tabcontent main-tabcontent history-tabcontent">
                    
                    <div class="tab-content" id="myTabContent">
                        {% for year, recipes in year_recipes.items %}
                        <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="year{{ year }}" role="tabpanel" aria-labelledby="year{{ year }}-tab">
                        
                            <div class="grid-container view-grid-container">
                                <div class="columns">
                                    <div class="column-container">
                                        <div class="column-header">
                                            <span class="material-symbols-rounded column-header-icon">note_stack</span>
                                            <h4>Total recipes</h4>
                                        </div>
                    
                                        <div class="column-content">
                                            {% if recipes %}
                                                {{ recipes|length }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column-container">
                                        <div class="column-header">
                                            <span class="material-symbols-rounded column-header-icon">visibility</span>
                                            <h4>Total views</h4>
                                        </div>
                    
                                        <div class="column-content">
                                            {% for cur_year, hits in year_hits.items %}
                                                {% if cur_year == year %}
                                                    {{ hits }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                
                                <div class="columns">
                                    <div class="column-container">
                                        <div class="column-header">
                                            <span class="material-symbols-rounded column-header-icon">compare_arrows</span>
                                            <h4>Average views</h4>
                                        </div>
                
                                        <div class="column-content">
                                            {% for cur_year, avg in avg_hits.items %}
                                                {% if cur_year == year %}
                                                    {{ avg|floatformat:2 }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                
                                <div class="columns">
                                    <div class="column-container">
                                        <div class="column-header">
                                            <span class="material-symbols-rounded column-header-icon">merge</span>
                                            <h4>Most views</h4>
                                        </div>
                
                                        <div class="column-content">
                                            {% for cur_year, most_views in most_hit.items %}
                                                {% if cur_year == year %}
                                                    {% get_hit_count for most_views %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            
                            <ol class="list-group list-group-flush list-group-numbered">
                            {% for recipe in recipes %}
                                <li class="list-group-item d-flex justify-content-between align-items-start my-2" id="history-card">
                                    <div class="ms-2 me-auto">

                                        <div class="d-flex history-list-body">
                                            {% for i in recipe.photo_set.all %}
                                                {% if forloop.counter0 == 0 %}
                                                    <img loading="lazy" src="{{ i.image.url }}" class="flex-shrink-0 me-3 recipe-img" style="width: 140px;height: 90px;border-radius: 10px;" alt="recipe-image">
                                                {% endif %}
                                                {% empty %}
                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="flex-shrink-0 me-3 recipe-img" style="width: 140px;height: 90px;border-radius: 10px;" alt="recipe-image">
                                            {% endfor %}
                                            <div class="list-content-body">

                                                <div class="fw-bold recipe-post-title">{{recipe.title}}</div>
                                                
                                                <p class="recipe-timestamp">{{recipe.date_post.date}} <b>&#11825;</b> {% get_hit_count for recipe %} views </p>
                                                
                                                <a href="{% url 'viewpost' recipe.pk %}" class="stretched-link history-stretched-link"></a>
                                            
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            {% endfor %}
                            </ol>
                        </div>
                        {% empty %}
                            <li>No posts available for today.</li>
                        {% endfor %}
                    </div>
                    </ol>
                </div>

                {% else %}

                <div class="tabcontent main-tabcontent history-tabcontent">
                    No views available.
                </div>

                {% endif %}

            </div> 
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
        {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}

    <script>
        location.href = "{% url 'login' %}";
    </script>

{% endif %}
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}