{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}


{% block css %}
{% endblock %}

{% load read_time_pluralize %}

{% block title %}
<title>Trending recipes</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

{% if user.is_authenticated or is_guest %}

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes dynamic-header tertiary-wrapper">
                   
            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
              Trending recipes
            </h1>

            <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">

                {% if posts %}
                
                  {% for post in posts %}
              
                  {% get_hit_count for post as check %}
              
                  {% if check|add:"0" > 1 %}
                  
                    {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards trending-cards" %}

                  {% endif %}

                {% endfor %}

              {% else %}
                <div class="unavailable-message">
                  <p>No recipes available!</p>
                </div>
              {% endif %}
                   
            </div> 
        
          </div>

        </main>

      </div>

    </div>

    <div class="footer-wrapper">
      {% include 'testingapp/footer.html' %}
    </div>

  </div>

{% else %}  

  <div class="primary-wrapper">

    <div class="secondary-wrapper">

      <div class="container container-flex container-flex-2">

        <main role="main" class="container-main">

          <div class="dynamic-recipes">
                  
            <h1>Trending recipes</h1>

            <div class="dynamic-card-container all-recipes-card-container all-recipes-card-container-secondary">
                
              {% if counts %}
                
                {% for post in counts %}

                  {% get_hit_count for post as check %}

                  {% if check|add:"0" > 1 %}
                  
                    {% include "testingapp/recipe_card.html" with post=post extra_css_class="all-recipes-cards trending-cards" %}

                  {% endif %}

                {% endfor %}

              {% else %}
                <div class="unavailable-message">
                  <p>No recipes available!</p>
                </div>
              {% endif %}
                  
            </div> 
        
          </div>

        </main>

      </div>

    </div>

  </div>

{% endif %}
</body>

{% endblock %}