{% load hitcount_tags %}

{% load static %}

{% for post in new %} 
    <div class="recipe-cards all-recipes-cards remove-from-fav" data-post-id="{{ post.id }}">
        <a href="{% url 'viewpost' post.pk %}">
            <div class="img-container">
                {% for i in post.photo_set.all %}
                {% if forloop.counter0 == 0 %}
                    <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                {% endif %}
                {% empty %}
                    <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                {% endfor %}

                <div class="readtime-container">
                    <p>{{ post.read_time }} min read</p>
                </div>
            </div>
            <div class="card-body recipe-info">
                <h4 class="card-title highlight">{{post.title}}</h4>
                <p class="card-text">
                    <ul>
                        <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                        <li><div>{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                    </ul>
                </p>
            </div>
        </a>
        <div class="quick-view">
            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
            </button>
        </div>

        <div class="favourites">
            <!-- {% if post in user.favourite.all %}
            <a href="{% url 'add_to_favorites' post.id %}" class="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove from favourites"> 
                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
            </a>
            {% else %}
            <a href="{% url 'add_to_favorites' post.id %}" class="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add to favourites"> 
                <span class="material-symbols-rounded favourite-icon">favorite</span>
            </a>
            {% endif %} -->
            {% if post in user.favourite.all %}
            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
            </a>
            {% else %}
            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                <span class="material-symbols-rounded favourite-icon">favorite</span>
            </a>
            {% endif %}
        </div>  


        <div class="card-footer">
            
        </div>
    </div>
    {% empty %}
    <p class="sub-heading no-subheading-animation" id="subheading" style="margin-top: 10px;">No favourite recipe yet</p>
    {% endfor %}
