{% extends 'testingapp/newnavbar_navrail.html' %}

{% load static %}

{% block title %}

<title>Update password</title>

{% endblock %}
{% block dashtopnav_title %}
<a class="navbar-brand" id="navbar-appname">Yummy Recipes</a>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body class="profile-pg">

    {% if user.is_authenticated %}

    <div class="primary-wrapper">
        
        <div class="secondary-wrapper">

            <div class="container container-flex container-flex-2">

                <main role="main" class="home-main container-main">

                    <div class="dynamic-recipes dynamic-header profile-heading">
                        
                        <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button>
                            {% if social_account_signup %}
                                Set password
                            {% else %}
                                Update password
                            {% endif %}
                        </h1>

                        <div class="dynamic-card-container">
                            
                            <div class="update-profile-card">

                                <form method="POST" action="" class="form" novalidate>
                                    {% csrf_token %}

                                    <div class="row upro-second-row update-password-row">

                                        <div class="row mb-3 upro-input-container">
                                            <label for="id_new_password1" class="col-md-5 col-form-label uprofile-form-label">New password</label>
                                            
                                            <div class="col">
                                                <input type="password" class="form-control uprofile-input" name="new_password1" onkeyup='check();' autocomplete="new-password" placeholder="Enter new password" required id="id_new_password1">
                                                <span id='pass-len'></span>
                                            </div>
                                        </div>
        
                                        <div class="row mb-3 upro-input-container">
                                            <label for="id_new_password2" class="col-md-5 col-form-label uprofile-form-label">Confirm new password</label>
        
                                            <div class="col">
                                                <input type="password" class="form-control uprofile-input" name="new_password2" onkeyup='check();' autocomplete="new-password" placeholder="Confirm new password" required id="id_new_password2">
                                                <span id='message'></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bottom-links upro-btm-lnk upd-password-lnk">
                                        <div class="child-1 edit-links">
                                            {% if social_account_signup %}
                                                <button type="submit" id="update-profile-btn"><span class="material-symbols-rounded share-recipe-icon">check</span> <span>Set password</span></button>
                                            {% else %}
                                                <button type="submit" id="update-profile-btn"><span class="material-symbols-rounded share-recipe-icon">check</span> <span>Reset password</span></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                </form>

                                <div class="password-rule-container">
                                    <ul class="password-pattern">
                                        <li>Your password can't be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can't be a commonly used password.</li>
                                        <li>Your password can't be entirely numeric.</li>
                                    </ul>
                                </div>
                            
                            </div>

                        </div>
                    </div>

                </main>
                
            </div>
 
        </div>

        <div class="footer-wrapper">
            {% include 'testingapp/footer.html' %}
        </div>

    </div>

    {% else %}
        
        <script>
            location.href = "{% url 'login' %}";
        </script>

    {% endif %}


</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('form');

    form.addEventListener('submit', function(event) {
        var password1 = document.getElementById('id_new_password1').value;
        var password2 = document.getElementById('id_new_password2').value;

        if (!isValidPassword(password1) || password1 !== password2) {
            event.preventDefault();
        }
    });

    var isValidPassword = function(password) {
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
        return pattern.test(password);
    };

    var check = function() {
        var password1 = document.getElementById('id_new_password1').value;
        var password2 = document.getElementById('id_new_password2').value;

        var passLenMessage = document.getElementById('pass-len');
        var passMessage = document.getElementById('message');

        if (!isValidPassword(password1)) {
            passLenMessage.style.color = 'red';
            passLenMessage.innerHTML = '<span class="material-symbols-rounded upd-pass-js-icons">warning</span>Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, and a number';
            document.getElementById('id_new_password1').style.borderColor = 'red';
            passMessage.innerHTML = '';
        } else {
            passLenMessage.innerHTML = '';
            document.getElementById('id_new_password1').style.borderColor = 'green';
        }

        if (password2 !== '' && password1 !== password2) {
            passMessage.style.color = 'red';
            passMessage.innerHTML = '<span class="material-symbols-rounded upd-pass-js-icons">warning</span>Please make sure your passwords match';
            document.getElementById('id_new_password2').style.borderColor = 'red';
        } else {
            document.getElementById('id_new_password2').style.borderColor = '';
        }

        if (password1 === password2 && password1 !== '' && password2 !== '' && isValidPassword(password1)) {
            passMessage.style.color = 'green';
            passMessage.innerHTML = '<span class="material-symbols-rounded upd-pass-js-icons">check</span>Password match';
            document.getElementById('id_new_password2').style.borderColor = 'green';
        }
    };

    document.getElementById('id_new_password1').addEventListener('input', check);
    document.getElementById('id_new_password2').addEventListener('input', check);
});

</script>


{% if messages %}
    {% for message in messages %}
        {% if 'form_error_msg' in message.tags %} 
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
                <div id="newToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex"> 
                        <div class="toast-body">
                            <b>{{ message }}</b> 
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            
            <script>
                var successToast = new bootstrap.Toast(document.getElementById('newToast'));
                successToast.show();
            </script>
        {% else %}

        <script>
            $(document).ready(function() {
                $('#navbar-brand-name').text('Yummy Recipes');
            });
        </script>
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock %}
