{% extends 'testingapp/newnavbar_navrail.html' %}

{% load static %}

{% block title %}

<title>Change password</title>

{% endblock %}
{% block dashtopnav_title %}
<a class="navbar-brand" id="navbar-appname">Yummy Recipes</a>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body class="profile-pg">

    {% if user.is_authenticated %}

    <div class="primary-wrapper">
        
        <div class="secondary-wrapper">

            <div class="container container-flex container-flex-2">

                <main role="main" class="home-main container-main">

                    <div class="dynamic-recipes dynamic-header profile-heading">
                        
                        <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button>
                            Change password
                        </h1>

                        <div class="dynamic-card-container">
                            
                            <div class="update-profile-card">

                                <form method="POST" name="myForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="row upro-second-row update-password-row">

                                        <div class="row mb-3 upro-input-container">
                                            <label for="inputEmail3" class="col-md-5 col-form-label uprofile-form-label">Old password</label>
                                            
                                            <div class="col">
                                            <input type="password" class="form-control uprofile-input" name="old_password" autocomplete="current-password" placeholder="Enter old password" autofocus="" required="" id="id_old_password">
                                            </div>
                                        </div>
        
                                        <div class="row mb-3 upro-input-container">
                                            <label for="inputPassword3" class="col-md-5 col-form-label uprofile-form-label">New password</label>
                                            
                                            <div class="col">
                                                <input type="password" class="form-control uprofile-input" name="new_password1" onkeyup='check();' autocomplete="new-password" placeholder="Enter new password" required="" id="id_new_password1">
                                                <span id='pass-len'></span>
                                            </div>
                                        </div>
        
                                        <div class="row mb-3 upro-input-container">
                                            <label for="inputPassword3" class="col-md-5 col-form-label uprofile-form-label">Confirmation Password</label>
        
                                            <div class="col">
                                                <input type="password" class="form-control uprofile-input" name="new_password2" onkeyup='check();' autocomplete="new-password" placeholder="Confirm new password" required="" id="id_new_password2">
                                                <span id='message'></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bottom-links upro-btm-lnk upd-password-lnk">
                                        <div class="child-1 edit-links">
                                            <button id="update-profile-btn"><span class="material-symbols-rounded share-recipe-icon">check</span> <span>Reset password</span></button>
                                        </div>
                                    </div>

                                    
                                </form>

                                <div class="password-rule-container">
                                    <ul class="password-pattern">
                                        <li>Your password can't be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can't be a commonly used password.</li>
                                        <li>Your password can't be entirely numeric.</li>
                                    </ul>
                                </div>
                            
                            </div>

                        </div>
                    </div>

                </main>
                
            </div>
 
        </div>

    </div>

    {% else %}
        
        <script>
            location.href = "{% url 'login' %}";
        </script>

    {% endif %}


</body>


<script>
    var check = function() {
    if (document.getElementById('id_new_password1').value == ''){
    document.getElementById('message').innerHTML = '';
    document.getElementById('pass-len').innerHTML = '';
  }

  else if (document.getElementById('id_new_password1').value.length < 8 ){
    document.getElementById('pass-len').style.color = 'red';
    document.getElementById('pass-len').innerHTML = '**Password must contain at least 8 characters';
  }

  else if (document.getElementById('id_new_password1').value.length > 8 ){
    document.getElementById('pass-len').innerHTML = '';
  }

  else if (document.getElementById('id_new_password1').value ==
    document.getElementById('id_new_password2').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Correct password <span class="material-symbols-outlined"  id="dropdown-icons">check</span>';
    document.getElementById('id_new_password2').style.borderColor  = '';
  } 

  else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = '**Please make sure your passwords match';
    document.getElementById('id_new_password2').style.borderColor  = 'red';
  }
}
</script>

{% endblock %}
