{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

<body>

    {% if user.is_authenticated %}

        <div class="primary-wrapper">
            
            <div class="secondary-wrapper">

                <div class="container container-flex container-flex-2">

                    <main role="main" class="home-main">

                        <div class="dynamic-recipes dynamic-header tertiary-wrapper">

                            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
                                Year recap
                            </h1>
                  
                            <p class="sub-heading">Year in review</p>

                            <div class="recap-container" data-bs-spy="scroll" data-bs-target="#year-recap-pg" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

                                <div class="dynamic-recap-cards" id="card-1">
                                    
                                    <h3>Most viewed recipes</h3>
                                    <p>Top 5 most viewed recipes</p>

                                    <div class="dynamic-card-container">
                                        
                                        {% for post in auth_trending_recipes|slice:"0:5" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>{{ forloop.counter }}</p>
                                                
                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                                <div class="dynamic-recap-cards" id="card-2">
                                    
                                    <h3>Most viewed recipe from each type</h3>
                                    <p>Top most viewed breakfast, lunch, snack & dinner recipe</p>

                                    <div class="dynamic-card-container">
                                        
                                        {% for post in top_breakfast|slice:"0:1" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top breakfast recipe</p>
                                                
                                            </div>

                                        {% endfor %}

                                        {% for post in top_lunch|slice:"0:1" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top lunch recipe</p>
                                                
                                            </div>

                                        {% endfor %}

                                        {% for post in top_evesnack|slice:"0:1" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top snack recipe</p>
                                                
                                            </div>

                                        {% endfor %}

                                        {% for post in top_dinner|slice:"0:1" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top dinner recipe</p>
                                                
                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                                <div class="dynamic-recap-cards" id="card-3">
                                    
                                    <h3>Most viewed recipe from each category</h3>
                                    <p>Top most viewed veg & non veg recipe</p>

                                    <div class="dynamic-card-container">
                                        
                                        {% for post in topveg|slice:"0:1" %}
                                            
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                            {% endif %}
                                                            {% empty %}
                                                                <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time }} min read</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top veg recipe</p>
                                                
                                            </div>

                                        {% endfor %}


                                        {% for post in topnonveg|slice:"0:1" %}
                                            
                                        <div class="recap-card-type">

                                            <div class="recipe-cards">
                                                    
                                                <a href="{% url 'viewpost' post.pk %}">
                                                    <div class="img-container">
                                                        {% for i in post.photo_set.all %}
                                                        {% if forloop.counter0 == 0 %}
                                                            <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                        {% endif %}
                                                        {% empty %}
                                                            <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                        {% endfor %}

                                                        <div class="readtime-container">
                                                            <p>{{ post.read_time }} min read</p>
                                                        </div>
                                                    </div>

                                                    <div class="recipe-info">
                                                        <h4 class="card-title highlight">{{post.title}}</h4>
                                                        <p>
                                                            <ul>
                                                                <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </a>
                                                <div class="quick-view slide-out">
                                                    <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                        <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                    </button>
                                                </div>
                                                
                                                <div class="favourites">
                                                    {% if post in user.favourite.all %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                    </a>
                                                    {% else %}
                                                    <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                        <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                    </a>
                                                    {% endif %}
                                                </div> 
                                                
                                            </div>
                                        
                                            <p>Top non veg recipe</p>
                                            
                                        </div>

                                    {% endfor %}
                                    </div>

                                </div>


                                {% if total_likes != 0 %}

                                    <div class="dynamic-recap-cards" id="card-4">
                                        
                                        <h3>Most liked recipe</h3>
                                        <p>Top recipe which got most likes</p>

                                        <div class="dynamic-card-container">
                                            
                                            {% for post in most_liked_recipe|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img src="{{ i.image.url }}" class="recipe-img" alt="..." >
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time }} min read</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">dock_to_left</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Likes &nbsp; {{total_likes}}</p>
                                                    
                                                </div>

                                            {% endfor %}

                                        </div>

                                    </div>
                                
                                {% else %}

                                {% endif %}

                            </div>

                        </div>

                    </main>
                    
                    
                    <aside class="sidebar sidebar-dashboard">
                    
                        <div class="sidebar-recipes">
                            <div class="sidebar-header">
                                <h1>A look back in {{curyear}}</h1>
                            </div>
            
                            
                            <div class="sidebar-dashboard-container">
                                <h4>Total recipes - {{total_recipes}} </h4>
                                
                                <table class="table">
            
                                    <tbody>
                                      <tr>
                                        <th>Breakfast</th>
                                        <td>:</td>
                                        <td>{{total_breakfast}}</td>
                                      </tr>
                                      <tr>
                                        <th>Lunch</th>
                                        <td>:</td>
                                        <td>{{total_lunch}}</td>
                                      </tr>
                                      <tr>
                                        <th>Evening snacks</th>
                                        <td>:</td>
                                        <td>{{total_evesnack}}</td>
                                      </tr>
                                      <tr>
                                        <th>Dinner</th>
                                        <td>:</td>
                                        <td>{{total_dinner}}</td>
                                      </tr>
                                      <tr>
                                        <th>Veg</th>
                                        <td>:</td>
                                        <td>{{totalveg}}</td>
                                      </tr>
                                      <tr>
                                        <th>NonVeg</th>
                                        <td>:</td>
                                        <td>{{totalnonveg}}</td>
                                      </tr>
                                    </tbody>
                                </table>
            
                            </div>
                            
                            <div class="sidebar-dashboard-container scrollspy-container">
                                <h4>Cards</h4>
                                
                                <p class="scrollspy-top-para"><small>on this page</small></p>
                                
                                <div id="year-recap-pg" class="list-group recap-card-scrollspy">
                                    <a class="list-group-item list-group-item-action" href="#card-1">Most viewed recipes</a>
                                    <a class="list-group-item list-group-item-action" href="#card-2">Recipe from each type</a>
                                    <a class="list-group-item list-group-item-action" href="#card-3">Top veg & non-veg recipe</a>
                                    {% if total_likes != 0 %}
                                        <a class="list-group-item list-group-item-action" href="#card-4">Most liked recipe</a>
                                    {% else %}
                                
                                    {% endif %}
                                </div>
                                
                            </div>
            
                        </div>
                        
                    </aside>
                    
                </div>
            </div>

            {% include 'testingapp/footer.html' %}

        </div>
    
    {% else %}

    <script>
      location.href = "{% url 'login' %}";
    </script>

  {% endif %}
    
</body>

<!-- scroll buttons -->
<script>

    const cardWrapper = document.querySelector('.dynamic-card-container');
    const scrollLeftButton = document.getElementById('scroll-left');
    const scrollRightButton = document.getElementById('scroll-right');
    
    function ifdisabled(x) {
    if(scrollLeftButton.disabled){
        document.getElementById("scroll-icon-left").style.background = "#E9E5DD";
        }
        else{
            document.getElementById("scroll-icon-left").style.background = "#F7D08A";
        }
    }
    
    function normal(x) {
        document.getElementById("scroll-icon-left").style.background = "#E9E5DD";
    }

    // Disable left button initially
    scrollLeftButton.disabled = true;
    
    
    // Check scroll position and enable/disable buttons
    cardWrapper.addEventListener('scroll', () => {
      if (cardWrapper.scrollLeft === 0) {
        scrollLeftButton.disabled = true;
      } else {
        scrollLeftButton.disabled = false;
      }
    
      if (cardWrapper.scrollLeft + cardWrapper.offsetWidth >= cardWrapper.scrollWidth) {
        scrollRightButton.disabled = true;
      } else {
        scrollRightButton.disabled = false;
      }
    });
    
    // Handle left button click
    scrollLeftButton.addEventListener('click', () => {
      cardWrapper.scrollLeft -= 350;
      scrollRightButton.disabled = false;
    });
    
    // Handle right button click
    scrollRightButton.addEventListener('click', () => {
      cardWrapper.scrollLeft += 350;
      scrollLeftButton.disabled = false;
    });
    
    
    
</script>


<!-- tooltip -->
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>


<!-- similar day spotlight modal -->
{% for post in spotlight_list %}
<div class="modal fade modal-xl" id="spotlightModal{{post.pk}}" tabindex="-1" aria-labelledby="spotlightModalLabel" aria-hidden="true">
    <div class="modal-dialog spotlight-modal-dialog">
      <div class="modal-content spotlight-modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="spotlightModalLabel">{{post.get_date|date:"F j, Y"}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body spotlight-modal-body">

            <div class="modal-body-wrapper">
                <div class="main-image">
                    
                    {% for i in post.photo_set.all %}
                    {% if forloop.counter0 == 0 %}
                        <img src="{{ i.image.url }}" class="card-img" alt="...">
                    {% endif %}
                    {% endfor %}
                    <div class="card-img-overlay">
                        <div class="d-block image-text">
                            <h2>{{post.title}}</h2>
                            <!-- <p>{{post.get_date|date:"F j, Y"}}</p> -->
                            </div>
                        </div>
                        <a href="{% url 'viewpost' post.pk %}" class="stretched-link"></a>
                    </div>    
                    
                </div>
            </div>

          
        </div>
      </div>
    </div>
</div>
{% endfor %}

<!-- similar rice recipes modal -->
<div class="modal fade modal-xl" id="similarricerecipes" tabindex="-1" aria-labelledby="similarricerecipes" aria-hidden="true">
    <div class="modal-dialog spotlight-modal-dialog">
      <div class="modal-content spotlight-modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="similarricerecipesLabel">Similar rice recipes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body spotlight-modal-body">

            <div class="modal-body-wrapper">
                <div class="main-image">
                    {% for post in rice_recipe_list %}
                        {% for i in post.photo_set.all %}
                        {% if forloop.counter0 == 0 %}
                            <img src="{{ i.image.url }}" class="card-img" alt="...">
                        {% endif %}
                        {% endfor %}
                        <div class="card-img-overlay">
                            <div class="d-block image-text">
                                <h2>{{post.title}}</h2>
                                <p>{{post.get_date|date:"F j, Y"}}</p>
                              </div>
                          </div>
                          <a href="{% url 'viewpost' post.pk %}" class="stretched-link"></a>
                        
                    {% endfor %}
                </div>
            </div>

        </div>
      </div>
    </div>
</div>

<!-- quick view offcanvas -->
{% if all_recipes %} 
{% for post in all_recipes %}
<div class="offcanvas offcanvas-end qv-offcanvas" tabindex="-1" id="quickviewModal{{post.pk}}" aria-labelledby="quickviewModalLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="quickviewModalLabel">Yummy Recipes</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body qv-modal-body">
        <article class="article-featured">
            <div class="qv-offcanvas-img-container">
                {% for i in post.photo_set.all %}
                    {% if forloop.counter0 == 0 %}
                        <img src="{{ i.image.url }}" class="article-image qv-offcanvas-img" alt="{{post.title}}">
                    {% endif %}
                    {% empty %}
                        <img src="{% static 'testingapp/media/empty4.jpg' %}" class="modal-rec-img">
                {% endfor %}
            </div>
            
            <div class="qv-offcanvas-title-container">
                <h3 class="article-title">{{post.title}}</h3>
                <p>
                    <ul>
                        <li><img src="{{ post.author.profile.profile_img.url }}" style="width: 30px; height: 30px; border-radius:100px" alt="Image"></li>
                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.get_date}} &#11825; {% get_hit_count for post %} views</li>
                    </ul>
                </p>
            </div>

            <div class="qv-offcanvas-table-wrapper">
                <table class="table">
                    
                    <tbody class="qv-table-body">
                    <tr>
                        <th scope="row" colspan="2">Type</th>
                        <td>{{post.type}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Category</th>
                        <td>{{post.category}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Cuisine</th>
                        <td>{{post.cuisine}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Prep time</th>
                        <td>{{post.timing}} min</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Servings</th>
                        <td>{{post.servings}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Difficulty</th>
                        <td>{{post.difficulty}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Likes</th>
                        <td>{{post.total_likes}}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Dislikes</th>
                        <td>{{post.total_dislikes}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </article>

        <div class="footer-area">
            <a href="{% url 'viewpost' post.pk %}" class="qv-offcanvas-footer-link">View <span class="material-symbols-rounded qv-offcanvas-link-icon">trending_flat</span></a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}


{% endblock %}