{% extends 'testingapp/newnavbar_navrail.html' %}

{% load hitcount_tags %}

{% load static %}

{% block title %}
<title>Year recap</title>
{% endblock %}

{% block weather_widget %}
{% endblock %}

{% block sm_weather %}
{% endblock %}

{% block content%}

{% load read_time_pluralize %}

<body>

    {% if user.is_authenticated %}

        <div class="primary-wrapper">
            
            <div class="secondary-wrapper">

                <div class="container container-flex container-flex-2">

                    <main role="main" class="home-main">

                        <div class="dynamic-recipes dynamic-header tertiary-wrapper">

                            <h1><button class="btn btn-light back-btn" onclick="history.back()"><span class="material-symbols-rounded back-btn-icon">arrow_back</span></button> 
                                Your {{todays_date.year}} recap
                            </h1>
                  
                            <p class="sub-heading">Top rated recipes that made your year</p>

                            <div class="recap-container" data-bs-spy="scroll" data-bs-target="#year-recap-pg" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

                                <div class="dynamic-recap-cards" id="card-1">
                                    
                                    <h3>Most viewed recipes</h3>
                                    <p>Top 5 most viewed recipes</p>

                                    <div class="dynamic-card-container recap-dynamic-card-container">
                                        
                                        {% if auth_trending_recipes %}

                                            {% for post in auth_trending_recipes|slice:"0:5" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>{{ forloop.counter }}</p>
                                                    
                                                </div>

                                            {% endfor %}

                                        {% else %}
                                            <p>Not available</p>
                                        {% endif %}

                                    </div>

                                </div>

                                <div class="dynamic-recap-cards" id="card-2">
                                    
                                    <h3>Most viewed recipe from each type</h3>
                                    <p>Top most viewed breakfast, lunch, snack & dinner recipe</p>

                                    <div class="dynamic-card-container recap-dynamic-card-container">
                               
                                        {% if top_breakfast or top_lunch or top_evesnack or top_dinner %}

                                            {% for post in top_breakfast|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Top breakfast recipe</p>
                                                    
                                                </div>

                                            {% endfor %}

                                            {% for post in top_lunch|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Top lunch recipe</p>
                                                    
                                                </div>

                                            {% endfor %}

                                            {% for post in top_evesnack|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Top snack recipe</p>
                                                    
                                                </div>

                                            {% endfor %}

                                            {% for post in top_dinner|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Top dinner recipe</p>
                                                    
                                                </div>

                                            {% endfor %}

                                        {% else %}
                                            <p>Not available</p>
                                        {% endif %}

                                    </div>

                                </div>

                                <div class="dynamic-recap-cards" id="card-3">
                                    
                                    <h3>Most viewed recipe from each category</h3>
                                    <p>Top most viewed veg & non veg recipe</p>

                                    <div class="dynamic-card-container recap-dynamic-card-container">
                                        
                                        {% if topveg or topnonveg %}

                                            {% for post in topveg|slice:"0:1" %}
                                                
                                                <div class="recap-card-type">

                                                    <div class="recipe-cards">
                                                            
                                                        <a href="{% url 'viewpost' post.pk %}">
                                                            <div class="img-container">
                                                                {% for i in post.photo_set.all %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                {% endif %}
                                                                {% empty %}
                                                                    <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                {% endfor %}

                                                                <div class="readtime-container">
                                                                    <p>{{ post.read_time|pluralize_min }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="recipe-info">
                                                                <h4 class="card-title highlight">{{post.title}}</h4>
                                                                <p>
                                                                    <ul>
                                                                        <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                        <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <div class="quick-view slide-out">
                                                            <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="favourites">
                                                            {% if post in user.favourite.all %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                            </a>
                                                            {% else %}
                                                            <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                            </a>
                                                            {% endif %}
                                                        </div> 
                                                        
                                                    </div>
                                                
                                                    <p>Top veg recipe</p>
                                                    
                                                </div>

                                            {% endfor %}


                                            {% for post in topnonveg|slice:"0:1" %}
                                                
                                            <div class="recap-card-type">

                                                <div class="recipe-cards">
                                                        
                                                    <a href="{% url 'viewpost' post.pk %}">
                                                        <div class="img-container">
                                                            {% for i in post.photo_set.all %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                            {% endif %}
                                                            {% empty %}
                                                                <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                            {% endfor %}

                                                            <div class="readtime-container">
                                                                <p>{{ post.read_time|pluralize_min }}</p>
                                                            </div>
                                                        </div>

                                                        <div class="recipe-info">
                                                            <h4 class="card-title highlight">{{post.title}}</h4>
                                                            <p>
                                                                <ul>
                                                                    <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                    <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <div class="quick-view slide-out">
                                                        <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                            <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="favourites">
                                                        {% if post in user.favourite.all %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                        </a>
                                                        {% else %}
                                                        <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                            <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                        </a>
                                                        {% endif %}
                                                    </div> 
                                                    
                                                </div>
                                            
                                                <p>Top non veg recipe</p>
                                                
                                            </div>

                                            {% endfor %}

                                        {% else %}
                                            <p>Not available</p>
                                        {% endif %}
                                    </div>

                                </div>


                                {% if total_likes != 0 %}

                                    <div class="dynamic-recap-cards" id="card-4">
                                        
                                        <h3>Most liked recipe</h3>
                                        <p>Top recipe which got most likes</p>

                                        <div class="dynamic-card-container recap-dynamic-card-container">
                                            
                                            {% if most_liked_recipe %}

                                                {% for post in most_liked_recipe|slice:"0:1" %}
                                                    
                                                    <div class="recap-card-type">

                                                        <div class="recipe-cards">
                                                                
                                                            <a href="{% url 'viewpost' post.pk %}">
                                                                <div class="img-container">
                                                                    {% for i in post.photo_set.all %}
                                                                    {% if forloop.counter0 == 0 %}
                                                                        <img loading="lazy" src="{{ i.image.url }}" class="recipe-img" alt="{{post.title}}">
                                                                    {% endif %}
                                                                    {% empty %}
                                                                        <img loading="lazy" src="{% static 'testingapp/media/empty4.jpg' %}" class="recipe-img">
                                                                    {% endfor %}

                                                                    <div class="readtime-container">
                                                                        <p>{{ post.read_time|pluralize_min }}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="recipe-info">
                                                                    <h4 class="card-title highlight">{{post.title}}</h4>
                                                                    <p>
                                                                        <ul>
                                                                            <li><img loading="lazy" src="{{ post.author.profile.profile_img.url }}" alt="Image"></li>
                                                                            <li><div class="text-truncate">{{post.author.first_name}} {{post.author.last_name}}</div>  {{post.whenpublished}} &#11825; {% get_hit_count for post %} views</li>
                                                                        </ul>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                            <div class="quick-view slide-out">
                                                                <button class="btn btn-transparent quick-view-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#quickviewModal{{post.pk}}" aria-controls="quickviewModal">
                                                                    <span class="material-symbols-rounded recipe-read-more-icon">view_headline</span>
                                                                </button>
                                                            </div>
                                                            
                                                            <div class="favourites">
                                                                {% if post in user.favourite.all %}
                                                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                    <span class="material-symbols-rounded favourite-icon favourite-added">favorite</span>
                                                                </a>
                                                                {% else %}
                                                                <a class="favourite-link" data-post-id="{{ post.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="bs-custom-tooltip" data-bs-original-title="{% if post in user.favourite.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
                                                                    <span class="material-symbols-rounded favourite-icon">favorite</span>
                                                                </a>
                                                                {% endif %}
                                                            </div> 
                                                            
                                                        </div>
                                                    
                                                        <p>Likes &nbsp; {{total_likes}}</p>
                                                        
                                                    </div>

                                                {% endfor %}

                                            {% else %}
                                                <p>Not available</p>
                                            {% endif %}

                                        </div>

                                    </div>
                                
                                {% else %}

                                {% endif %}

                            </div>

                        </div>

                    </main>
                    
                    
                    <aside class="sidebar sidebar-dashboard">
                    
                        <div class="sidebar-recipes">
                            <div class="sidebar-header">
                                <h1>A look back in {{curyear}}</h1>
                            </div>
            
                            
                            <div class="recap-sidebar-dashboard-container">
                                <h4>Total recipes - {{total_recipes}} </h4>
                                
                                <table class="table">
            
                                    <tbody>
                                      <tr>
                                        <th>Breakfast</th>
                                        <td>:</td>
                                        <td>{{total_breakfast}}</td>
                                      </tr>
                                      <tr>
                                        <th>Lunch</th>
                                        <td>:</td>
                                        <td>{{total_lunch}}</td>
                                      </tr>
                                      <tr>
                                        <th>Snacks</th>
                                        <td>:</td>
                                        <td>{{total_evesnack}}</td>
                                      </tr>
                                      <tr>
                                        <th>Dinner</th>
                                        <td>:</td>
                                        <td>{{total_dinner}}</td>
                                      </tr>
                                      <tr>
                                        <th>Veg</th>
                                        <td>:</td>
                                        <td>{{totalveg}}</td>
                                      </tr>
                                      <tr>
                                        <th>NonVeg</th>
                                        <td>:</td>
                                        <td>{{totalnonveg}}</td>
                                      </tr>
                                    </tbody>
                                </table>
            
                            </div>
                            
                            {% if auth_trending_recipes or top_breakfast or top_lunch or top_evesnack or top_dinner or topveg or topnonveg or most_liked_recipe %}
                                <div class="recap-sidebar-dashboard-container scrollspy-container">
                                    <h4>Cards</h4>
                                    
                                    <p class="scrollspy-top-para"><small>on this page</small></p>
                                    
                                    <div id="year-recap-pg" class="list-group recap-card-scrollspy">
                                        <a class="list-group-item list-group-item-action" href="#card-1">Most viewed recipes</a>
                                        <a class="list-group-item list-group-item-action" href="#card-2">Recipe from each type</a>
                                        <a class="list-group-item list-group-item-action" href="#card-3">Top veg & non-veg recipe</a>
                                        {% if total_likes != 0 %}
                                            <a class="list-group-item list-group-item-action" href="#card-4">Most liked recipe</a>
                                        {% else %}
                                    
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            {% endif %}

                        </div>
                        
                    </aside>
                    
                </div>
            </div>

            <div class="footer-wrapper">
                {% include 'testingapp/footer.html' %}
            </div>

        </div>
    
    {% else %}

    <script>
      location.href = "{% url 'login' %}";
    </script>

  {% endif %}
    
</body>

{% endblock %}