@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Geist&family=Manrope&display=swap');

:root{
    --white : white;
    --whitesmoke : whitesmoke;
    --gray: gray;
    --black : black;
    --focuscolor : #4285F4;
    /* --bgcolor :#E9E5DD; */
    /* --activecolor : #D8B384; */
    /* --hovercolor : #F7D08A; */

    --bgcolor :#DBCBBD;
    --activecolor : #9F8772;
    --textcolor : #221e20;
    --hovercolor : #9C938B;
    /* --hovercolor : #DAD0C2; */

    --sidebarbgcolor: #DFD3C3;
    --sidecardcolor: #FDFAF6;
    --neutral_primary : #DBCBBD;
    --neutral_secondary : #D8D9DA;
    --col-color: #D0C9C0;
    --fill_color: #C1D8C3;
}

/* @font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Regular.ttf') format('truetype');
    Add additional font formats here if necessary
} */

html *{
    /* font-family: "Comfortaa", sans-serif; */
    /* font-family: "Manrope", sans-serif; */
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    /* font-family: 'Product Sans', sans-serif; */
    /* letter-spacing: .4px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color .3s ease;
    scroll-behavior: smooth;
}

/* body{
    font-family: var(--font_family);
} */
 

.scaled-down-animation{
    transition: transform 0.3s ease;
}

.background-effect .scaled-down-animation{
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.bs-custom-tooltip {
    --bs-tooltip-bg: var(--bgcolor);
    --bs-tooltip-color: var(--textcolor);
    --bs-tooltip-arrow-color: var(--bgcolor);
    --bs-tooltip-border-radius: 30px;
    --bs-tooltip-font-size: 0.8em;
    --bs-tooltip-padding-x: 8px;
    --bs-tooltip-padding-y: 8px;
    border-radius: 30px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}

/* top nav bar */
.navbar{
    /* background: inherit; */
    padding: 12px;
    margin-left: 0;
    z-index: 10;
    /* width: 98%; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 20px 0px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px -3px, rgba(0, 0, 0, 0.05) 0px 2px 1px -5px; */
}

/* .navbar.navbar-shadow{
    box-shadow: 0px 1px 5px #3f3c3c;
} */

.navbar-offcanvas-btn{
    display: none;
}

.navrail-logo{
    /* width: 4.5%; */
    /* height: 50px; */
    position: fixed;
    top: 8px;
    left: 16px;
    transition: 0.5s;
    opacity: 1;
    transition: opacity 0.2s ease;
    /* transform: translateY(0%); */
    /* text-align: center; */
}

.scroll-indicator {
    position: fixed;
    top: 12px;
    left: 21px;
    opacity: 0;
    background: var(--bgcolor);
    height: 48px;
    width: 45px;
    border-radius: 30px;
    z-index: 9999;
    transition: background 0.4s ease,opacity 0.2s ease;
}

.scroll-value{
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98%;
}

.frosted-scroll-indicator{
    position: fixed;
    top: 5.8px;
    left: 13.8px;
    height: 59.5px;
    width: 59.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 0;
    transition: background 0.3s ease;
    mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 100%);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 100%);
}

.nvarbar-circle-svg{
    border-radius: 100%;
    height: 55px;
    width: 55px;
    transition: transform linear;
}

.navbar-circle-svg-path {
    fill: var(--fill_color);
}

.nrweb-logo{
    border-radius: 100%;
    position: absolute;
    top: 0;
    padding: 8px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 0;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.navbar-brand-name{
    position: absolute;
    /* left: 90px; */
    left: 115px;
}

.navbar-brand-name a{
    font-family: 'Melodrama', serif;
    letter-spacing: 1.5px;
    /* text-transform: uppercase; */
    position: absolute;
    top: -22px;
    left: -10px;
    font-size: 1.3em;
    font-weight: bolder;
    opacity: 0.8;
    white-space: nowrap; 
    width: calc(75vw - 80px); 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.navbar-brand-name a::first-letter{
    text-transform: uppercase;
}

.navbar-sm-weather .weather-widget{
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

/* .navbar-brand-name .weather-widget .weather-info{
    background: pink;
    display: none;
}

.navbar-brand-name .weather-widget .weather-info #weather-info{
    background: teal;
    display: flex;
    justify-content: space-around;
} */


.navbar-right-list-items ul li.nav-item{
    /* padding: 5px; */
    border-radius: 100%;
}

.nav-topright-icon-container li:nth-child(-n+3){
    margin-right: 10px;
}

.nav-topright-icon-container li:last-child{
    margin: 0;
}

.rightside-searchbar{
    border-radius: 100%;
}

.rightside-searchbar h5{
    border-radius: 100%;
    padding: 8px 11px;
    transition: background-color 0.3s ease;
}

.rightside-searchicon{
    color: var(--textcolor);
    font-size: 1.15em;
    position: relative;
    top: 3px;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.weather-modal-open .sm-weather-container{
    border-radius: 100%;
}

.rightside-searchbar .weather-placeholder:hover{
    background: var(--hovercolor);
}

.rightside-searchbar .weather-data{
    margin-top: 10px;
}

.rightside-searchbar .weather-data:hover{
    cursor: pointer;
}

.rightside-searchbar .navbarIconWrapper{
    padding: 0;
}

.rightside-searchbar .navbarweatherIcon,
.rightside-searchbar .navbarTempWrapper {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    transition: opacity 0.3s ease;
}

.rightside-searchbar .navbarweatherIcon.show-temp,
.rightside-searchbar .navbarTempWrapper.show-temp {
    opacity: 1;
    pointer-events: auto;
}

.rightside-searchbar .navbarTempWrapper{
    font-size: 0.8em;
}

.weather-modal-open .location-icon-container,
.weather-modal-open .sm-weather-container,
.weather-modal-open .sm-right-searchbar{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.weather-modal-open .location-icon-container,
.weather-modal-open .sm-weather-container{
    background: var(--activecolor);
}

/* .navbar-right-list-items ul li.nav-item{
    margin: 0 10px;
} */

.navbar-right-list-items .nav-topright-icon-container {
    display: flex;
    justify-content: space-evenly;
    border: 1.5px solid transparent;
    border-radius: 60px;
    margin-right: 10px;
    transition: 0.2s;
}

.rightside-searchbar h5:hover{
    cursor: pointer;
}

.rightside-searchbar h5:hover .rightside-searchicon {
    opacity: 1;
}

.rightside-searchbar-unauth h5:hover:not(.weather-widget){
    background: #9ACBD0;
    cursor: pointer;
}

.weather-widget:hover{
    font-weight: bold;
    cursor: pointer;
}

.nav-item {
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.nav .nav-right-icons-slider {
    border-radius: 100px;
    background: var(--hovercolor);
    position: absolute;
    transition: 0.3s;
    z-index: 0;
    opacity: 0;
}

/* Show slider on hover */
.nav-item:hover .nav-right-icons-slider {
    opacity: 1;
}

.nb-img-btn{
    background: transparent;
    border: 0;
    border-radius: 100%;
}

.nb-img-btn:focus{
    outline: none;
}

.user-profile-circle-svg{
    right: 0px;
    width: 46px;
    height: 46px;
}

/* .svg-path{
    fill: red;
    opacity: 0.5;
} */

.navbar-img-btn{
    border-radius: 100%;
    z-index: 9;
}

.nb-img-btn {
  transition: transform 0.3s ease;
}

.nb-img-btn.show {
  transform: scale(1.1);
}

.guest-nb-img-btn::after{
    color: var(--neutral_primary);
    position: absolute;
    top: -5px;
    right: 0;
    font-family: "Material Symbols Rounded";
    content: " \ef4a";
    font-size: 1em;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.nb-rightimg-dropmenu{
    background: var(--sidebarbgcolor);
    color: var(--textcolor);
    border: 0;
    padding: 8px 15px;
    padding-bottom: 10px;
    border-radius: 40px;
    width: 350px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.4);
    transition: transform-origin 0.3s ease-in-out;
    animation: growOut 0.3s ease-out 0s 1;
    transform-origin: top right;
}

@keyframes growOut {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.confetti-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.dotlottie-confetti{
    width: 320px; 
    height: 300px;
}

.dropmenu-container{
    border-radius: inherit;
}

.first-nested-dropdown{
    padding-top: 0;
}

.nb-rightimg-dropmenu hr{
    background: var(--activecolor);
    height: 1.3px;
}

.top-nb-dropmenu-content{
    /* background: white; */
    text-align: center;
    border-radius: inherit;
    padding: 5px 0;
    margin-bottom: 10px;
    color: var(--textcolor);
}

.top-nb-dropmenu-content p{
    font-size: 0.9em;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}

.top-nb-dropmenu-content p:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.top-nb-dropmenu-img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.top-nb-dropmenu-img img{
    border-radius:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px; 
    height: 90px;
}

.nb-profile-circle-svg{
    width: 90px; 
    height: 90px;
}

.top-nb-dropmenu-content h5{
    margin-bottom: 15px;
}

.top-nb-dropmenu-content a{
    border-radius: 25px;
    border: 1.5px solid var(--activecolor);
    color: var(--textcolor);
    font-size: 0.9em;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
}

.top-nb-dropmenu-content a:hover{
    background: var(--hovercolor);
}

.top-nb-dropmenu-content{
    margin-bottom: 15px;
}

.nb-dropmenu-content {
    background: var(--sidecardcolor);
    border-radius: 25px 25px 5px 5px;
    font-size: 1.1em;
    padding: 15px;
    padding-left: 15px;
    padding-top: 18px;
}
  
.nb-dropmenu-content::after {
    content: "";
    clear: both;
    display: table;
}
  
.nb-dropmenu-content img {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}
  
.nb-dropmenu-content h5{
    font-size: 1.13em;
    font-weight: bold !important;
}

.nb-dropmenu-content p{
    font-size: 0.8em;
}

.dropmenu-details-wrapper,
.dropmenu-details-links{
    background: var(--sidecardcolor);
    border-radius: 5px;
    /* padding: 10px; */
    padding-left: 0;
    margin-top: 4px;
    font-size: 0.95em;
    position: relative;
}

.dropmenu-details-links{
    background: inherit;
}

.dropmenu-details1{
    font-size: 0.88em;
    border-radius: 25px;
}

.dropmenu-details2{
    margin-top: 12px;
}

.dropmenu-details-wrapper p,
.dropmenu-details-links p{
    padding: 8px;
    padding-top: 12px;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
}

.dropmenu-details-links p{
    font-size: 0.88em;
    opacity: 0.8;
}

.dropmenu-details-links{
    /* border-radius: 20px; */
    background: inherit;
    margin-top: 8px;
}

.dropmenu-details-links p{
    border-radius: 25px;
    padding-left: 0;
    text-align: center;
}

.dropmenu-details-wrapper .dropdown-second-child{
    background: none;
    /* border-radius: 5px 5px 0 0; */
    z-index: 10 !important;
}

.dropmenu-details-wrapper .dropdown-second-child .sub-text{
    background: var(--activecolor);
    border-radius: 100px;
    padding: 4px 8px;
    font-size: 0.7em;
    position: relative;
    bottom: 6px;
    left: 5px;
}

.dropmenu-details1 .first_child{
    background: inherit;
    /* border-radius: 5px 5px 0 0; */
    border-radius: 25px 25px 0 0;
}

.dropmenu-details2 .feedback{
    border-radius: 25px;
}

.dropmenu-details-wrapper .child-active{
    background: var(--activecolor);
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.top-nb-dropmenu-content .child-active{
    background: var(--activecolor);
    font-weight: bold;
}

.dropmenu-details-wrapper .child-active .nb-dropmenu-icons{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.dropmenu-details-wrapper .dropdown-second-child2{
    border-radius: 0 0 25px 25px;
    margin-top: -2px;
}

.dropmenu-details-wrapper a,
.dropmenu-details-links a{
    text-decoration: none;
    color: inherit;
}

.dropmenu-details-wrapper .nb-dropmenu-icons{
    font-size: 1.3em;
    margin-left: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.dropmenu-outside-links{
    margin-top: 15px;
    margin-bottom: 10px;
}

.dropmenu-details-links a{
    background: inherit;
    border-radius: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 122px;
    transition: all 0.2s ease-in-out;
}

.dropmenu-details-links a:hover{
    background: var(--hovercolor);
}

/* Using slider with hover bg color in dynamic.css */
.dropmenu-details-wrapper p:hover:not(.det-wrap-1 p,.nav-right-img-dropmenu-slider){
    /* background: var(--hovercolor); */
    font-weight: bold;
}

.dropdown-second-child{
    position: relative;
    z-index: 1;
}

.nav-right-img-dropmenu-slider {
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--hovercolor);
    border-radius: 8px;
    z-index: 0;
    opacity: 0;
}

.dropmenu-details-wrapper p:hover .nav-right-icons-slider {
    opacity: 1;
}

.dropmenu-details-links p:hover{
    background: none !important;
    font-weight: normal !important;
}

.dropmenu-details-wrapper a.darktheme-btn:hover,
.offcanvas-links li:last-child:hover{
    cursor: pointer;
}

.dropmenu-details-wrapper .child-active:hover .nb-dropmenu-icons{
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.dropmenu-details-wrapper p:hover:not(.det-wrap-1 p) .nb-dropmenu-icons{
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.dropmenu-details-wrapper .dropmenu-text,
.dropmenu-details-links .dropmenu-text{
    vertical-align: top;
    position: relative;
    bottom: 2px;
    margin-left: 23px;
}

.det-wrap-1 p:first-child{
    border-radius: 5px 5px 0 0;
}

.det-wrap-1 p:last-child{
    border-radius: 0 0 5px 5px;
}

.det-wrap-1 p:first-child:hover{
    background: inherit;
    border-radius: 5px 5px 0 0;
}

.det-wrap-1 p:last-child:hover{
    background: inherit;
    border-radius: 0 0 5px 5px;
}

/* for guest user bg color from guest.css */
.navbar-guest-user-links{
    background: none;
    margin-top: 8px;
}

.navbar-guest-user-links .guest-user-links-container {
    width: 100%;
    display: flex;
    gap: 2px;
}

.navbar-guest-user-links .guest-user-links-container > div {
    flex: 1;
}

.navbar-guest-user-links a {
    display: block;
    background: var(--bgcolor);
    color: var(--textcolor);
    padding: 10px 12px;
    text-align: center;
    transition: padding 0.4s ease, background 0.4s ease,
    border-radius 0.2s ease;
}

.guest-user-links-container div:first-child a{
    border-radius: 20px 5px 5px 20px;
}

.guest-user-links-container div:last-child a{
    border-radius: 5px 20px 20px 5px;
}

.navbar-guest-user-links a:hover{
    background: var(--hovercolor);
}

.navbar-guest-user-links div a:active{
    border-radius: 20px;
    font-weight: bold;
}

.theme-select-wrapper{
    font-size: 1.1em;
}

.theme-container{
    border-radius: inherit;
    margin-top: 10px;
}

.main-themes{
    background: inherit;
    border-radius: inherit;
}

.dark-theme{
    background: var(--sidecardcolor);
    border-radius: 25px 25px 5px 5px;
}

.dark-theme .darktheme-btn p:last-child{
    border-radius: 0 0 5px 5px;
}

.theme-container-heading,.color-theme-heading{
    /* background: pink; */
    padding-left: 5px;
}

.color-themes{
    background: var(--sidecardcolor);
    border-radius: 5px 5px 25px 25px;
    margin-top: 3px;
}

.theme-container-heading p:hover,.color-theme-heading p:hover{
    background: inherit;
}

/* toast message */
.toast-container .theme-toast{
    border-radius: 40px;
    width: 170px;
    padding: 0;
}

.theme-toast .toast-body{
    background: var(--bgcolor);
    color: var(--textcolor);
    border-radius: inherit;
    text-align: center;
}

/* toast message ends */


/* autocomplete widget */

.autocomplete {
    position: relative;
} 

.autocomplete-items {
    background: inherit;
    position: relative;
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 3px;
    height: auto;
    z-index: 10;
    transition: 0.3s ease;
    width: 100%;
}

.autocomplete-items div {
    /* background: var(--white); */
    color: var(--textcolor);
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.95em;
    padding: 10px;
    margin: 2px 0;
    /* height: inherit; */
    transition: background 0.3s ease;
}

.autocomplete-items div:first-child{
    margin-top: 0;
}

.additional-option {
    background: var(--bgcolor);
    color: var(--textcolor);
    border-radius: 14px;
    font-size: 0.75em;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer; 
    margin-right: 8px;
    margin-bottom: 8px;
}

.additional-option:hover {
    background-color: var(--hovercolor);
}

/* .pages-options-autocomplete,.history-options-autocomplete {
    background: rgba(255, 255, 255, 0.4);
} */

.history-options-autocomplete{
    margin: 10px 0;
}

.autocomplete-pages-heading{
    color: var(--textcolor);
    font-size: 0.7em;
    padding: 9px 4px 6px 4px;
    opacity: 0.8;
    margin-bottom: 6px;
}

/* .autocomplete-items div:first-child{
    border-radius: 18px 18px 6px 6px;
} */

/* .autocomplete-items div:last-child{
    border-radius: 6px 6px 18px 18px;
    margin-bottom: 10px;
} */

.autocomplete-items div::before {
    font-family: "Material Symbols Rounded";
    content: " \e8b6";
    background: var(--bgcolor);
    font-size: 1em;
    position: relative;
    top: 2px;
    margin: 0 12px;
    margin-left: 0;
    padding: 2px 4px;
    border-radius: 100%;
    /* right: 10px; */
}
  
.autocomplete-items div:hover {
    background: var(--hovercolor);
    transition: background 0.3s ease;
}
  
.autocomplete-active {
    background: var(--hovercolor);
}

.ranked_recipes{
    position: relative;
    overflow-y: scroll;
    padding-top: 18px;
    height: 100%;
    border-radius: 25px;
}

.autocomplete-widget.hidden,
.ranked_recipes.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.ranked_recipes::-webkit-scrollbar{
    display: none;
}

.ranked_recipes div:first-child h6{
    font-size: 1.1em;
    font-weight: bold;
}

.trending-searches-container{
    margin: 8px 0;
}

.trending-searches-container::before{
    font-family: "Material Symbols Rounded";
    content: "\e8e5 ";
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.trending-searches-container img{
    border-radius: 12px;
    width: 55px;
    height: 50px;
}

.trending-searches-container h6{
    font-size: 0.85em;
}

/* autocomplete widget ends */

/* navigation rail */
.navrail{
    height: 100%;
    /* width: 90px; */
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout-wrapper{
    /* background: var(--bgcolor); */
    background: transparent;
    position: absolute;
    bottom: 0px;
    /* width: 90%; */
    width: 70px;
    height: 80px;
    /* margin-left: -2px; */
    /* text-align: center; */
    /* padding: 20px; */
    list-style-type: none;
    display: inline-block;
    position: fixed;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.logout-link{
    /* background: var(--white); */
    background: var(--bgcolor);
    border-radius: 100%;
    position: absolute;
    left: 10px;
    bottom: 14;
    height: 65px;
    width: 65px;
    /* margin-left: 2px; */
    text-align: center;
    padding: 20px 5px;
    list-style-type: none;
    display: inline-block;
    position: fixed;
    overflow: hidden;
    transition: background-color 0.3s ease,border-radius 0.6s ease,
    transform 0.3s ease;
}

.logout-link:hover::after,
.logout-link:focus::after {
  transform: translateX(0);
}

.logout-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* background: var(--hovercolor); */
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transform: translateX(-100%);
  z-index: 0;
  transition: 0.4s;
}

.logout-link:focus,
.logout-link:active{
    background: var(--hovercolor);
}

.logout-link.clicked {
    background-color: var(--hovercolor);
    border-radius: 35%;
    /* transform: scale(0.9); */
}

.logout-link.logoutlink-active {
    transform: scale(0.9);
}

.logout-link.remove-color {
    background-image: linear-gradient(to left, var(--hovercolor) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s;
}

.logout-link .logouticon {
    background: transparent;
    position: relative;
    top: 3px;
    left: 2px;
    z-index: 1;
    font-size: 1.1em;
}

.nrlink-container .logout-link a ul li{
    list-style-type: none;
}

.logouticon{
    position: relative;
    top: 2.5px;
}

.logout-link:hover{
    /* background: var(--hovercolor); */
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.navrail-content{
    /* background: powderblue; */
    max-height: 700px;
    overflow-y: scroll;
}

.navrail-content::-webkit-scrollbar {
    display: none;
}


.navrail::-webkit-scrollbar{
    display: none;
}

.nrlink-container:not(.logout-link){
    transition: 0.3s;
    margin-left: -2px;
    /* margin-top: 70px; */
    /* margin: 100px 0; */
     /* margin-top: 180px; */
    /*margin-bottom: 100px; */
    /* margin-top: 0px; */
    padding-top: 10px;
}

.navrail-links{
    height: 5px;
    text-align: center;
    text-decoration: none;
}

.navrail-links ul li{
    list-style-type: none;
}

.navrail-links:hover{
    background: inherit;
}

.navrail-links:hover .navrail-text{
    font-weight: 500;
}

.navrail-listitems{
    /* list-style-type: none; */
    margin: 18px 0;
    padding-right: 1px;
    padding-left: 0;
    transition: all 0.4s ease;
}

.navrail-listitems:first-child{
    margin-top: 5px;
}

.navrail-text{
    /* letter-spacing: 0.3px; */
    color: var(--textcolor);
    font-size: 0.8em;
    font-weight: 200;
}

.navrail-icons{
    border-radius: 100px;
    color: var(--textcolor);
    padding: 3px 15px;
    transition: all 0.3s;
    font-size: 1.35em;
    position: relative;
    bottom: 2px;
}

.navrail-links:hover .navrail-icons{
    background: #9ACBD0;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.navrail-icons-active{
    background: #AFC8E1;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    transition: padding 0.3s ease,font-variation-settings 0.3s ease,background 0.4s ease,
    opacity 0.3s ease;
}

.navrail-content:hover .navrail-links .navrail-icons,
.navrail-content:hover .navrail-links .navrail-text {
  opacity: 0.75;
}

.navrail-content:hover .navrail-links:hover .navrail-icons,
.navrail-content:hover .navrail-links:hover .navrail-text {
  opacity: 1;
}

.navrail-content:hover .navrail-links:has(.navrail-icons-active) .navrail-icons,
.navrail-content:hover .navrail-links:has(.navrail-text-active) .navrail-text {
  opacity: 1;
}

.navrail-links:hover .navrail-icons-active{
    /* padding: 3px 10px; */
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

.navrail-text-active{
    font-weight: 500;
}

.navrail-listitems li:nth-child(2){
    text-align: center !important;
    position: relative;
    left: 1px;
    font-size: 0.9em;
}

/* When clicked add scale animation */
.navrail-listitems-active {
    /* transform: scale(0.9); */
    transition: transform 0.4s ease;
}

.navrail-links:has(.navrail-listitems-active) .navrail-listitems-active {
  transform: translateY(0);
}

.navrail-links:has(.navrail-listitems-active) ~ .navrail-links .navrail-listitems {
  transform:translateY(-14px);
}

.navrail-links:has(~ .navrail-links .navrail-listitems-active) .navrail-listitems {
  transform: translateY(14px);
}

.navrail-links:first-child:has(.navrail-listitems-active) .navrail-listitems-active {
  transform: translateY(-2px);
}

.navrail-links:last-child:has(.navrail-listitems-active) .navrail-listitems-active {
  transform: translateY(2px);
}

.unauth-navrail-icon{
    /* background: yellow; */
    color: var(--textcolor);
    border: 1px solid var(--textcolor);
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.47em;
}

.unauth-navrail-icon:hover{
    cursor: pointer;
    background: var(--hovercolor);
    transition: all 0.5s ease-out;
}

.unauth-darktheme-container{
    list-style-type: none;
    position: absolute;
    bottom: 30px;
    left: 38px;
}

.unauth-darktheme-container:hover{
    cursor: default;
}

.unauth-darktheme-toggle{
    list-style-type: none;
    text-align: center;
}

/* navrail image stack */

.image-stack {
    display: flex;
    position: relative; 
}
  
.image-item {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    left: 20%;
    margin-right: -32px;
    background: var(--bgcolor);
    padding: 3px;
    padding-bottom: 3.2px;
}
  
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
  
.image-item:first-child:not(.first-compare-image){
    margin-top: 10px;
}

.image-item:nth-child(2) {
    z-index: 2;
    margin-left: 2px;
    margin-bottom: 5px;
}

.first-compare-image{
    border-radius: 10px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;
    left: 18%;
    padding: 0;
    margin-bottom: 6px;
    transition: margin-bottom 0.5s ease;
}

/* .viewpost-listitems .navrail-text {
    transition: display 0.5s ease;
}

.viewpost-listitems .image-item{
    transition: margin-bottom 0.5s ease;
}

.viewpost-listitems:hover .navrail-text {
    display: none;
    transition: display 0.5s ease;
}

.viewpost-listitems:hover .first-compare-image,
.viewpost-listitems:hover .image-item{
    margin-bottom: -15px;
} */

.offcanvas-recipe-img{
    position: relative;
    right: 3px;
}

.offcanvas-img-stack{
    width: 25px;
    height: 25px;
}

.offcanvas-img-stack img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.offcanvas-recipe-title{
    position: relative;
    right: 8px;
}

.offcanvas-comparing-img-stack{
    position: relative;
    top: 2px;
    right: 5px;
}

.offcanvas-comparing-img-item{
    position: relative;
    bottom: 1px;
}

.offcanvas-comparing-img-item{
    width: 30px;
    height: 30px;
}

.offcanvas-comparing-img-item img {
    width: 25px;
    height: 25px;
}

.offcanvas-recipe-title2{
    position: relative;
    left: 15px;
}

.offcanvas-comparing-img-item:nth-child(2) {
    z-index: 2;
    margin-top: 2px;
    margin-left: 10px;
}

.animate-search-svg{
    animation: rotate 10s linear infinite;
}

@keyframes rotate{
    from {-webkit-transform:rotate(0deg);}
    to {  -webkit-transform:rotate(360deg);}
}

/* recipe image offcanvas */



/* offcanvas */

.offcanvas {
    transition-duration: 0.5s; 
    border: 0 !important;
}

/* .offcanvas .offcanvas-header,
.offcanvas .offcanvas-body {
    opacity: 0;
    transition: opacity 0.6s ease; 
}

.offcanvas.show .offcanvas-header,
.offcanvas.show .offcanvas-body {
    opacity: 1; 
}

.offcanvas.hiding .offcanvas-header,
.offcanvas.hiding .offcanvas-body {
    opacity: 0; 
    transition: width 0.6s ease, opacity 0.3s ease;
}

.offcanvas.hiding{
    animation: hideOffcanvas 1s ease forwards;
}

@keyframes hideOffcanvas {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
} 

.comments-offcanvas .offcanvas-header,
.comments-offcanvas .offcanvas-body {
    opacity: 1;
}

.comments-offcanvas.hiding .offcanvas-header,
.comments-offcanvas.hiding .offcanvas-body {
    opacity: 1; 
} */

/* .offcanvas-backdrop {
    backdrop-filter: blur(0px) !important; 
} */

.offcanvas{
    background: var(--sidebarbgcolor);
}

.nav-offcanvas {
    --bs-offcanvas-width: 300px;
}

.offcanvas-header{
    padding: 10px;
    padding-bottom: 5px;
}

.offcanvas-header .offcanvas-close-btn{
    border: 0;
    background: inherit;
    border-radius: 100px;
    padding: 8px;
    margin-top: -4px;
    margin-left: -5px;
    transition: all 0.2s ease-in-out;
}

.offcanvas-close-btn .close-btn-icon{
    border-radius: inherit;
    color: var(--textcolor);
    display: inline-block;
    vertical-align: middle;
}

.offcanvas-close-btn:active{
    transform: translateX(-10%);
    transition: all 0.2s ease-in-out;
}

.offcanvas-close-btn:hover,
.navbar .navbar-offcanvas-btn:hover{
    background: #9ACBD0;
}

/* .offcanvas-header ul{
    background: turquoise;
    list-style-type: none;
    margin-left: 15px;
    color: var(--textcolor);
}

.offcanvas-header ul li{
    display: inline-block;
    vertical-align: middle;
}

.offcanvas-header ul li:last-child h4{
    background: red;
    font-size: 1.1em;
} */

.offcanvas-header h5{
    color: var(--textcolor);
    font-family: 'Melodrama', serif;
    margin-left: 5px;
    font-size: 1em;
    font-weight: bolder;
}

.offcanvas-notification{
    position: absolute;
    right: 20px;
}

.notification-body{
    position: relative;
}

.offcanvas-notification .offcanvas-noti-icon{
    border-radius: 100%;
    cursor: pointer;
    display: block;
    font-size: 1.3em;
    padding: 8px;
}

.notification-body .notification-badge{
    border-radius: 100%;
    background: var(--activecolor);
    font-size: 0.6em;
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 3px 7px;
    transition: top 0.3s ease;
}

.offcanvas-notification .offcanvas-noti-icon:hover{
    background: var(--hovercolor);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


/* notification offcanvas */

.notification-offcanvas{
    background: var(--white);
    /* border-radius: 0 0 22px 22px; */
    /* height: 60% !important; */
    color: var(--textcolor);
    border: none !important;
}

.notification-offcanvas h5 span{
    font-size: 1em;
    font-weight: bold;
}

.notification-offcanvas .modal-close-btn:focus,
.notification-offcanvas .modal-close-btn:active{
    border: 0;
    box-shadow: none;
}

.notification-offcanvas .offcanvas-body{
    /* border-radius: 0 0 22px 22px; */
    border: 0;
    padding: 10px;
    padding-top: 0px;
}

.notification-offcanvas .offcanvas-body .no-notifications{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-offcanvas .offcanvas-body img{
    border-radius: 100%;
    min-width: 25px;
    height: 25px;
}

.notification-offcanvas .offcanvas-body a{
    font-weight: bold;
}

.alert-notification{
    background: var(--bgcolor);
    border: 0;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 6px;
    margin: 10px 0;
}

.alert-notification:first-child{
    margin-top: 0;
}

.notification-container .main-notification-header{
    font-size: 0.75em;
    opacity: 0.75;
}

.notification-container div:nth-child(2){
    display: block;
    font-size: 0.95em;
}

.notification-container div:nth-child(2) a{
    text-decoration: none;
    color: inherit;
    font-size: 0.95em;
}  

.notification-container div:nth-child(2) a:hover{
    border-bottom: 0.5px solid var(--focuscolor);
}

.notification-container div:nth-child(3){
    font-size: 0.7em;
}

.notification-container div:last-child button {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--textcolor);
    opacity: 0.7;
}

.notification-container div:last-child button:focus,
.notification-container div:last-child button:active {
    border: 0;
    outline: none;
}

.notification-container div:last-child button span{
    font-size: 1.4em;
}

.alert-notification .notification-icons{
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.alert-notification button:focus{
    outline: 0;
    box-shadow: none;
}

.rightside-searchbar .notification-badge{
    border-radius: 100%;
    background: var(--activecolor);
    font-size: 0.6em;
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 4px 8px 4px 8px;;
    color: var(--textcolor);
    transition: top 0.3s ease;
}

.rightside-searchbar .notification-active{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.notification-footer button{
    background: var(--bgcolor);
    border-radius: 22px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.7em;
}

.notification-footer button:hover{
    background: var(--hovercolor);
}

.notification-footer button:focus{
    outline: none;
    box-shadow: none;
}

.offcanvas-body-container:hover .main-links .offcanvas-link-icons,
.offcanvas-body-container:hover .main-links {
  opacity: 0.75;
}

.offcanvas-body-container:hover .main-links:hover .offcanvas-link-icons,
.offcanvas-body-container:hover .main-links:hover {
  opacity: 1;
}

.offcanvas-body-container:hover .main-links.active .offcanvas-link-icons,
.offcanvas-body-container:hover .main-links.active {
  opacity: 1;
}

.nav-offcanvas-body{
    background: transparent;
    padding: 0 10px 80px 10px;
}

.nav-offcanvas-body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body-container{
    /* background: tomato; */
    padding-right: 10px;
}

/* .offcanvas-body-list{
    background: plum;
} */

.offcanvas-body-list ul{
    list-style-type: none;
    font-size: 1.1em;
}

.offcanvas-body-list ul li{
    background: inherit;
    border-radius: 25px;
    margin: 5px 0;
    padding-left: 0;
    width: 100%;
    display: block;
    /* background: linear-gradient(to right, var(--hovercolor) 50%, var(--sidecardcolor) 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
    transition: all 0.2s ease-in-out;
}

.offcanvas-body-list ul li:hover{
    background: #9ACBD0;
    transition: all 0.2s ease-in-out;
}

/* .body-links-first{
    background: yellowgreen;
    padding: 10px;
} */

.offcanvas-body-links li a{
    background: inherit;
    color: var(--textcolor);
    border-radius: 40px;
    padding: 8px; 
    padding-left: 16px;   
    text-decoration: none;
    display: block;
    width: inherit;
    transition: all 0.4s ease;;
}

.offcanvas-body-links li a,
.offcanvas-body-links li a .offcanvas-link-icons{
    color: var(--textcolor);
    font-size: 0.8em;
    margin: 0 15px;
    margin-left: 0;
}

.offcanvas-body-links li a .offcanvas-link-icons{
    font-size: 1.2em;
    margin-left: -5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 0;
    /* background: yellowgreen; */
    border-radius: 100%;
    padding: 8px;
}

.offcanvas-body-links li:hover{
    background-position: left bottom;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.offcanvas-body-links li:hover a.main-links{
    font-weight: bold;
    /* transform: translateX(1%); */
}

.offcanvas-body-links li a.active{
    background: #AFC8E1;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.offcanvas-body-links li a.active{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.offcanvas-body-links li a.active:hover{
    background-position: left bottom;
}

.body-links-second,.body-links-third{
    /* background: plum; */
    margin-top: 15px;
}

.body-links-second h5,.body-links-third h5{
    color: var(--textcolor);
    font-size: 0.85em;
    font-weight: bold;
    margin-left: 15px;
}

.offcanvas-body-container hr{
    height: 1.3px;
    border-radius: 30px;
}

.logout-container{
    background: inherit;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.logout-container ul{
    list-style-type: none;
    color: var(--textcolor);
    position: relative;
    top: 2px;
}

.logout-container ul li{
    display: inline-block;
    vertical-align: middle;
}

.logout-container ul li:last-child h4{
    font-size: 1.1em;
    margin-left: 5px;
}

.logout-container .logout-btn{
    background: var(--sidebarbgcolor);
    color: var(--textcolor);
    border: 0;
    border-radius: 30px;
    font-size: 0.85em;
    padding: 8px 10px;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.logout-container .logout-icon{
    padding: 0;
    font-size: 1.1em;
    position: relative;
    top: 3px;
    left: 1px;
} 

/* .logout-container .logout-btn,
.logout-container .logout-icon{
    margin: 0 10px;
    margin-left: -5px;
} */

.logout-container .logout-btn:hover{
    background: var(--hovercolor);
    /* border-radius: 14px; */
    font-weight: bold;
}

.logout-container .logout-btn:hover
.logout-container .logout-icon{
    color: var(--white);
}

/* offcanvas ends */

/* logout modal */

/* .Modal-logout.show,.Modal-delete.show,
.Modal-search.show {
    background: rgba(255, 255, 255, 0.2); 
    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); 
    transition: backdrop-filter 0.4s ease,background-color 0.4s ease,
    color 0.4s ease;
} */


/* .modal-open .modal-backdrop properties in dynamic.css and in forsted.css */

/* .modal-open .modal-backdrop {
    transition: backdrop-filter 0.4s ease,background-color 0.4s ease,
    color 0.4s ease;
} */

.logoutmodal .modal-header{
    border: 0;
    color: var(--textcolor);
    padding: 10px 5px;
    padding-top: 5px;
}

.logoutmodal .modal-header button{
    padding: 0;
    border: 0;
    outline: none;
}

.logoutmodal .modal-header h5{
    font-size: 1em;
    font-weight: bold;
}

.logoutmodal{
    border-radius: 30px;
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modal-body-scrollable-container:not(.user-detail-modal .modal-body-scrollable-container){
    /* height: 620px; */
    overflow-y: scroll;
}

.logoutmodal:not(.searchmodal,.shopping-list-modal,.user-detail-modal,.clipborardmodal){
    padding: 0;
    width: 400px;
    margin: 0 auto;
}

.user-detail-modal{
    width: inherit;
    padding: 0;
    margin: 0 auto;
}

.searchmodal{
    padding: 15px;
    width: auto;
    height: auto;
    /* margin: 0 auto; */
    /* height: 620px; */
}

.logoutmodal .modal-body{
    background: var(--sidecardcolor);
    border-radius: 30px;
    font-size: 0.9em;
    padding: 15px;
}

.logoutmodal .modal-body-header:not(.network-history-modal .modal-body-header,
.creditmodal .modal-body-header,.user-detail-modal .modal-body-header){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logoutmodal .modal-body h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.deletemodal .modal-body .callout{
    margin-top: 12px;
}

.deletemodal .modal-body .callout .warning-icon{
    color: red;
    font-size: 1em;
    position: relative;
    top: 2px;
}

.logoutmodal .modal-body-footer:not(.guest-modal-body-footer){
    background: transparent;
    border: 0;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.logoutmodal .modal-body-footer button,
.logoutmodal .modal-body-footer a,
.user-detail-modal .modal-footer button{
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 0.95em;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.user-detail-modal .modal-footer button{
    font-size: 0.85em;
}

.accountdeletemodal .modal-body-footer button {
    margin: 0;
}

.accountdeletemodal .modal-body-footer .data-download-btn {
    border: 1px solid var(--textcolor);
}

.accountdeletemodal .modal-body-footer div.d-flex{
    width: 100%;
    margin: 0;
}

.accountdeletemodal .modal-body-footer .data-download-btn:hover{
    border: 1px solid var(--hovercolor);
}

.logoutmodal .modal-body-footer button:not(.delete-modal-footer form button,.deletemodal .modal-body-footer button:last-child,
.logoutmodal .modal-body-footer .footerbtn,.share-recipe-modal .modal-body-footer .share-recipe-footerbtn,
.weathermodal .modal-body-footer .logout-modal-btn,.guest-modal-body-footer div div:last-child button){
    background-color: inherit;
}

.logoutmodal .modal-body-footer .footerbtn{
    border: 1px solid transparent;
    /* background: var(--bgcolor); */
}

.logoutmodal .modal-body-footer a,
.guest-modal-body-footer div div:last-child button{
    background: var(--sidebarbgcolor);
    margin-right: 0;
}

.logoutmodal .modal-body-footer .footerbtn:hover{
    border: 1px solid var(--hovercolor);
    background: var(--hovercolor);
}

.logoutmodal .modal-body-footer a:hover{
    background: var(--hovercolor);
}

/* logout modal ends */

/* delete modal */
.deletemodal .modal-body-footer form button,
.deletemodal .modal-body-footer button:last-child:not(.accountdeletemodal .modal-body-footer button:first-child){
    background: red;
    color: var(--white);
}

.deletemodal .modal-body-footer form button:hover,
.deletemodal .modal-body-footer .delete-post-btn-modal:hover{
    background: red;
    opacity: 0.7;
}

.deletemodal .modal-body-footer .footerbtn:hover{
    background: var(--hovercolor);
}

/* delete modal ends */


/* search modal  */

.search-modal-container {
    position: relative;
    background: var(--col-color);
    border-radius: 30px;
    transition: 0.25s;
}

.search-modal-container .search-icon {
    position: absolute;
    top: 27.5px;
    right: 10px;
    font-size: 0.85em;
    transform: translateY(-50%);
    z-index: 2;
}

.search-modal-container .search-icon button{
    border: 0;
    background: transparent;
    border-radius: 100%;
    color: var(--textcolor);
    opacity: 0.8;
    padding: 10px;
    padding-bottom: 4px;
}

.search-circle-svg{
    position: absolute;
    top: 5px;
    right: 8px;
    width: 45px;
    height: 45px;
}

.search-svg-path{
    fill: var(--bgcolor);
}

.modal-search{
    max-width: 900px;
}

.Modal-search.show::before {
    content: "What's on your mind?";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    color: rgba(105, 105, 105, 0.701);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
}

.Modal-search  .modal-dialog {
    margin-top: 65px;
}

.search-modal-container .search-icon button:focus{
    outline: 0;
    box-shadow: none;
}

.search-modal-container .search-icon span {
    font-size: 1.5em;
    cursor: pointer;
    transition: font-weight 0.3s ease;
}

.search-modal-container .search-icon button:hover span {
    font-weight: bold;
    transition: font-weight 0.3s ease;
}

/* search modal ends */


/* weather modal */

.weathermodal .modal-body{
    text-align: left;
}

.weathermodal .modal-body table{
    background: transparent;
    border-radius: 20px;
    margin-top: 10px;
}

.weathermodal .modal-body table tr th,
.weathermodal .modal-body table tr td{
    padding: 12px;
}

.weathermodal .modal-body form input,
.modal-search form input:not(.filter-form input){
    background: var(--col-color);
    border: 0;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
    transition: 0.25s;
}

.modal-search form input:not(.filter-form input){
    background: inherit;
}

.modal-search form input:not(.filter-form input,
.creditmodal form input) {
    width: 90%;
    padding: 15px;
}

.creditmodal .modal-body-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.creditmodal .modal-body-header h2 {
    text-align: center;
}

.creditmodal form input{
    width: 100%;
}

.creditmodal .modal-body-footer button{
    margin-right: 0;
}

.modal-search .modal-body {
    border-radius: 25px;
}

.search-modal-open .active-modal-btn-bgcolor,
.search-modal-open .active-modal-btn-bgcolor-secondary,
.search-modal-open .sm-right-searchbar,
.top-offcanvas-open .active-offcanvas-btn-bgcolor {
    background: var(--activecolor);
}

.autocomplete-widget{
    border-radius: 25px;
    max-height: 430px;
    overflow-y: auto;
    margin-top: 10px;
}

.autocomplete-widget::-webkit-scrollbar{
    display: none;
}

/* .modal-search .search-modal-body{
    overflow-y: scroll;
    border-radius: 25px;
} */
/* 
.search-modal-body{
    background: transparent;
} */

/* .autocomplete-pages-history-container{
    margin: 10px 0;
} */

.search-autocomplete-chips{
    /* background: thistle; */
    border-radius: 20px;
    margin-top: 15px;
    overflow-x: scroll;
    align-items: stretch;
}

.search-autocomplete-chips .search-chips{
    background: transparent;
    border-radius: 20px;
    font-size: 0.8em;
    margin: 0 5px;
    padding: 6px 10px;
    border: 1.5px solid var(--sidebarbgcolor);
    transition: background 0.4s ease,border 0.4s ease;
    /* padding-bottom: 8px; */
}

.search-autocomplete-chips .search-chips:first-child{
    margin-left: 0;
}

.search-autocomplete-chips .search-chips:hover{
    background: var(--hovercolor);
    border: 1.5px solid var(--hovercolor);
    cursor: pointer;
}

.search-autocomplete-chips::-webkit-scrollbar,
.filter-form-wrapper::-webkit-scrollbar{
    display: none;
}

.filter-form-wrapper{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: transparent; 
    overflow: hidden;
    margin-top: 15px;
}

.filter-form-container {
    flex-grow: 1;
    scrollbar-width: none;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient(to right, black 99%, transparent 100%);
    mask-image: linear-gradient(to right, black 99%, transparent 100%);
}

.filter-form .row {
    margin: 0;
    display: flex;
    flex-wrap: nowrap; 
}

.filter-form .col-auto {
    padding: 0 5px; /* Spacing between inputs */
}

.filter-form-select-input,
.form-control.filter-form-select-input,
.filter-form-btn {
    scroll-snap-align: start;
    animation: slide-effect;
    animation-timeline: view(inline);
}

@keyframes slide-effect {
    entry 0%,
    exit 100% {
        opacity: 0.3;
    }

    entry 100%,
    exit 0% {
        opacity: 1;
    }
}

.filter-form select,.filter-form input{
    background: transparent;
    border: 1.5px solid var(--sidebarbgcolor);
    border-radius: 30px;
    color: var(--textcolor);
    font-size: 0.8em;
    padding: 10px;
    width: 214px;
    transition: border 0.4s ease;
}

.filter-form .row{
    --bs-gutter-x: 1rem;
}

.filter-form select:hover,.filter-form input:hover{
    cursor: pointer;
    background: transparent;
}

.filter-form input::placeholder{
    color: var(--textcolor);
}

.filter-form select:is(:hover, :focus, :active),
.filter-form input:is(:hover, :focus, :active){
    outline: 0;
    box-shadow: none;
    background: transparent;
    border: 1.5px solid var(--hovercolor);
}

.filter-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    position: sticky;
    right: 0;
    z-index: 2;
}

.filter-form-button button{
    background: var(--bgcolor);
    color: var(--textcolor);
    border: 0;
    text-align: center;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 0.9em;
}

.filter-form-button button:hover{
    background: var(--hovercolor);
}

/* .search-autocomplete-chips, 
.filter-form-wrapper{
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.ranked_recipes {
    opacity: 0;
    transform: translateY(-40px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.search-autocomplete-chips.active, 
.filter-form-wrapper.active,
.ranked_recipes.active {
    opacity: 1;
    transform: translateY(0);
}

.search-autocomplete-chips.hide, 
.filter-form-wrapper.hide {
    opacity: 0;
    transform: translateY(20px);  
}

.ranked_recipes.hide {
    opacity: 0;
    transform: translateY(40px);  
} */

.weathermodal .modal-body form input:is(:hover, :focus, :active),
.modal-search form input:is(:hover, :focus, :active){
    background: var(--whitesmoke);
    outline: none;
    box-shadow: none;
}

.modal-search form input::placeholder,
.weathermodal form input::placeholder,
.ai-theme-form-content input::placeholder{
    transform: translateX(0);
    font-size: 0.9em;
    opacity: 0.9;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.weathermodal form input::placeholder{
    font-size: inherit;
}

.ai-theme-form-content input::placeholder{
    opacity: 0.7;
}

.weathermodal .modal-body form input:focus::placeholder,
.modal-search form input:focus::placeholder,
.ai-theme-form-content input:focus::placeholder{
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.weathermodal .modal-body table tr th,
.weathermodal .modal-body table tr td {
    color: var(--textcolor);
}

.weathermodal .modal-body table tr th:nth-child(3n+1){
    vertical-align: middle;
    width: 10%;
}

.weathermodal .modal-body table tr th:nth-child(3n+1) span{
    font-size: 1.1em;
    vertical-align: middle;
}

.weathermodal .modal-body table tr th:nth-child(3n+2){
    vertical-align: middle;
    width: 30%;
}

.weathermodal .modal-body table tr:first-child th{
    padding: 5px 0 0 5px;
}

.weathermodal .modal-body table tr:nth-child(2) td{
    padding: 0 5px 10px 0;
}

.weathermodal .modal-body table tr:nth-child(2) div{
    background: var(--sidecardcolor);
    padding: 10px;
    border-radius: 20px;
    line-height: 20px;
}

.weathermodal .modal-body table ul li{
    display: inline-block;
    vertical-align: middle;
}

/* weather modal ends */

.custom-popover {
    --bs-popover-bg: var(--sidecardcolor);
    --bs-popover-border-radius : 30px;
    --bs-popover-bg: var(--sidecardcolor);
    --bs-popover-border : 0;
    --bs-popover-body-color : var(--textcolor);
    --bs-popover-border-color : transparent;
}

.custom-popover span{
    font-style: italic;
    font-size: 0.9em;
}

@media screen and (max-width: 660px){
    .navbar-brand-name a{
        white-space: nowrap; 
        font-size: 0.9em;
        width: calc(70vw - 10px); 
        overflow: hidden;
        text-overflow: ellipsis; 
        top: -15px;
    }

    .sm-location-icon-container{
        font-size: 1em;
        padding-bottom: 2px;
    }

    .scroll-indicator {
        position: fixed;
        top: 10px;
        left: 47.5px;
        height: 40px;
        width: 40px;
    }
    
    .scroll-value{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px){
    .navbar{
        margin-left: 0;
    }

    .navrail{
        display: none;
    }

    .navbar-offcanvas-btn{
        border: 0;
        border-radius: 100%;
        display: block;
        padding: 2px 6px;
        margin-left: -20px;
        position: relative;
        top: 1px;
        transition: all 0.2s ease-in-out;
    }

    .navbar-offcanvas-btn:hover{
        background: whitesmoke;
    }
    
    .navbar-offcanvas-btn:active{
        transform: translateX(10%);
        transition: all 0.2s ease-in-out;
    }

    .weather-widget .container .hstack{
        font-size: 1.2em;
        padding: 0;
        position: relative;
        bottom: 5px;
        z-index: 10;
    }

    .weather-widget .container .hstack .sm-searchbar{
        padding: 0 !important;
        position: relative;
        bottom: 2px;
    }

    .hstack .homenav-weathercontainer .navbarIconWrapper{
        padding: 0;
    }

    .hstack .homenav-weathercontainer .navbarweatherIcon,
    .hstack .homenav-weathercontainer .navbarTempWrapper {
        display: flex;
        align-items: center;
        font-size: 0.7em;
        opacity: 0;
        pointer-events: none;
        padding: 0;
        transition: opacity 0.3s ease;
    }

    .hstack .homenav-weathercontainer .navbarweatherIcon.show-temp,
    .hstack .homenav-weathercontainer .navbarTempWrapper.show-temp {
        opacity: 1;
        pointer-events: auto;
    }

    .navbar .navbar-offcanvas-btn{
        transition: all 0.2s ease-in-out;
    }

    .offcanvas-btn-icon{
        position: relative;
        top: 3px;
        right: 1px;
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .navrail-logo{
        position: absolute;
        top: 12%;
        left: 45px;
    }

    .scroll-indicator {
        position: fixed;
        top: 10px;
        left: 47.5px;
        height: 40px;
        width: 40px;
    }

    .nvarbar-circle-svg{
        height: 45px;
        width: 45px;
    }
    
    .nrweb-logo{
        padding: 5px;
        padding-top: 10px;
        padding-right: 6px;
        width: 45px;
        height: 45px;
    }

    .frosted-scroll-indicator{
        position: fixed;
        top: 5.5px;
        left: 43px;
        height: 48px;
        width: 48px;
    }

    .navbar-brand-name{
        position: absolute;
        left: 100px;
    }

    .navbar-brand-name a{
        left: 5px;
    }

    .navbar-sm-weather .hstack{
        position: relative;
    }

    .nav-sm-icon-slider {
        /* background-color: var(--hovercolor); */
        border-radius: 100%;
        position: absolute;
        z-index: -1;
        transition: 0.3s;
    }

    .navbar-sm-weather .weather-widget{
        display: block;
    }

    .navbar-right-list-items{
        display: none;
    }

    /* logout modal */

    .logoutmodal .modal-body h2{
        font-size: 1.1em;
    }

    /* .logoutmodal .modal-body-footer button,
    .logoutmodal .modal-body-footer a{
        padding: 8px 10px;
    } */

    /* logout modal ends */

    /* notification-offcanvas */
    /* .notification-offcanvas{
        height: 100% !important;
    } */

    .autocomplete-widget{
        max-height: 80vh;
    }

    .Modal-search.show::before {
        content: "";
    }

    .Modal-search  .modal-dialog {
        margin-top: 0;
    }
}  

@media (max-width: 550px){
    .navbar-brand-name a{
        white-space: nowrap; 
        font-size: 0.85em;
        width: calc(60vw - 10px); 
        overflow: hidden;
        text-overflow: ellipsis; 
        top: -15px;
    }

    .autocomplete-widget{
        max-height: 77vh;
    }
}

@media (min-width: 799px) and (max-width:980px){
    .navbar-brand-name a{
        white-space: nowrap; 
        font-size: 0.9em;
        width: calc(66vw - 50px); 
        overflow: hidden;
        text-overflow: ellipsis; 
        top: -15px;
    }

    .Modal-search.show::before {
        content: "";
    }

    .Modal-search  .modal-dialog {
        margin-top: 0;
    }
}