{% extends 'testingapp/newnavbar_navrail.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load socialaccount %}

{% block css %}
{% endblock %}

{% block title %}
<title>Login Cancelled</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="bg-img-containr"></div>
        <div class="col-md-7 d-none d-md-flex google-img" id="backgroundImageContainer"></div>

        <!-- The content half -->
        <div class="col-md-5 second-half">
            <div class="login d-flex align-items-center py-5">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8 mx-auto mt-4">
                            <h3>Login Cancelled</h3>
                            <!-- {% url 'account_login' as login_url %} -->

                            <p>You decided to cancel logging in to our site using one of your existing accounts. 
                                If this was a mistake, please proceed to login
                            </p>
                            
                            <br>

                            <div class="google-login-cancelled-redirect">
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>
{% endblock content %}
