{% extends 'testingapp/newnavbar_navrail.html' %}
{% load hitcount_tags %}

{% load static %}

{% load socialaccount %}

{% block css %}
{% endblock %}


{% block title %}
<title>Sign In Via Google</title>
{% endblock %}

{% load i18n %}
{% load allauth %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="bg-img-containr"></div>
        <div class="col-md-7 d-none d-md-flex google-img" id="backgroundImageContainer"></div>

        <!-- The content half -->
        <div class="col-md-5 second-half">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8 mx-auto mt-4">

                            <h3>Sign in via Google</h3>
                            
                            <p>You are about to sign in using a third-party account from Google.</p>
                            
                            <br>

                            {% element form method="post" no_visible_fields=True %}
                                {% slot actions %}
                                    {% csrf_token %}
                                    <button type="submit">Continue</button>
                                {% endslot %}
                            {% endelement %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
{% endblock content %}
